<div class="menu-main-layout scrollables">

    <div class="menu-main-layout__header">
        <img class="menu-main-layout__header__logo img-responsive"
             src="/images/domains/{{ vm.CONFIG.domainZone }}/logo-mail-dark.svg">
        <button class="menu-main-layout__button-close btn font--size16"
                type="button"
                ng-click="vm.closeMenu()">
            <span class="icon-double-arrow-left"></span>
        </button>
    </div>

    <div class="menu-main-layout__user-info">
        <div class="menu-main-layout__user-info-container" scroll-left>
            <div class="menu-main-layout__users-list">
                <div class="menu-main-layout__user-item"
                     ng-repeat="profile in vm.profiles"
                     ng-if="profile.profile.email !== vm.user.profile.email">
                    <button class="menu-main-layout__avatar" ng-click="vm.setAuthProfile(profile)">
                        <div class="avatar avatar--size53 avatar--second-style"
                             ng-if="profile.profile.photo">
                            <img class="avatar__image"
                                 media-url="profile.profile.photo"
                                 fallback-src="{{'/images/avatar-personal.svg'}}">
                        </div>

                        <avatar-name class="avatar avatar--size53 avatar--second-style"
                                     ng-if="!profile.profile.photo"
                                     name="profile.profile.user_name"
                                     email="profile.profile.email">
                        </avatar-name>
                    </button>
                </div>

                <div class="menu-main-layout__user-item menu-main-layout__user-item--active">
                    <div class="menu-main-layout__avatar">
                        <div class="avatar avatar--size53 avatar--second-style"
                             ng-if="vm.user.profile.photo">
                            <img class="avatar__image"
                                 media-url="vm.user.profile.photo"
                                 fallback-src="{{'/images/avatar-personal.svg'}}">
                        </div>

                        <avatar-name class="avatar avatar--size53 avatar--second-style"
                                     ng-if="!vm.user.profile.photo"
                                     name="vm.user.profile.user_name"
                                     email="vm.user.profile.email">
                        </avatar-name>

                        <button class="menu-main-layout__add-btn icon-close btn--circle btn--size_40 rotate--am90 font--size13"
                                type="button"
                                ui-sref="signIn()">
                        </button>
                    </div>
                    <span class="menu-main-layout__user-name mrg--t10">{{ vm.user.profile.username }}</span>
                    <span class="menu-main-layout__user-mail">{{ vm.user.profile.email }}</span>
                </div>
            </div>
        </div>
    </div>

    <!--основное меню -->
    <div class="menu-main-layout__item">
        <ul class="menu-main">
            <li class="menu-main__item is-sub-menu"
                ng-hide="folder.name === 'Outbox' && !folder.messagesCount"
                ng-class="{'is-sub-menu--open': folder.isOpen}"
                ng-repeat="folder in vm.folders.items">
                <div class="menu-main__item-content" ng-if="!folder.isSub && folder.name !== 'Archive'">
                    <a class="menu-main__link"
                       ng-click="vm.closeMenu();"
                       ui-sref="mail.inbox({mbox: folder.name, filter: undefined, tag_id: undefined})"
                       ui-sref-active="menu-main__link--active">
                        <span class="{{ folder.icon }} menu-main__icon"></span>
                        <!--<span class="menu-main__title">{{ folder.caption }}</span>-->
                        <span class="menu-main__title">{{ folder.name | translate }}</span>
                    </a>
                    <div class="menu-main__additional-option">
                        <button class="menu-main__clear-brush icon-clear btn--not-style font--size12"
                                type="button"
                                ng-class="{'menu-main__link--gray': !folder.messagesCount,
                                    'menu-main__clear-brush--active': (folder.name === 'Junk' || folder.name === 'Trash') && folder.messagesCount
                                }"
                                ng-click="vm.clearFolder($event, folder);"></button>
                        <span class="menu-main__count"
                              ng-if="folder.messagesCount">{{ folder.unseen || '' }}</span>
                        <button class="menu-main__show-additional icon-arrow-down btn--not-style"
                                type="button"
                                ng-if="folder.name === 'INBOX' || folder.name === 'Drafts'"
                                ng-click="folder.isOpen = !folder.isOpen"></button>
                    </div>
                </div>

                <div ng-if="folder.isOpen">
                    <div class="menu-main__item-content" ng-repeat="folderSub in vm.folders.items"
                         ng-if="folderSub.isSub && (folder.name === 'INBOX' || folder.name === 'Drafts')">
                        <ul class="menu-main menu-main--additional"
                            ng-if="(folderSub.name !== 'Templates' && folder.name === 'INBOX') || (folderSub.name === 'Templates' && folder.name === 'Drafts')">
                            <li class="menu-main__item-sub">
                                <a class="menu-main__link"
                                   ng-click="vm.closeMenu();"
                                   ui-sref="mail.inbox({mbox: folderSub.name, filter: undefined, tag_id: undefined})"
                                   ui-sref-active="menu-main__link--active">
                                    <span class="menu-main__icon"
                                          ng-class="{'icon-template': folderSub.name === 'Templates', 'icon-archive': folderSub.name !== 'Templates'}"></span>
                                    <span class="menu-main__title">
                                        {{ folderSub.name | translate }}
                                    </span>
                                </a>
                                <div class="menu-main__additional-option">
                                    <span class="menu-main__count">{{ folderSub.unseen || '' }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </li>
        </ul>

        <!--<hr class="hr hr&#45;&#45;main-menu">-->

        <div class="menu-main__filter">
            <ul class="menu-main-filter">
                <li class="menu-main-filter__item"
                    ui-sref="mail.inbox({mbox: undefined, filter: 'attach', tag_id: undefined})"
                    ui-sref-active="menu-main-filter__item--active"
                    ng-click="vm.closeMenu();">
                    <span class="icon-affix menu-main-filter__icon"></span>
                </li>

                <li class="menu-main-filter__item"
                    ui-sref="mail.inbox({mbox: undefined, filter: 'unseen', tag_id: undefined})"
                    ui-sref-active="menu-main-filter__item--active"
                    ng-click="vm.closeMenu();">
                    <span class="icon-elevation menu-main-filter__icon font--size12"></span>
                </li>

                <li class="menu-main-filter__item"
                    ui-sref="mail.inbox({mbox: undefined, filter: 'flagged', tag_id: undefined})"
                    ui-sref-active="menu-main-filter__item--active"
                    ng-click="vm.closeMenu();">
                    <span class="icon-flagged menu-main-filter__icon"></span>
                </li>
            </ul>
        </div>

        <!-- -->
        <!--<hr class="hr hr&#45;&#45;main-menu">-->

        <!-- -->
        <ul class="menu-main">
            <li class="menu-main__item" ng-repeat="tag in vm.tags.items">
                <div class="menu-main__item-content">
                    <a class="menu-main__link"
                       ui-sref="mail.inbox({mbox: undefined, filter: undefined, tag_id: tag.id})"
                       ng-click="vm.closeMenu();">
                        <span class="icon-marker-mobile-bg menu-main__icon menu-main__icon--select"
                              style="color: {{ tag.bgcolor }}"></span>
                        <span class="menu-main__title">{{ tag.tag_name }}</span>
                    </a>
                </div>
            </li>
            <!--<li class="menu-main__item">
                <div class="menu-main__item-content">
                    <a class="menu-main__link" href>
                        <span class="icon-filter menu-main__icon"></span>
                        <span class="menu-main__title">{{ 'FILTERS' | translate }}</span>
                    </a>
                    <div class="menu-main__additional-option">
                        <div class="radio-button">
                            <input type="checkbox" name="fiter" class="radio-button__checkbox" id="filter-switch"
                                   checked>
                            <label class="radio-button__label" for="filter-switch">
                                <span class="radio-button__inner"></span>
                                <span class="radio-button__switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </li>-->
            <li class="menu-main__item">
                <div class="menu-main__item-content">
                    <a class="menu-main__link"
                       ng-click="vm.goToDesktopVersion('/settings/main?version=desktop')"
                       target="_blank">
                        <span class="icon-settings menu-main__icon"></span>
                        <span class="menu-main__title">{{ 'SETTING' | translate }}</span>
                    </a>
                </div>
            </li>

            <li class="menu-main__item">
                <div class="menu-main__item-content">
                    <a class="menu-main__link"
                       ng-click="vm.logout()"
                       target="_blank">
                        <span class="icon-out-rotate menu-main__icon"></span>
                        <span class="menu-main__title">{{ 'LOGOUT' | translate }}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <!--<div class="menu-main-layout__footer-menu">
        <hr class="hr hr&#45;&#45;main-menu">
        <div class="flex align-items&#45;&#45;cn mrg--l10 mrg--t10 mrg--b20">
            <div class="flex flex&#45;&#45;row-wrap align-items&#45;&#45;cn ">
                <div class="link link&#45;&#45;gray"
                     ng-click="vm.goToDesktopVersion('/mail/inbox?mbox=INBOX&version=desktop')">
                    {{ 'FULL' | translate }} |
                </div>
                <div class="font&#45;&#45;normal">
                    {{ 'MOBILE' | translate }} v 1.0
                </div>
            </div>

            <div class="menu-main-layout__footer-lang">
                <choice-language></choice-language>
            </div>
        </div>
    </div>-->

    <div class="scrollables--y"></div>
</div>

