<div class="menu-main-layout scrollables">
        <!-- хедер меню-->
        <div class="menu-main-layout__header">
            <img class=" menu-main-layout__header__logo img-responsive" src="/images/logo.png">
        </div>

        <div class="menu-main-layout__user-info">
            <div class="menu-main-layout__avatar">
                <div class="avatar avatar--size68 avatar--second-style">
                    <img class="avatar__image" src="/images/avatar-personal.svg" alt="">
                </div>

                <button class="menu-main-layout__add-user  icon-cancel btn--circle btn--size_53 rotate--am90"></button>

            </div>

            <span class="menu-main-layout__user-name mrg__top10">John Doe</span>
            <span class="menu-main-layout__user-mail">john.doe@mail.cz</span>
        </div>

        <!--основное меню -->
        <div class="menu-main-layout__item">
            <ul class="menu-main">
                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link">
                            <span class="icon-inbox menu-main__icon"></span>
                            <span class="menu-mein__title">Входящие</span>
                        </a>
                        <div class="menu-main__additional-option">
                            <span class="menu-main__count">28</span>
                        </div>
                    </div>
                </li>
                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link">
                            <span class="icon-d-folder menu-main__icon"></span>
                            <span class="menu-mein__title">Папка</span>
                        </a>
                        <div class="menu-main__additional-option">
                            <span class="icon-arrow-up menu-main__icon"></span>
                        </div>
                    </div>
                    <div class="menu-main__item__content ">
                        <ul class="menu-main menu-main--additional">
                            <li class="menu-main__item">
                                <a class="menu-main__link menu-main__link--active">
                                    <span class="icon-folder menu-main__icon"></span>
                                    <span class="menu-mein__title">Новая Папка</span>
                                </a>
                                <div class="menu-mein__additional-option"></div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link">
                            <span class="icon-sent menu-main__icon"></span>
                            <span class="menu-mein__title">Отправленные</span>
                        </a>
                        <div class="menu-main__additional-option">
                            <span class="menu-main__count">8</span>
                        </div>
                    </div>
                </li>
                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link">
                            <span class="icon-delete menu-main__icon"></span>
                            <span class="menu-mein__title">Удалённые</span>
                        </a>
                        <div class="menu-main__additional-option">
                            <span class="icon-brush menu-main__icon"></span>
                        </div>
                    </div>
                </li>
                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link">
                            <span class="icon-spam menu-main__icon"></span>
                            <span class="menu-mein__title">Спам</span>
                        </a>
                        <div class="menu-main__additional-option">
                            <span class="menu-main__count">12</span>
                        </div>
                    </div>
                </li>
                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link">
                            <span class="icon-draft menu-main__icon"></span>
                            <span class="menu-mein__title">Черновики</span>
                        </a>
                        <div class="menu-main__additional-option"></div>
                    </div>
                </li>

                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link" href="">
                            <span class="icon-outbox menu-main__icon"></span>
                            <span class="menu-mein__title">Исходящие</span>
                        </a>
                    </div>
                </li>

            </ul>
<!---->

            <hr class="hr hr--main-menu">

            <!-- -->
            <ul class="menu-main">
                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link" href="">
                            <span class="icon-important menu-main__icon"></span>
                            <span class="menu-mein__title">Важные</span>
                        </a>
                        <div class="menu-main__additional-option"></div>
                    </div>
                </li>
                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link" href="">
                            <span class="icon-clip menu-main__icon"></span>
                            <span class="menu-mein__title">С вложениями</span>
                        </a>
                    </div>
                </li>

                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link" href="">
                            <span class="icon-unread menu-main__icon"></span>
                            <span class="menu-mein__title">Непрочитанные</span>
                        </a>
                    </div>
                </li>
            </ul>

            <!-- -->
            <hr class="hr hr--main-menu">

            <!-- -->
            <ul class="menu-main">
                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link" href="">
                            <span class="icon-tag-solid menu-main__icon menu-main__icon--select"></span>
                            <span class="menu-mein__title">Позже</span>
                        </a>
                    </div>
                </li>
                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link" href="">
                            <span class="icon-filter menu-main__icon"></span>
                            <span class="menu-mein__title">Фильтры</span>
                        </a>
                        <div class="menu-main__additional-option">

                            <div class="radio-button">
                                <input type="checkbox" name="fiter" class="radio-button__checkbox" id="filter-switch" checked>
                                <label class="radio-button__label" for="filter-switch">
                                    <span class="radio-button__inner"></span>
                                    <span class="radio-button__switch"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="menu-main__item">
                    <div class="menu-main__item__content">
                        <a class="menu-main__link" href="">
                            <span class="icon-settings menu-main__icon"></span>
                            <span class="menu-mein__title">Настройки</span>
                        </a>
                    </div>
                </li>
            </ul>

        </div>

        <!--футер-->
        <div class="menu-main-layout__footer-menu">
            <!-- -->
            <hr class="hr hr--main-menu">
            <div class="mrg__left10 mrg__top10 mrg__bottom5">
                <span class="">Полная |</span>
                <span class="font__normal">Мобильная v 1.0</span>

            </div>


        </div>

    <div class="scrollables--y"></div>


</div>