<div class="settings-folders">
    <div class="settings-folders__header">
        <button class="btn btn--size_m btn--yellow"
                ng-click="vm.openFolderCreatePopup()">
            {{ 'CREATE_FOLDER' | translate }}
        </button>
    </div>

    <div class="settings-folders__list" ng-repeat="folder in vm.folders.items">
        <div class="settings-folders__item"
             ng-class="{'tags-settings__item--active': folder.isSelected}"
             ng-click="vm.select(folder)"
             ng-if="!folder.isSub">

            <div class="settings-folders__item-content">
                <div class="">
                    <span class="settings-folders__caption">{{ folder.name | translate }}</span>
                    <span class="settings-folders__counter">{{ folder.messagesCount }}</span>
                </div>

                <div class="flex align-items--cn">
                    <button class="btn btn--not-style btn--size_xl pdd--r2 pdd--l2 color--silver"
                            ng-disabled="!vm.selected.name"
                            ng-click="vm.openFolderClearConfirmPopup()">
                        <span class="icon-clear"></span>
                    </button>
                </div>
            </div>

            <div class="settings-folders__list settings-folders__list--sub"
                 ng-repeat="subFolder in vm.folders.items"
                 ng-class="{'tags-settings__item--active': subFolder.isSelected}"
                 ng-click="vm.select(subFolder)"
                 ng-if="subFolder.isSub && (folder.name === 'INBOX' && subFolder.name !== 'Templates') || (folder.name === 'Drafts' && subFolder.name === 'Templates')">
                <div class="settings-folders__item">
                    <div class="settings-folders__item-content">
                        <div class="">
                            <span class="settings-folders__caption">{{ subFolder.name | translate }}</span>
                            <span class="settings-folders__counter">{{ subFolder.messagesCount }}</span>
                        </div>

                        <div class="flex align-items--cn">
                            <button class="btn btn--not-style btn--size_xl pdd--r2 pdd--l2 mrg--r5 color--silver"
                                    ng-click="vm.openFolderEditPopup()">
                                <!--
                                    ng-disabled="!vm.selected.isSub || vm.selected.name === 'Archive'"
                                -->
                                <span class="icon-edit-pen"></span>
                            </button>

                            <button class="btn btn--not-style btn--size_xl pdd--r2 pdd--l2 mrg--r5 color--silver"
                                    ng-click="vm.openFolderClearConfirmPopup()">
                                <!--
                                ng-disabled="!vm.selected.name"
                                -->
                                <span class="icon-clear"></span>
                            </button>

                            <button class="btn btn--not-style btn--size_xl pdd--r2 pdd--l2 color--silver"
                                    ng-click="vm.selected.messagesCount ? vm.openFolderDeleteConfirmPopup() : vm.destroy()">
                                <!--
                                    ng-disabled="!vm.selected.isSub || vm.selected.name === 'Archive' || vm.selected.name === 'Templates'"
                                -->
                                <span class="icon-delete"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>