<div class="inbox-header">
    <div class="inbox-header__row">
        <div class="inbox-header__item">
            <a class="inbox-header__link" href>
                <span class="icon-redo inbox-header__icon inbox-header__icon--green"></span>
                <span class="inbox-header__name">Обновить</span>
            </a>
        </div>

<!--        <div class="inbox-header__item pull-right">
            <a class="inbox-header__link" href>
                <span class="icon-redo inbox-header__icon inbox-header__icon&#45;&#45;green"></span>
                <span class="inbox-header__name">Обновить</span>
            </a>
        </div>-->
    </div>
</div>
