.pos {
  position: static !important;

  &--rel {
    position: relative !important;
  }

  &--fix {
    position: fixed !important;
  }

  &--abs {
    position: absolute !important;
  }

  &--stc {
    position: sticky !important;
  }

  &--int {
    position: initial !important;
  }
}