<div class="message-alert-send message-alert-send--global" ng-show="vm.isShow">
    <div class="message-alert-send__container">
        <span class="message-alert-send__validate-icon"></span>
        <span class="message-alert-send__notific"
              ng-bind-html="vm.message | translate"></span>
        <button class="message-alert-send__close btn--not-style icon-remove-thick btn--main-mobile-color"
                type="button"
                ng-click="vm.close()">
        </button>
    </div>
</div>
