<article class="settings-main">
    <!-- Персональные данные -->
    <section class="settings-main__block">
        <div class="personal-info">
            <div class="personal-info__user-avatar">
                <div class="personal-info__user-info-title main-title-text font--size16 font--bold"> {{
                    'YOUR_PHOTO' | translate }}
                </div>

                <div class="flex--inline">
                    <div class="avatar avatar--settings avatar--size90 avatar--second-style">
                        <img class="avatar__image"
                             media-url="vm.user.profile.photo"
                             fallback-src="/images/avatar-personal.svg"
                             ng-if="!vm.avatar.picFile">

                        <button class="btn--not-style btn--not-events btn--opacity width--all"
                                ng-click="vm.openAvatarUploadPopup()">
                        </button>
                        <button class="avatar__edit btn btn--not-style btn--size_xs color--silver mrg--t10"
                                type="button"
                                ng-if="vm.user.profile.photo"
                                ng-click="vm.removeAvatar()">{{ 'DELETE' | translate }}
                        </button>
                    </div>

                    <div class="flex flex--column mrg--l20">
                        <button class="btn btn--size_m btn--y-gradient btn--border-dark mrg--f-right"
                                type="button"
                                ng-click="vm.openAvatarUploadPopup()">
                            {{ 'AVATAR_LOAD_IMAGE' | translate }}
                        </button>
                        <p class="font--size12 mrg--t10 font--right">
                            {{ 'AVATAR_UPLOAD_TEXT_NOTYF' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Настройки профиля -->
    <section class="settings-main__block">
        <div class="personal-info">
            <profile-form></profile-form>
        </div>
    </section>

    <!-- Дополнительные настройки блок с права -->
    <section class="settings-main__block">
        <user-connection-default></user-connection-default>
    </section>

    <!-- Ваши подписи -->
    <section class="settings-main__block">
        <user-signatures></user-signatures>
    </section>
</article>