<div class="main-container" >
    <div class="main-container__body">
        <div class="main-layout__bread-crumbs mrg--b15">
            <div class="bread-crumbs font-sizer--bigger-18">
                <a class="bread-crumbs__item" ui-sref="mail.inbox({mbox: 'INBOX'})">{{ 'MAIL' | translate }}</a>
                <a class="bread-crumbs__item" ui-sref="settings.main">{{ 'ALL_SETTING' | translate }}</a>
                <a class="bread-crumbs__item bread-crumbs--active" href>{{ 'MANAGE_ACCOUNT' | translate }}</a>
            </div>
        </div>

        <article class="layout-settings padding--bottom8">
            <section class="layout-settings__col mrg__right50  width--aut">

                <!-- Персональные данные -->
                <div class="personal-info mrg--b60">

                    <div class="personal-info__user-avatar mrg__bottom45 flex flex--colum">
                        <div class="personal-info__user-info-title main-title-text font--size16 font--bold"> {{ 'YOUR_PHOTO' | translate }}</div>

                        <div class="flex--inline align-items--cn">
                            <div class="avatar avatar--settings avatar--size90 avatar--second-style">
                                <!-- <div class="avatar__crop"
                                      ngf-drop ngf-pattern="image/*"
                                      ng-if="vm.avatar.picFile"
                                      style="width:283px;height:283px;">
                                     <img-crop image="vm.avatar.picFile | ngfDataUrl"
                                               result-image="vm.avatar.croppedDataUrl"
                                               ng-init="vm.avatar.croppedDataUrl=''">
                                     </img-crop>
                                 </div>-->
                                <img class="avatar__image"
                                     media-url="vm.user.profile.photo"
                                     fallback-src="/images/avatar-personal.svg"
                                     ng-if="!vm.avatar.picFile">
                                <!--<span class="avatar__edit avatar__edit&#45;&#45;add"></span>-->
                                <button class="btn--not-style btn--not-events btn--opacity position--all width--all" ng-click="vm.openAvatarUploadPopup()"></button>
                                <button class="avatar__edit btn btn--not-style btn--size_xs color--silver mrg--t10"
                                        type="button"
                                        ng-if="vm.user.profile.photo"
                                        ng-click="vm.removeAvatar()">{{ 'DELETE' | translate }}</button>
                            </div>
                            <div class="mrg__left20">
                                <button class="btn btn--size_s btn--normal"
                                        ng-click="vm.openAvatarUploadPopup()">{{ 'AVATAR_LOAD_IMAGE' | translate }}
                                </button>
                                <p class="font--size13 color--gray mrg--t10 width--size328">
                                    {{ 'AVATAR_UPLOAD_TEXT_NOTYF' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="personal-info__user-info">
                        <profile-form></profile-form>
                    </div>
                </div>

            </section>
            <!---->
            <section class="layout-settings__col width--aut">

                <!-- Дополнительные настройки блок с права -->
                <div class="additional-info">

                    <!-- Безопасность аккаунта -->
                    <!--<div class="additional-info__block mrg&#45;&#45;r30">
                        <div class="main-title-text main-title-text__icon">
                            <img class=" main-title-text__icon&#45;&#45;size27" src="images/safety-g.svg" alt="">
                            {{ 'ACCOUNT_SECURITY' | translate }}
                        </div>

                        <div class="additional-info__block__option">
                            <a class="additional-info__block__link link link&#45;&#45;disabled" href="#">
                                {{ 'ACCOUNT_IS_VERY_SECURITY' | translate }}
                            </a>

                            <a class="additional-info__block__link link mrg&#45;&#45;b10" href
                               ng-click="vm.openPasswordChangePopup()">
                                {{ 'BTN_CHANGE_PASSWORD' | translate }}
                            </a>

                            <a class="additional-info__block__link link mrg&#45;&#45;b10" href
                               ng-if="!user.profile.additionalMails.length"
                               ng-click="vm.openEmailAddPopup()">{{ 'ADD_EMAIL' | translate }}</a>

                            &lt;!&ndash;                    <div class="additional-info__block__link">
                                                    <span class="additional-info__block__title">{{ user.profile.email }}</span>
                                                    <button class="additional-info__block__link link btn btn&#45;&#45;not-style"
                                                            ng-if="!user.profile.additionalMails.length"
                                                            ng-click="vm.openEmailAddPopup()">
                                                        Добавить запасной емейл
                                                    </button>
                                                </div>&ndash;&gt;

                            <div class="additional-info__block__link mrg&#45;&#45;b10"
                                 ng-if="user.profile.additionalMails.length">
                        <span class="additional-info__block__title">
                            {{ user.profile.additionalMails[0].email }}
                        </span>
                                <button class="additional-info__block__link link btn btn&#45;&#45;not-style"
                                        ng-click="vm.destroyEmail();">
                                    {{ 'DELETE' | translate }}
                                </button>
                            </div>

                            <div class="additional-info__block__link">
                                <span class="additional-info__block__title">+{{ user.profile.phone }}</span>
                                <button class="additional-info__block__link link btn btn&#45;&#45;not-style"
                                        ng-click="vm.openPhoneChangePopup()">
                                    {{ 'BTN_CHANGE_PHONE' | translate }}
                                </button>
                            </div>
                        </div>

                    </div>-->

                    <!-- Другие настройки -->
                    <div class="additional-info__block mrg--t30">
                        <!--<div class="main-title-text main-title-text__icon">
                            <img class=" main-title-text__icon&#45;&#45;size27" src="images/other-settings.svg" alt="">
                            {{ 'OTHER_SETTINGS' | translate }}
                        </div>-->
                        <div class="additional-info__block__option">
                            <!--<a class="additional-info__block__link" href ng-click="vm.destroy()">
                                {{ 'DELETE_ACCOUNT' | translate }}
                            </a>-->
                            <div>
                                <user-connection-default></user-connection-default>
                            </div>

                        </div>

                    </div>
                </div>

            </section>

            <section class="layout-settings__row separate--top mrg__top30">

                <!-- Ваши подписи -->
                <user-signatures></user-signatures>

            </section>
        </article>
    </div>

    <aside-right class="aside-right--settings aside-right--left-line-hide"></aside-right>
</div>

<!--<article class="layout-settings">-->
<!--<section class="layout-settings__col width&#45;&#45;aut">-->
<!--&lt;!&ndash; Персональные данные &ndash;&gt;-->
<!--<div class="personal-info">-->
<!--<div class="personal-info__user-avatar mrg__bottom45 flex flex&#45;&#45;colum">-->
<!--<div class="avatar avatar&#45;&#45;settings avatar&#45;&#45;size140 avatar&#45;&#45;second-style"-->
<!--ng-click="vm.openAvatarUploadPopup()">-->
<!--<img class="avatar__image"-->
<!--media-url="vm.user.profile.photo"-->
<!--fallback-src="/images/avatar-personal.svg">-->
<!--<span class="avatar__edit avatar__edit&#45;&#45;add"></span>-->
<!--</div>-->
<!--<button class="btn btn&#45;&#45;not-style btn&#45;&#45;size_s color&#45;&#45;silver mrg--t10">Удалить</button>-->
<!--</div>-->

<!--<div class="personal-info__user-info">-->
<!--<div class="personal-info__user-info-title main-title-text">{{ 'PERSONAL_DATA' | translate }}</div>-->
<!--<profile-form></profile-form>-->
<!--</div>-->

<!--</div>-->

<!--</section>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--<section class="layout-settings__col width&#45;&#45;aut">-->

<!--<div class="mrg--b20">-->
<!--<user-connection-default></user-connection-default>-->
<!--</div>-->

<!--&lt;!&ndash; Дополнительные настройки блок с права &ndash;&gt;-->
<!--<div class="additional-info">-->

<!--&lt;!&ndash; Безопасность аккаунта &ndash;&gt;-->
<!--<div class="additional-info__block ">-->
<!--<div class="main-title-text main-title-text__icon">-->
<!--<img class=" main-title-text__icon&#45;&#45;size27" src="images/safety-g.svg" alt="">-->
<!--{{ 'ACCOUNT_SECURITY' | translate }}-->
<!--</div>-->

<!--&lt;!&ndash;<div class="additional-info__block__option">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="additional-info__block__link link&#45;&#45;disabled" href="#">Аккаунт достаточно защищен</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a class="additional-info__block__link" href="#">Сменить пароль</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a class="additional-info__block__link" href="#">Привязать запасной e-mail</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a class="additional-info__block__link" href="#">Добавить номер телефона</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="additional-info__block__option">-->
<!--<a class="additional-info__block__link link link&#45;&#45;disabled" href="#">-->
<!--{{ '' | translate }}Аккаунт достаточно защищен-->
<!--</a>-->

<!--<a class="additional-info__block__link link mrg--b10" href-->
<!--ng-click="vm.openPasswordChangePopup()">-->
<!--{{ 'BTN_CHANGE_PASSWORD' | translate }}-->
<!--</a>-->

<!--<a class="additional-info__block__link link mrg--b10" href-->
<!--ng-if="!user.profile.additionalMails.length"-->
<!--ng-click="vm.openEmailAddPopup()">{{ 'BTN_CHANGE_EMAIL' | translate }}</a>-->

<!--&lt;!&ndash;                    <div class="additional-info__block__link">-->
<!--<span class="additional-info__block__title">{{ user.profile.email }}</span>-->
<!--<button class="additional-info__block__link link btn btn&#45;&#45;not-style"-->
<!--ng-if="!user.profile.additionalMails.length"-->
<!--ng-click="vm.openEmailAddPopup()">-->
<!--Добавить запасной емейл-->
<!--</button>-->
<!--</div>&ndash;&gt;-->
<!--<div class="additional-info__block__link mrg--b10"-->
<!--ng-if="user.profile.additionalMails.length">-->
<!--<span class="additional-info__block__title">-->
<!--{{ user.profile.additionalMails[0].email }}-->
<!--</span>-->
<!--</div>-->
<!--<div class="additional-info__block__link">-->
<!--<span class="additional-info__block__title">+{{ user.profile.phone }}</span>-->
<!--<button class="additional-info__block__link link btn btn&#45;&#45;not-style"-->
<!--ng-click="vm.openPhoneChangePopup()">-->
<!--{{ 'BTN_CHANGE_PHONE' | translate }}-->
<!--</button>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--&lt;!&ndash; Другие настройки &ndash;&gt;-->
<!--<div class="additional-info__block ">-->
<!--<div class="main-title-text main-title-text__icon">-->
<!--<img class=" main-title-text__icon&#45;&#45;size27" src="images/other-settings.svg" alt="">-->
<!--{{ 'OTHER_SETTINGS' | translate }}-->
<!--</div>-->
<!--<div class="additional-info__block__option">-->
<!--<a class="additional-info__block__link" href ng-click="vm.destroy()">-->
<!--{{ 'DELETE_ACCOUNT' | translate }}-->
<!--</a>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Привязать профиль&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--<div class="additional-info__block">-->
<!--<div class="main-title-text main-title-text__icon">-->
<!--<img class=" main-title-text__icon&#45;&#45;size27 hide-elm" src="images/other-settings.svg"-->
<!--alt="">-->
<!--Привязать профиль-->
<!--</div>-->

<!--<div class="additional-info__block__snap-profile ">-->
<!--<div class="social-icons">-->
<!--<button class="social-icons__icon social-icons&#45;&#45;vk-icon social-icons&#45;&#45;btn-tied btn"-->
<!--type="button"></button>-->
<!--<button class="social-icons__icon social-icons&#45;&#45;fb-icon btn"-->
<!--type="button"></button>-->
<!--<button class="social-icons__icon social-icons&#45;&#45;tw-icon btn"-->
<!--type="button"></button>-->
<!--<button class="social-icons__icon social-icons&#45;&#45;gp-icon btn"-->
<!--type="button"></button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&ndash;&gt;-->

<!--&lt;!&ndash; Чекбоксы &ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--<div class="additional-info__block">-->

<!--<div class="font--bold font--size13">-->
<!--{{ 'SETTINGS_ACCESS_OK' | translate }}-->
<!--</div>-->

<!--<form class="additional-info__allow form" action="">-->

<!--<label class="checkbox-y__label checkbox-y" for="isChecked1">-->
<!--<input class="checkbox-y__input"-->
<!--id="isChecked1"-->
<!--type="checkbox"-->
<!--name="isChecked"-->
<!--ng-model="isChecked">-->
<!--<div class="checkbox-y__body">-->
<!--<span class="checkbox-y__icon">-->
<!--</span>-->
<!--</div>-->
<!--<span class="checkbox__text " role="presentation">-->
<!--{{ 'WITH_PROTOCOL_IMAP' | translate }}-->
<!--</span>-->
<!--</label>-->
<!--<label class="checkbox-y__label checkbox-y" for="isChecked2">-->
<!--<input class="checkbox-y__input"-->
<!--id="isChecked2"-->
<!--type="checkbox"-->
<!--name="isChecked"-->
<!--ng-model="isChecked">-->
<!--<div class="checkbox-y__body">-->

<!--<span class="checkbox-y__icon">-->
<!--</span>-->
<!--</div>-->
<!--<span class="checkbox__text " role="presentation">-->
<!--{{ 'WITH_PROTOCOL_POP3' | translate }}-->
<!--</span>-->
<!--</label>-->

<!--</form>-->

<!--</div>-->
<!--&ndash;&gt;-->
<!--</div>-->

<!--</section>-->

<!--<section class="layout-settings__row separate&#45;&#45;top mrg__top30">-->

<!--&lt;!&ndash; Ваши подписи &ndash;&gt;-->
<!--<user-signatures></user-signatures>-->

<!--</section>-->
<!--</article>-->