<div class="auth-layout">

    <div class="auth-layout__content">
        <div class="auth-layout__form">

            <div class="card">
                <div class="text-center" ng-if="vm.isTokenAuthLoading">
                    <spinner is-global="false"
                             is-open="true"></spinner>
                </div>

                <div class="auth-form" ng-if="!vm.isTokenAuthLoading">
                    <div class="auth-form__logo mrg__bottom16">
                        <a href="https://mail.cz">
                            <img class="img-responsive mrg__auto"
                                 src="/images/logo-mailcz-dark.svg"
                                 style="width: 141px;"
                                 logo-hover>
                        </a>
                        <hr class="hr hr--auth mrg__top16">
                    </div>
                    <form class="form" name="userForm" ng-submit="vm.login(userForm)" novalidate>
                        <!-- логин -->
                        <div class="form__field-item mrg__bottom10">
                            <div class="field-style position">
                                <span class="input-plash input-plash--top13 font__size13">@mail.cz</span>
                                <input class="input input--size_l input--up-shadow width--inh"
                                       type="text"
                                       placeholder="{{ 'INPUT_PLACEHOLDER_LOGIN' | translate }}"
                                       ng-model="vm.userForm.model.username"
                                       login-format
                                       required>
                                <validation-errors data="userForm.username"
                                                   messages="vm.userForm.validations.username">
                                </validation-errors>
                            </div>
                        </div>

                        <!-- пароль -->
                        <div class="form__field-item mrg__bottom10">
                            <div class="field-style">
                                <input class="input input--size_l input--up-shadow width--inh"
                                       type="password"
                                       ng-model="vm.userForm.model.password" required placeholder="{{ 'INPUT_PLACEHOLDER_PASSWORD' | translate }}">
                            </div>
                            <validation-errors data="userForm.password"
                                               messages="vm.userForm.validations.password">
                            </validation-errors>
                        </div>

                        <!-- войти -->
                        <div class="form__field-item mrg__bottom10">
                            <div class="field-style text-center">
                                <button class="btn btn--size_l btn--yellow width--inh" type="submit"
                                        ng-if="!vm.userForm.isLoading">{{ 'SING_IN' | translate }}</button>
                                <div ng-if="vm.userForm.isLoading">
                                    <spinner is-global="false"
                                             is-open="true"></spinner>
                                </div>
                            </div>
                        </div>

                        <div class="validation mrg__bottom10">
                            <div class="validation__message validation__message--red">
                                {{ vm.userForm.errors | translate }}
                            </div>
                        </div>

                        <!-- запомнить / забыли-->
                        <div class="form__field-item mrg__bottom10 flex flex--just-s-a">
                            <div class="field-style widtn--inh">
                                <!--наш чекбокс -->
                                <label class="checkbox-y__label checkbox-y" for="isChecked">
                                    <input class="checkbox-y__input" id="isChecked" type="checkbox" name="isChecked"
                                           ng-model="isChecked">
                                    <div class="checkbox-y__body">
                                            <span class="checkbox-y__icon">
                                            </span>
                                    </div>
                                    <span class="checkbox__text " role="presentation">
                                        {{'REMEMBER_ME' | translate }}
                                    </span>
                                </label>
                            </div>
                            <div class="field-style widtn--inh font__right">
                                <a class="link link-aith" ui-sref="passwordReset">{{ 'FORGOT_YOUR_PASSWORD' | translate }}</a>
                            </div>
                        </div>


                    </form>

                    <hr class="hr hr--auth ">

                    <button class="btn btn--size_l btn--normal width--inh btn--s-gradient" ui-sref="signUp">{{ 'CHECK_IN' | translate }}</button>

                    <div class="text-center mrg__top20">
                        <social-auth></social-auth>
                    </div>

                </div>
            </div>

        </div>

        <!-- футтер на странице авторизации-->
        <div class="footer footer__auth">

            <!-- Копирайт-->
            <div class="footer__copyright">
                <span class="">© 2001—2017 «Mail.cz» Group a.s.</span>
            </div>

            <!-- Основное меню-->
            <div class="footer__menu">
                <div class="navigation">
                    <div class="navigation__row">
                        <div class="navigation__item">
                            <!--<a class="navigation__link navigation__link&#45;&#45;footer-a" href="">Контакты</a>-->
                        </div>

                    </div>
                </div>
            </div>

            <!-- Дополнительное меню с выбором языка-->
            <div class="footer__right-menu  mrg__right">

                <div class="navigation">
                    <div class="navigation__row">
                        <div class="navigation__item position width--size28">

                            <!-- Языковое меню-->
                            <choice-language></choice-language>

                        </div>
                        <!--<div class="navigation__item">
                            <a class="navigation__link" href="">
                                {{ 'CONTACTS' | translate }}
                            </a>
                        </div>-->
                        <!--<div class="navigation__item"><a class="navigation__link" href="">Реклама</a></div>-->
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="auth-layout__bg"></div>
</div>


