<div class="auth-layout">

    <div class="auth-layout__content">
        <div class="auth-layout__form">
            <div class="card card--black">
                <div class="text-center" ng-if="vm.isTokenAuthLoading">
                    <spinner is-global="false"
                             is-open="true"></spinner>
                </div>

                <div class="auth-form" ng-if="!vm.isTokenAuthLoading">
                    <div class="auth-form__logo mrg--b16">
                        <a href="{{ vm.CONFIG.parentHost }}">
                            <img class="img-responsive mrg--auto"
                                 src="/images/domains/{{ vm.CONFIG.domainZone }}/logo-mail-white.svg"
                                 style="width: 141px;"
                                 logo-hover>
                        </a>
                        <hr class="hr hr--auth mrg--t16">
                    </div>

                    <form class="form form--dark form--validation" name="userForm" ng-submit="vm.login(userForm) " novalidate>
                        <!-- логин -->
                        <div class="form__field-item mrg--b20">
                            <div class="field-style field-style--light pos--rel">
                                <div class="field-style__group field-style__focus">
                                    <span class="input-plash input-plash--top13 font--size13">@mail.{{ vm.CONFIG.domainZone }}</span>

                                    <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12 pdd--l38 pdd--r70"
                                           type="text"
                                           placeholder="{{ 'INPUT_PLACEHOLDER_LOGIN' | translate }}"
                                           ng-model="vm.userForm.model.username"
                                           login-format
                                           required>

                                    <div class="input-icon flex">
                                        <span class="icon-email mrg--auto"></span>
                                    </div>
                                </div>

                                <validation-errors data="userForm.username"
                                                   messages="vm.userForm.validations.username">
                                </validation-errors>
                            </div>
                        </div>

                        <!-- пароль -->
                        <div class="form__field-item mrg--b10">
                            <div class="field-style field-style--light">
                                <div class="field-style__group field-style__focus">
                                    <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12 pdd--l38"
                                           type="{{ vm.isPasswordShow ? 'text' : 'password' }}"
                                           ng-model="vm.userForm.model.password" required
                                           placeholder="{{ 'INPUT_PLACEHOLDER_PASSWORD' | translate }}">

                                    <div class="input-icon flex">
                                        <span class="icon-password mrg--auto"></span>
                                    </div>

                                    <button class="btn btn--not-style btn--size_l font--size18 view-pass view-pass--right-input flex"
                                            type="button"
                                            ng-click="vm.isPasswordShow = !vm.isPasswordShow">
                                        <span class="icon-show-password mrg--auto"
                                              ng-class="{'icon-hide-password' : vm.isPasswordShow, 'icon-show-password' : !vm.isPasswordShow }"></span>
                                    </button>
                                </div>
                            </div>
                            <validation-errors data="userForm.password"
                                               messages="vm.userForm.validations.password">
                            </validation-errors>
                        </div>

                        <!-- Валидация-->
                        <div class="validation validation--form-auth" ng-if="vm.userForm.errors">
                            <div class="validation__message validation__message--red">
                                {{ vm.userForm.errors | translate }}
                            </div>
                        </div>

                        <!-- войти -->
                        <div class="form__field-item pdd--t10 mrg--b20">
                            <div class="field-style field-style--light text-center">
                                <button class="btn btn--size_l btn--yellow width--inh" type="submit"
                                        ng-if="!vm.userForm.isLoading">{{ 'SING_IN' | translate }}
                                </button>
                                <div ng-if="vm.userForm.isLoading">
                                    <spinner is-global="false"
                                             is-open="true">
                                    </spinner>
                                </div>
                            </div>
                        </div>

                        <!-- запомнить / забыли-->
                        <div class="form__field-item mrg--b10 flex flex--just-s-a">
                            <div class="field-style widtn--inh">
                                <!--наш чекбокс -->
                                <label class="checkbox-y__label checkbox-y" for="isChecked">
                                    <input class="checkbox-y__input" id="isChecked" type="checkbox" name="isChecked"
                                           ng-model="isChecked">
                                    <div class="checkbox-y__body">
                                        <span class="checkbox-y__icon">
                                        </span>
                                    </div>
                                    <span class="checkbox__text color--white" role="presentation">
                                        {{'REMEMBER_ME' | translate }}
                                    </span>
                                </label>
                            </div>
                            <div class="field-style widtn--inh font--right">
                                <a class="link link--yellow" ui-sref="passwordReset">
                                    {{ 'FORGOT_YOUR_PASSWORD' | translate }}
                                </a>
                            </div>
                        </div>
                    </form>

                    <hr class="hr hr--auth ">

                    <button class="btn btn--size_l btn--normal width--inh btn--s-gradient" ui-sref="signUp">{{ 'CHECK_IN' | translate }}</button>

                    <div class="text-center mrg--t20">
                        <social-auth></social-auth>
                    </div>
                </div>
            </div>
        </div>

        <!-- футтер на странице авторизации-->
        <div class="footer footer__auth">
            <div style="width: 30px;"></div>

            <div class="footer__copyright">
                <span>© 2017 Mail Group, a.s.</span>
            </div>

            <div class="footer__right-menu">
                <div class="navigation">
                    <div class="navigation__row">
                        <div class="navigation__item pos--rel width--size28">
                            <choice-language></choice-language>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="auth-layout__bg"></div>
</div>