<div class="auth-layout">
    <div class="password-reset-layout__content">
        <div class="password-reset-layout__form">

            <div class="card">
                <div class="auth-form">

                    <div class="main-title-text text-center">
                        {{ 'ACCESS_RECOVERY_STEP_2' | translate }} <br>
                        {{ vm.username }}@mail.cz
                    </div>

                    <hr>

                    <div class="text-center mrg__bottom30" ng-if="vm.step === 1"
                         ng-bind-html="'ENTER_PHONE_OR_EMAIL' | translate">
                    </div>

                    <div class="text-center mrg__bottom30" ng-if="vm.step === 2">
                        <div ng-if="vm.isEmail(vm.passwordResetForm.model.mail_or_phone)">
                            {{ 'ENTER_MAIL_CODE' | translate }}
                        </div>
                        <div ng-if="!vm.isEmail(vm.passwordResetForm.model.mail_or_phone)">
                            {{ 'ENTER_PHONE_CODE' | translate }}
                        </div>
                    </div>

                    <form class="form"
                          name="passwordResetForm"
                          ng-if="vm.step === 1"
                          ng-submit="vm.requestPasswordReset(passwordResetForm)"
                          novalidate>

                        <div class="form__field-item mrg__bottom6">
                            <div class="field-style">

                                <div class="field-style__group flex align-items--cn">
                                    <label class="mrg__right20">{{ 'PHONE_OR_EMAIL' | translate }}:</label>
                                    <input class="input input--size_l input--up-shadow width--size328"
                                           type="text"
                                           name="mail_or_phone"
                                           ng-model="vm.passwordResetForm.model.mail_or_phone"
                                           required>
                                </div>

                                <validation-errors data="passwordResetForm.mail_or_phone"
                                                   server="vm.passwordResetForm.errors"
                                                   messages="vm.passwordResetForm.validations.mail_or_phone">
                                </validation-errors>
                            </div>
                        </div>

                        <!-- кнопка Далее -->
                        <div class="form__field-item  mrg__top25">
                            <div class="field-style">
                                <button class="btn btn--size_l btn--yellow width--inh" type="submit">
                                    {{ 'CONTINUE' | translate }}
                                </button>
                            </div>
                        </div>
                    </form>

                    <form class="form"
                          name="userForm"
                          ng-submit="vm.resetPassword(userForm)"
                          ng-if="vm.step === 2"
                          novalidate>

                        <div class="form__field-item mrg__bottom6">
                            <div class="field-style">

                                <div class="field-style__group">

                                    <input class="input input--size_l width--inh input--up-shadow font__center"
                                           type="text"
                                           name="code"
                                           ng-model="vm.userForm.model.code"
                                           placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_SMS_CODE' | translate }} "
                                           required>

                                    <validation-errors data="userForm.code"
                                                       server="vm.userForm.errors"
                                                       messages="vm.userForm.validations.code">
                                    </validation-errors>

                                </div>
                            </div>
                        </div>

                        <!-- Пароль-->
                        <div class="form__field-item mrg__bottom6">
                            <div class="field-style ">

                                <div class="field-style__group">

                                    <input class="input input--size_l width--inh input--up-shadow font__center"
                                           type="password"
                                           name="newpassword"
                                           ng-model="vm.userForm.model.newpassword"
                                           placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_NEW_PASSWORD' | translate }}"
                                           required>

                                    <validation-errors data="userForm.newpassword"
                                                       server="vm.userForm.errors"
                                                       messages="vm.userForm.validations.newpassword">
                                    </validation-errors>

                                </div>
                            </div>
                        </div>

                        <!-- Пароль 2-->
                        <div class="form__field-item">

                            <div class="field-style">

                                <div class="field-style__group">

                                    <input class="input input--size_l width--inh input--up-shadow font__center"
                                           type="password"
                                           name="passwordConf"
                                           ng-model="vm.userForm.model.passwordConf"
                                           placeholder="{{ 'INPUT_PLACEHOLDER_CONFIRM_NEW_PASSWORD' | translate }}"
                                           required>

                                    <validation-errors data="userForm.passwordConf"
                                                       server="vm.userForm.errors"
                                                       messages="vm.userForm.validations.passwordConf">
                                    </validation-errors>

                                </div>
                            </div>
                        </div>

                        <div class="validation mrg__bottom10 text-center">
                            <div class="validation__message validation__message--red">
                                {{ vm.error.message }}
                            </div>
                        </div>

                        <!-- кнопка Далее -->
                        <div class="form__field-item  mrg__top25">
                            <div class="field-style">
                                <button class="btn btn--size_l btn--yellow width--inh" type="submit">
                                    {{ 'BTN_SAVE_AND_CONTINUE' | translate }}
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

        <!-- футтер на странице авторизации-->
        <div class="footer footer__auth">

            <!-- Копирайт-->
            <div class="footer__copyright">
                <span class="">© 2001—2017 «Mail.cz» Group a.s.</span>
            </div>

            <!-- Основное меню-->
            <div class="footer__menu">
                <div class="navigation">
                    <div class="navigation__row">
                        <div class="navigation__item">
                            <!--<a class="navigation__link navigation__link&#45;&#45;footer-a" href="">Контакты</a>-->
                        </div>

                    </div>
                </div>
            </div>

            <!-- Дополнительное меню с выбором языка-->
            <div class="footer__right-menu  mrg__right">

                <div class="navigation">
                    <div class="navigation__row">
                        <div class="navigation__item position width--size28 ">

                            <!-- Языковое меню-->
                            <choice-language></choice-language>

                        </div>
                        <!--<div class="navigation__item"><a class="navigation__link" href="">{{ 'CONTACTS' | translate }}</a></div>-->
                        <!--<div class="navigation__item"><a class="navigation__link" href="">Реклама</a></div>-->
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="auth-layout__bg"></div>
</div>