<div class="auth-layout">

    <div class="password-reset-layout__content">
        <div class="password-reset-layout__form">

            <div class="card">
                <div class="auth-form">

                    <div class="main-title-text">Восстановление доступа</div>

                    <form class="form" name="userForm" ng-submit="vm.login(userForm)" novalidate>

                        <!-- Пароль-->
                        <div class="form__field-item mrg__bottom6">
                            <div class="field-style ">

                                <div class="field-style__group">

                                    <input class="input input--size_l input--up-shadow width--size328 font__center"
                                           type="password"
                                           name="username"
                                           ng-model="vm.userForm.model.username"
                                           placeholder="Введите новый пароль"
                                           required>

                                    <validation-errors data="userForm.username"
                                                       server="vm.userForm.errors"
                                                       messages="vm.userForm.validations.username">
                                    </validation-errors>

                                </div>
                            </div>
                        </div>

                        <!-- Пароль 2-->
                        <div class="form__field-item">

                            <div class="field-style">

                                <div class="field-style__group">

                                    <input class="input input--size_l input--up-shadow width--size328 font__center"
                                           type="password"
                                           name="username"
                                           ng-model="vm.userForm.model.username"
                                           placeholder="Введите новый пароль"
                                           required>

                                    <validation-errors data="userForm.username"
                                                       server="vm.userForm.errors"
                                                       messages="vm.userForm.validations.username">
                                    </validation-errors>


                                </div>
                            </div>
                        </div>

                        <!-- кнопка Далее -->
                        <div class="form__field-item  mrg__top25">
                            <div class="field-style">

                                <button class="btn btn--size_l btn--red width--inh" ui-sref="signIn">Сохранить и продолжить</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="auth-layout__bg"></div>
</div>

<!-- футтер на странице авторизации-->
<div class="footer footer__auth">

    <!-- Копирайт-->
    <div class="footer__copyright">
        <span class="">© 2001—2017 «Mail.cz» Group a.s.</span>
    </div>

    <!-- Основное меню-->
    <div class="footer__menu">
        <div class="navigation">
            <div class="navigation__row">
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a" href="">Поиск</a>
                </div>
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a"
                                                 href="">Контакты</a></div>
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a" href="">Файлы</a>
                </div>
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a" href="">Новости</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Дополнительное меню с выбором языка-->
    <div class="footer__right-menu  mrg__right">

        <div class="navigation">
            <div class="navigation__row">
                <div class="navigation__item position width--size28 ">

                    <div class="choice-language">

                        <a class="choice-language__link choice-language--active" href=""><img class="choice-language__country" src="images/country/albania.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/bosnia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/croatia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/cz.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/macedonia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/russia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/serbia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/slovakia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/Slovenia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/uk.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/ukraine.svg" alt=""></a>

                    </div>
                </div>
                <div class="navigation__item"><a class="navigation__link" href="">Контакты</a></div>
                <div class="navigation__item"><a class="navigation__link" href="">Реклама</a></div>
            </div>
        </div>
    </div>

</div>