<div class="header">
    <div class="header__container">
        <div class="header__left">
            <button class="icon-menu btn btn--not-style header__icon"></button>
        </div>

        <div class="header__center">
            <span class="">Входящие</span>
            <span class="header__center__count-letters">28</span>

        </div>

        <div class="header__right">

            <form class="search-block widtn-inh search-block--no-active" action="">
                <input class="input input--no-border input--no-focus input--size_l width--all" type="text" placeholder="Поиск писем">
                <button class="search-block__icon-close icon-cancel btn btn--not-style btn--size_s mrg__right"></button>
                <button class="search-block__icon icon-lens btn btn--not-style header__icon mrg__right"></button>
            </form>


        </div>
        <hr class="hr hr--header">
        

    </div>
</div>