<div class="header">

    <!--
        у нас используется разный хедер для страниц
        для активации нужнохо хедера просто  нужно добавлять класс is-active
        при условии открития нужной страници
    -->

    <!-- Хедер для главной страници -->
    <div class="header__main is-active" ng-if="!vm.isSearch && vm.$state.current.name === 'mail.inbox'">
        <div class="header__container">
            <div class="header__left">
                <button class="icon-menu btn btn--not-style btn--main-mobile-color header__icon padding--left"
                        ng-click="vm.openMenu()"></button>
            </div>

            <div class="header__center">
                <span class="header__title-text">{{ vm.currentFolder.caption }}</span>
                <span class="header__count-letters">{{ vm.currentFolder.messagesCount }}</span>
            </div>

            <div class="header__right">
                <button class="search-block__icon icon-lens btn btn--not-style btn--main-mobile-color header__icon mrg__right padding--right"
                        type="button"
                        ng-click="vm.isSearch = true;"></button>
            </div>
            <hr class="hr hr--header hr--yellow">
        </div>
    </div>

    <!-- Хедер для страници поиска-->
    <div class="header__search is-active" ng-if="vm.isSearch && vm.$state.current.name === 'mail.inbox'">
        <div class="header__container">
            <div class="header__left">
                <button class="icon-arrow-left btn btn--not-style btn--main-mobile-color header__icon padding--left"
                        type="button"
                        ng-click="vm.isSearch = false; vm.clearSearch();"></button>
            </div>
            <div class="header__right width--inh">
                <form class="search-block widtn-inh search-block" ng-submit="vm.search()">
                    <input class="input input--no-border input--no-focus input--size_l width--all"
                           type="text"
                           placeholder="Поиск писем"
                           ng-model="vm.searchForm.model.search">
                    <button class="search-block__icon-close icon-cancel btn btn--not-style btn--main-mobile-color btn--size_s mrg__right"
                            type="button"
                            ng-click="vm.clearSearch()"></button>
                    <button class="search-block__icon icon-lens btn btn--not-style btn--main-mobile-color header__icon mrg__right"
                            type="submit"></button>
                </form>
            </div>
            <!--<hr class="hr hr&#45;&#45;header hr&#45;&#45;yellow">-->
        </div>
    </div>

    <!-- Хедер для страници просмотра письма-->
    <div class="header__massege-replay is-active" ng-if="vm.$state.current.name === 'mail.message'">
        <div class="header__container">
            <div class="header__left">
                <button class="icon-arrow-left btn btn--not-style btn--main-mobile-color header__icon flex--inline align-items--cn padding--left"
                        type="button"
                        ui-sref="mail.inbox({mbox: vm.$state.params.mbox})">
                    <span class="font--arial font--size15 mrg__left5">Назад</span>
                </button>
            </div>
            <div class="header__right">
                <button class="icon-arrow-up btn btn--not-style btn--main-mobile-color header__icon mrg__right padding--right_2"></button>
                <button class="icon-arrow-down btn btn--not-style btn--main-mobile-color header__icon mrg__right padding--right"></button>
            </div>
            <hr class="hr hr--header hr--yellow">
        </div>
    </div>

    <!-- Хедер для страници создания письма-->
    <div class="header__message-new is-active" ng-if="vm.$state.current.name === 'mail.compose'">
        <div class="header__container">
            <div class="header__left">
                <button class="icon-cancel btn btn--not-style btn--main-mobile-color header__icon header__icon--close padding--hor12"
                        ui-sref="mail.inbox({mbox: 'INBOX'})">
                </button>
            </div>

            <div class="header__center ">
                <span class="header__title-text font--size18 font--bold">Новое письмо</span>
            </div>

            <div class="header__right">
                <button class="btn btn--not-style btn--main-mobile-color header__icon mrg__right font--arial font--size15 padding--hor12 icon-send">
                </button>
            </div>
            <!--<hr class="hr hr&#45;&#45;header hr&#45;&#45;yellow">-->
        </div>
    </div>
    
    <!-- Уведомления и статусы-->
    <div class="pop-up-notification">
        <div class="pop-up-notification__container font--center">
            <div class="pop-up-notification__notific">Письмо успешно отправленно</div>
        </div>
        <hr class="hr hr--header hr--size-h1">
    </div>

</div>