<div class="auth-layout">

    <div class="auth-layout__content">
        <div class="auth-layout__form">

            <div class="card">
                <div class="text-center" ng-if="vm.isTokenAuthLoading">
                    <spinner is-global="false"
                             is-open="true">
                    </spinner>
                </div>

                <div class="auth-form" ng-if="!vm.isTokenAuthLoading">
                    <div class="auth-form__logo mrg__bottom16">
                        <img class="img-responsive mrg__auto" src="/images/logo.png">
                        <hr class="hr hr--auth mrg__top16">
                    </div>
                    <form class="form" name="userForm" ng-submit="vm.socialComplete(userForm)" novalidate>
                        <div class="form__field-item mrg__bottom10">
                            <label class="font__size13">
                                {{ 'SELECT_YOUR_NAME' | translate : {name: 'mail.cz'} }}
                            </label>
                            <div class="field-style position">
                                <span class="input-plash input-plash--top13 font__size13">@mail.cz</span>
                                <input class="input input--size_l input--up-shadow width--inh"
                                       type="text"
                                       name="username"
                                       placeholder="{{ 'INPUT_PLACEHOLDER_MAIL_NAME' | translate }}"
                                       ng-model="vm.userForm.model.username"
                                       login-format
                                       required>
                            </div>
                            <validation-errors data="userForm.username"
                                               server="vm.userForm.errors"
                                               messages="vm.userForm.validations.username">
                            </validation-errors>
                        </div>

                        <div class="form__field-item mrg__bottom10">
                            <div class="field-style widtn--inh">

                                <!--наш чекбокс -->
                                <label class="checkbox-y__label checkbox-y--size15 checkbox-y checkbox-y--chek-top"
                                       for="isChecked">
                                    <input class="checkbox-y__input" id="isChecked" type="checkbox" name="agree"
                                           ng-model="vm.userForm.model.agree">
                                    <div class="checkbox-y__body">
                                            <span class="checkbox-y__icon">
                                            </span>
                                    </div>
                                    <span class="checkbox__text font__size12 color--silver" role="presentation">
                                            {{ 'AUTH_CHECKBOX_CONFORMING_1' | translate }} <a
                                            class="link link-aith"
                                            href="https://mail.cz/obchodni-podminky/"
                                            target="_blank">{{ 'AUTH_CHECKBOX_CONFORMING_2' | translate }}</a>
                                        </span>
                                </label>

                                <validation-errors data="userForm.agree"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.agree">
                                </validation-errors>

                            </div>
                        </div>

                        <hr class="hr hr--auth">

                        <div class="form__field-item mrg__bottom10">
                            <div class="field-style text-center">
                                <button class="btn btn--size_l btn--yellow width--inh"
                                        type="submit"
                                        ng-if="!vm.userForm.isLoading">{{ 'BTN_SING_UP_NOW' | translate }}
                                </button>
                                <div ng-if="vm.userForm.isLoading">
                                    <spinner is-global="false"
                                             is-open="true">
                                    </spinner>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!-- футтер на странице авторизации-->
        <div class="footer footer__auth">

            <!-- Копирайт-->
            <div class="footer__copyright">
                <span class="">© 2001—2017 «Mail.cz» Group a.s.</span>
            </div>

            <!-- Основное меню-->
            <div class="footer__menu">
                <div class="navigation">
                    <div class="navigation__row">
                        <div class="navigation__item">
                            <!--<a class="navigation__link navigation__link&#45;&#45;footer-a" href="">Контакты</a>-->
                        </div>

                    </div>
                </div>
            </div>

            <!-- Дополнительное меню с выбором языка-->
            <div class="footer__right-menu  mrg__right">

                <div class="navigation">
                    <div class="navigation__row">
                        <div class="navigation__item position width--size28 ">

                            <!-- Языковое меню-->
                            <choice-language></choice-language>

                        </div>
                        <!--<div class="navigation__item">
                            <a class="navigation__link" href="">
                                {{ 'CONTACTS' | translate }}
                            </a>
                        </div>-->
                        <!--<div class="navigation__item"><a class="navigation__link" href="">Реклама</a></div>-->
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="auth-layout__bg"></div>
</div>


