<div class="attach-upload">
    <div class="attach-upload__list">

        <div class="attach-upload__item" ng-repeat="attachment in vm.attachmentsData">
            <div class="attach-upload__image"
                 ng-class="{'attach-upload__image--shadow': attachment.mime === 'image/jpeg' || attachment.mime === 'image/png'}">
                <img ng-src="{{ vm.getLink(attachment) }}"
                     fallback-src="{{'/images/upload-image.png'}}"
                     ng-if="attachment.mime === 'image/jpeg' || attachment.mime === 'image/png'">

                <img src="/images/upload-file.png"
                     ng-if="attachment.mime !== 'image/jpeg' && attachment.mime !== 'image/png'">
            </div>

            <div class="attach-upload__name">
                {{ attachment.fileName }}
            </div>

            <div class="text-center">
                <spinner is-global="false" is-open="true" ng-if="vm.isUploading"></spinner>
            </div>

            <div class="attach-upload__links" ng-if="!vm.isUploading">
                <a class="attach-upload__link" href="{{ vm.getLink(attachment) }}" target="_blank">Скачать</a>
                <a class="attach-upload__link" href ng-click="vm.remove(attachment)">Удалить</a>
            </div>
        </div>

    </div>
</div>