<div class="popup__head">
    <span class="popup__head__title">{{ 'MESSAGE_ACTION' | translate }}</span>
    <button class="icon-close btn btn--not-style btn--main-mobile-color btn--size_s"
            type="button"
            ng-click="vm.close()"></button>
    <hr class="hr hr--popup">
</div>

<div class="popup__content scrollables">
    <div class="popup__item" ng-click="vm.goToAnswer()">
        <span class="icon-replied-on popup__icon"></span>
        <span class="popup__item__title">{{ 'REPLAY' | translate }}</span>
    </div>

    <!--<div class="popup__item" ng-click="vm.goToFwd()">-->
    <!--<span class="icon-reply-all popup__icon"></span>-->
    <!--<span class="popup__item__title">Ответить всем</span>-->
    <!--</div>-->

    <div class="popup__item"
         ng-click="vm.goToFwd()">
        <span class="icon-send-on popup__icon"></span>
        <span class="popup__item__title">{{ 'FORWARD' | translate }}</span>
    </div>

    <div class="popup__item"
         ng-if="vm.$state.params.mbox !== 'Trash'"
         ng-click="vm.move({name: 'Trash', caption: ('Trash' | translate)})">
        <span class="icon-delete popup__icon color--light-red"></span>
        <span class="popup__item__title">{{ 'DELETE' | translate }}</span>
    </div>

    <div class="popup__item"
         ng-if="vm.$state.params.mbox === 'Trash'"
         ng-click="vm.destroy({name: 'Trash'})">
        <span class="icon-delete popup__icon color--light-red"></span>
        <span class="popup__item__title">{{ 'DELETE' | translaste }}</span>
    </div>

    <div class="popup__item" ng-click="vm.triggerSeen()">
        <span class="icon-email popup__icon"></span>
        <span class="popup__item__title" ng-if="!vm.message.seen">{{ 'READ' | translate }}</span>
        <span class="popup__item__title" ng-if="vm.message.seen">{{ 'NOT_READ' | translate }}</span>
    </div>

    <div class="popup__item" ng-click="vm.openLayoutFolder()">
        <span class="icon-folders popup__icon"></span>
        <span class="popup__item__title">{{ 'IN_FOLDER' | translate }}</span>
    </div>

    <div class="popup__item" ng-click="vm.openTagListPopup()">
        <span class="icon-markers popup__icon"></span>
        <span class="popup__item__title">{{ 'TAGS' | translate }}</span>
    </div>

    <div class="popup__item" ng-click="vm.move({name: 'Archive', caption: ('Archive' | translate)})">
        <span class="icon-archive popup__icon"></span>
        <span class="popup__item__title">{{ 'TO_ARCHIVE' | translate }}</span>
    </div>

    <div class="popup__item"
         ng-if="vm.$state.params.mbox === 'Junk'"
         ng-click="vm.move({name: 'INBOX', caption: ('INBOX' | translate)})">
        <span class="icon-spam popup__icon color--yellow"></span>
        <span class="popup__item__title">{{ 'NOT_SPAM' | translate }}</span>
    </div>

    <div class="popup__item"
         ng-if="vm.$state.params.mbox !== 'Junk'"
         ng-click="vm.move({name: 'Junk', caption: ('SPAM' | translate) })">
        <span class="icon-spam popup__icon color--yellow"></span>
        <span class="popup__item__title">{{ 'SPAM' | translate }}</span>
    </div>

    <!--    <div class="popup__item">
            <span class="icon-pin popup__icon"></span>
            <span class="popup__item__title">Закрепить</span>
        </div>-->

    <div class="popup__item" ng-click="vm.setImportant()">
        <span class="icon-flagged_bg popup__icon color--semi-dark-red"></span>
        <span class="popup__item__title" ng-if="!vm.message.important">{{ 'IMPORTANT_ONE' | translate }}</span>
        <span class="popup__item__title" ng-if="vm.message.important">{{ 'NO_IMPORTANT_ONE' | translate }}</span>
    </div>
</div>
