.footer {
  border-top: 1px solid #e6e6e6;

  font-family: Verdana, sans-serif;

  width: 100%;

  z-index: 10;

  background: #fff;

  &__auth {
    position: relative;

    width: calc(100% + 30px);
    height: 42px;

    left: -15px;

    background-color: rgba($auth-footer-color, .8);

    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);

    border: none;

    font: 100 13px/1 Arial, sans-serif;

    padding: 0 25px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    //flex: 0 0 auto;

    @media only screen and (max-width: 360px) {
      padding: 0 18px;
    }
  }

  &__copyright {
  }

  &__menu {
    width: 450px;
    padding-left: 10%;
  }

  &__right-menu {
  }

  &__row {
    @extend .main-flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 260px;

    height: 60px;

    padding: 0 36px;
  }

  color: #808080;
  font-size: 11px;

}