.main-header {
  position: fixed;
  top:0;
  left: 0;

  display: block;
  width: 100%;
  min-height: 48px;
  height: 48px;

  background-color: $white-color;
  z-index: 2;

  &__main{
    display: none;
    visibility: hidden;
    background-color: $white-color;

    z-index: 2;
  }

  &__search{
    display: none;
    visibility: hidden;
    //box-shadow: none!important;
    //background-color: #f6f5f3;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2)!important;
  }

  &__massege-replay{
    display: none;
    visibility: hidden;
  }
  &__message-new{
    display: none;
    visibility: hidden;
    background-color:$white-color;

    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2)!important;
  }

  &__main.is-active,
  &__search.is-active,
  &__massege-replay.is-active,
  &__message-new.is-active{
    height: 100%;
    min-height: inherit;


    display: block;
    visibility: visible;
  }

  &__container{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    max-width: 768px;
    min-height: 100%;
    margin: auto;

    padding: 0 22px;

    //padding: 0 15px;
  }

  &__left{
    width: auto;
  }

  &__center{
    color: $black;
    width: auto;
  }

  &__title-text{
    font: 300 15px/1 $mainFont;
  }

  &__count-letters{
    font: 100 15px/1 $mainFont;
    color: $yellow-yandex;

  }

  &__right{
    width: auto;
  }

  &__icon{
    color: $header-icon-color;
    font: 300 13px/1 $mainFont;
    overflow: visible;
    &:before{
      font-size: 20px;
    }
    &--close{
      &:before{
        font-size: 16px!important;
      }
    }
  }

  &--not-shadow{
    box-shadow: none!important;
  }

  @media only screen and (max-width: 562px) {
    &__container{
      padding: 0 10px;
    }
  }

}

