.header {
  position: fixed;
  top:0;
  left: 0;

  display: block;
  width: 100%;
  min-height: 48px;
  height: 48px;

  background-color: $white-color;
  z-index: 100;

  &__container{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    max-width: 768px;
    min-height: 100%;
    margin: auto;

    //padding: 0 15px;
  }

  &__left{
    width: auto;


  }

  &__center{
    color: $black;
    font: 300 15px/1 $mainFont;

    width: auto;

    &__count-letters{


    }

  }

  &__right{
    width: auto;


  }

  &__icon{

    //width: 20px;
    //height: 20px;

    color: $header-icon-color;
    font: 300 20px/1 $mainFont;

  }

}

