.layout {
  position: relative;

  display: flex;

  flex-direction: column;

  width: 100%;

  max-width: 768px;
  min-height: 100%;
  margin: auto;
  overflow-x: hidden;

  &__inner {
    position: relative;

    //margin-top: 48px;
    padding-top: 48px;

    display: flex;
    flex-direction: row;

    width: 100%;
    max-width: 98%;
    max-width: -webkit-calc(100% + 0vw);
    max-width: calc(100% + 0vw);
    z-index: 2;
  }

  &__menu {
    position: fixed;

    display: none;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    background-color: rgba($black, .54);

    overflow-y: hidden;

    &--is-active-menu{

      display: block;

    .layout__menu-content{
      transform: translate3d(0px, 0px, 0px);
      transition: transform 500ms ease-in-out;

      }
    }

  }

  &__menu-content{
    position: absolute;
    top:0 ;
    left: 0;
    bottom: 0;

    z-index: 50;
    box-shadow: $menu-shadow;

    width: 100%;
    max-width: 478px;

    //overflow: hidden;
    transform: translate3d(-100%,0,0);
    transition: transform 500ms ease-in-out;

    &:before{

      //content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      width: 1200vw;
      min-height: 100%;

      left: -50vw;

      z-index: -1;
      background-color: rgba($black, .54);
    }
  }

  &__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    min-width: 0;
    padding: 0 22px;
  }

  &__header{
    position: relative;
    z-index: 5;
  }
  &__footer {
    margin-top: 50px;
  }

  &--padding20 {
    padding: 0 20px;
  }

  @media only screen and (max-width: 768px) {

  }
  @media only screen and (max-width: 640px) {


  }
  @media only screen and (max-width: 562px) {
    &__content{
      padding: 0 10px;
    }
    &__menu-content{
      max-width: 75%!important;
    }
  }
  @media only screen and (max-width: 320px) {
    &__menu-content{
      max-width: 100%!important;
    }
    .menu-main-layout__button-close {
      right: 7px;
    }
  }

  @media only screen and (max-width: 320px) {

  }

}