.layout {
  position: relative;

  display: flex;

  flex-direction: column;

  width: 100%;

  max-width: 768px;
  min-height: 100%;
  margin: auto;

  //padding: 0 15px;


  &__inner {
    position: relative;
    margin-top: 48px;

    display: flex;
    flex-direction: row;

    width: 100%;
    max-width: 98%;
    max-width: -webkit-calc(100% + 0vw);
    max-width: calc(100% + 0vw);
    z-index: 3;
  }

  &__left {
    position: absolute;

    top: -48px ;
    right: 0;
    bottom: 0;
    left: 0;


    //display: none;
  }

  &__menu {
    position: absolute;
    top:0 ;
    left: 0;
    bottom: 0;

    z-index: 50;
    box-shadow: $menu-shadow;

    width: 100%;
    max-width: 478px;

    &:before{
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      width: 1200vw;
      min-height: 100%;


      left: -50vw;

      z-index: -1;
      background-color: rgba($black, .54);
    }



  }

  &__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    min-width: 0;

    &--padding {

      padding: 0 20px;

    }
  }

  &__header{
    z-index: 2;
  }
  &__footer {
    margin-top: 50px;
  }

  &--padding20 {
    padding: 0 20px;
  }

}