.mail-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;

  display: flex;
  flex-direction: column;


  &__main-info{
    position: relative;
    flex: 1 0 auto;
    height: auto;

    &:before{
      content: "";
      position: fixed;
      top: auto;
      right: 0;
      left: 0;
      bottom: 48px;
      height: 15px;
      z-index: -1;
      background: #f6f5f3;
    }
  }

  &__main-content{
    background: #fff;

  }

  &__reply{
    background: $white-color;
    flex: 0 0 auto;
  }


  &__info{
    position: relative;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 5;

    height: 72px;

    background: #fff;
    transform: translate3d(0,0,0);

    display: flex;
    align-items: center;
  }

  &__body{
    position: relative;
    //flex: 1 0 auto;
    margin-bottom: 10px;
    z-index: 1;
  }

  &__mail-attachments{
    position: relative;
    z-index: 1;
    padding: 10px 0 0;
  }

  &__title {
    position: relative;

    display: flex;
    align-items: center;

    height: auto;

    font-size: 18px;

    padding: 16px 22px;

    line-height: 22px;
    min-height: 22px;

    color: $mail-message-title-color;
    background-color: #f6f5f3;

    &:after{
      content: "";

      position: absolute;
      bottom: 0;

      left: -100vw;
      width: 1000vw;
      border-bottom: 1px solid $mail-message-title--border-color;
    }
  }
  &__footer{
    display: flex;
    align-items: center;

    padding: 16px;
  }

  @media only screen and (max-width: 562px) {
    &__header-container, &__reply-container{
      //padding: 0 10px;
    }
  }

}


.wrapper{
  padding-left: 22px;
  padding-right: 22px;

  &--is-margin{
    margin-right: -22px;
    margin-left: -22px;
  }

  @media only screen and (max-width: 562px) {
    padding-left: 10px;
    padding-right: 10px;

    &--is-margin{
      margin-right: -10px;
      margin-left: -10px;
    }
  }



}
