.mail-message {
  @extend .main-flex;
  @extend .main-flex-flow-col;


  //height: 100%;
  min-height: calc(100% - 48px);
  //min-height: inherit;

  position: absolute;
  top: 48px;
  right: 0;
  left: 0;

  &__head-info {
    position: relative;
    top: 0;
    z-index: 5;

    display: inherit;
    @extend .main-align-items-center;

    flex: 0 0 auto;

    min-height: 72px;

    background: #fff;

    &--sticky {
      position: sticky;
      top: 48px !important;
    }
  }

  &__main-content {
    position: relative;

    display: inherit;
    //flex-flow: inherit;
    @extend .main-flex-flow-col;
    flex: 1 0 auto;

    height: inherit;

    background: #fff;

    @extend .wrap-content;
  }

  &__body {
    position: relative;
    z-index: 1;

    flex: 1 0 auto;

    margin-bottom: 10px;

    height: auto;
  }

  &__reply {
    background: $white-color;
    flex: 0 0 auto;
  }

  &__banner {
    //flex: 0 0 auto;

    width: 100%;
    height: max-content;

    padding: 18px 10px;

    background: $white-color;

    @media only screen and (max-width: 360px) {
      padding: 18px 4px 4px;
    }
  }

  &__mail-attachments {
    position: relative;
    z-index: 1;

    padding: 10px 0 0;
  }

  &__title-message {
    position: relative;

    flex: 0 0 auto;

    padding: 16px 22px;

    font-size: 18px;
    color: $mail-message-title-color;
    line-height: 22px;

    background-color: #f6f5f3;
    overflow: hidden;
  }

  &__plash {
    &:after {
      content: "";

      position: absolute;
      top: 0;
      bottom: 0;
      left: -100vw;
      z-index: -1;

      width: 1000vw;

      border-bottom: 1px solid $mail-message-title--border-color;

      background-color: #f6f5f3;
    }
  }

  &__footer {
    @extend .main-flex;
    align-items: center;

    padding: 16px;
  }

  &__images-resolve {
    @extend .wrap-content--sub;
  }
}