.menu-settings {
  flex: 1 0 auto;

  @include no-list;

  &__icon {
    margin-right: 8px;
  }

  &__link {
    display: block;

    padding: 0 14px;

    color: #000;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 20px;

    margin: 14px 0;

    &:hover {
      background: rgba(0, 0, 0, .1);
    }

    &--gray {
      color: rgba(0, 0, 0, .5);
    }

    &--active {
      color: #000 !important;
      font-weight: bold;

      //background: rgba(0, 0, 0, .06) !important;
      box-shadow: inset 4px 0 black !important;
    }

    &--open {
      &:before {
        content: "";
      }
    }
  }

  &__link-choose-element {
    display: flex;
    align-items: center;

    padding: 3px 10px;

    background-color: $white-color;
    //border: 1px solid $border-color;
  }


  &__counter {
    float: right;
  }

  &--tag {
    display: block;

    .menu-main__item {
      float: left;

      width: 50%;
    }

    &:after {
      @include clear;
    }
  }
}