.menu-main {
  @include no-list;

  display: block;

  &__icon {
    margin-right: 10px;

    &--select{
      color: $select-icon-main-menu-color;
    }
  }

  &__item {

    &.is-sub-menu{

      .menu-main__item-sub .menu-main__count{
        //margin: auto 12px auto auto;
      }
      .menu-main__show-additional{
        display: inline-block;

      }
      &--open{

        .menu-main__show-additional {
          transform: rotate(180deg);
        }
        .menu-main--additional{
          background: rgba($yellow-lignt, .05);
        }
      }

    }

  }
  &__item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;

    width: 100%;

    font: 300 18px/1 $mainFont;
    color: $white-color;

    //&:hover {
    //  background: rgba($yellow-select-main-menu-color, .1);
    //}

  }
  &__item-sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;

    width: 100%;

    font: 300 18px/1 $mainFont;
    color: $white-color;

  }

  &__link {
    display: flex;
    align-items: center;

    width: 100%;

    font: 300 18px/1 $mainFont;
    color: $white-color;

    padding: 14px 20px 14px 13px;

    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      color: $white-color;
    }
    //
    //&:active, &:focus {
    //  color: #fff;
    //}

    &--gray {
      color: rgba(0, 0, 0, .5);
    }

    &--active {
      color: $yellow-select-main-menu-color;
    }

    &--open {
      &:before {
        content: "";
      }
    }
  }
  &__title{

  }

  &__count{
    margin: auto;
    text-align: center;
    color: $white-color;
    font-size: 13px;
    opacity: 0.6;
    //margin: auto 12px auto auto;
  }

  &__additional-option{
    cursor: pointer;
    padding: 10px 0 10px 7px;
    margin-right: 7px;
    font-size: 24px;
    text-align: center;
    min-width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;

    //&:hover, &:active {
    //  background-color: rgba($yellow-yandex, .9);
    //  color: $menu-main-color;
    //
    //  .menu-main__count{
    //    color: $menu-main-color!important;
    //  }
    //}
  }
  &__show-additional{
    display: none;
    font-size: 15px;
    margin: 0 0 0 auto;

    &:active, &:focus {
      outline: none;
    }
  }

  &__sub {
    .menu-main__link {
      padding-left: 70px;
    }
  }

  &__counter {
    float: right;
  }

  &--tag {
    display: block;

    .menu-main__item {
      float: left;

      width: 50%;
    }

    &:after {
      @include clear;
    }
  }

  &--additional{
    min-width: 100%;
    padding-left: 34px;
  }
}


