.menu-main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  background: $menu-main-color;

  z-index: 51;

  &__header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    min-height: 48px;
    height: 48px;
    padding-left: 5px;

    background-color: $white-color;

    &__logo {
      width: 132px;

    }
  }

  &__button-close {
    position: absolute !important;
    top: 22px;
    right: -24px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    width: 50px;
    height: 50px;

    background-color: $yellow-normal-light;
    color: $menu-text-color;
    box-shadow: inset 0px 0px 12px -6px rgba(0, 0, 0, 0.37);

    z-index: 2;

    &:after {
      content: '';
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;

      background: transparent;
      border-radius: 50%;
      border: 1px solid $yellow-yandex;
      opacity: .4;
    }
  }

  &__user-info {
    //display: -webkit-inline-box;
    //justify-content: center;
    //align-items: center;
    //flex-flow: column wrap;

    overflow: hidden;
    min-height: 160px;

    //padding: 10px;
    margin: 5px 0;
  }

  &__user-info-container {
    height: 180px;

    padding-top: 20px;

    overflow-y: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
      opacity: 0;
      width: 0;
      height: 0;
    }

  }

  &__users-list {
    max-height: 180px;

    display: block;
    //justify-content: flex-end;

    //display: block;block;
    text-align: center;

    white-space: nowrap;
    margin-right: 0;
  }

  &__user-item {

    //display: flex;
    //justify-content: center;
    //align-items: center;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    right: -15%;

    position: relative;
    top: 14px;

    z-index: 2;

    margin: 0;
    padding-left: 10px;

    &:first-child {
      padding-left: 0;
      margin-left: -15%;
    }

    &--active {
      top: auto;
      right: auto;

      position: relative;

      display: inline-block;

      text-align: center;

      z-index: 1;

      margin: auto !important;
      padding-left: 0 !important;

      width: 100%;
      height: auto;

      .avatar {
        width: 68px !important;
        height: 68px !important;
      }

      .menu-main-layout__user-mail,
      .menu-main-layout__user-name {
        //visibility: visible;
        display: block;

      }
      .menu-main-layout__add-user {
        display: block;
      }

      .menu-main-layout__avatar {
        width: 82px;
        height: 82px;
        border: 1px solid #cccccc;;
        border-radius: 50%;
        padding: 6px;
      }
    }
    &--add-user {
      //margin-right: -22%;
      //left: -11px;
    }
  }

  &__add-btn {
    position: absolute;
    top: calc(50% - 20px);
    right: -60px;

    border: 1px solid $menu-text-color;
    background-color: $menu-main-color;

    color: $menu-text-color;

    transform: rotate(-45deg);
    &:hover, &:active {
      //background-color: rgba($yellow-yandex, .9);
      color: rgba($menu-main-color, .9);
    }
    &:focus {
      outline: none;
    }
    &:before {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__avatar {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 1px solid transparent;

    margin: auto;

  }

  &__user-name {
    //visibility: hidden;
    display: none;
    color: $menu-text-color;
  }

  &__user-mail {
    display: none;
    //visibility: hidden;
    color: $menu-text-color;

  }

  &__item {
    flex: 1 0 auto;
  }

  &__footer-menu {
    flex: 0 0 auto;
    color: $header-mein-menu-text-color;
    font: 12px/1 $mainFont;
    padding-bottom: 10px;
  }

  &__padding {
    padding: 0 20px;

    &--size10 {
      padding: 0 10px;
    }
  }

  &__button-tarif {

  }

  &__footer-lang {
    position: relative;
    margin: auto 45px auto auto;
  }
}
