.mobile-popup{

  position: relative;

  display: flex;
  flex-flow: column;

  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  background: $white-color;
  box-shadow: $popup-shadow;

  min-width: 272px;

  width: 272px;
  max-height: 90%;

  &__head{
    position: relative;

    display: flex;
    justify-content: center ;
    align-items: center;

    min-height: 52px;
    width: 100%;



    color: $textBlack;
    font: 100 16px/1 $mainThreeFont;

    &__title{
      margin: auto;
      padding-left: 28px;
    }

  }


  &__content{
    width: 100%;

    padding: 0 25px;

    overflow: auto;
  }


  &__footer{

  }

  &__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 52px;


    color: $textBlack;
    font: 300 20px/1 $mainFont;

    //padding: 15px 0;

  }

  &__icon{
    font-size: 21px;
    padding-right: 12px;
  }

  &__icon-close{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 15px;
  }

}

.popup{
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba($white-color, .7);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 100;
}