.navigation {
  &__row {
    display: flex;
    flex-direction: row
  }

  &__item {
    margin-right: 22px;

    font-weight: bold;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: #707275;
    font-size: 11px;
    font-family: Verdana, sans-serif;
    text-decoration: none;

    &--active {
      color: #000;
    }

    &--footer-a{
      font: 100 15px/1 Arial,sans-serif;
      text-transform: none;
      padding: 0 7%;

      &:hover{
        color: $yellow-lignt!important;
      }
    }

    &:hover {
      color: #000;
    }
  }
}