.password-reset-layout {
  //position: absolute;
  //width: 100%;
  //height: 100vh;
  box-sizing: border-box;



  &__content{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    width: inherit;
    min-width: 850px;
    min-height: 300px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 22px;

  }

  &__form {
    width: auto;
    max-width: 842px;
    max-height: 331px;
    margin: auto;
  }


}

