.settings-main {
  &__block {
    position: relative;
    padding: 20px 10px;

    &:after {
      content: '';

      position: absolute;
      bottom: 0;
      @extend .wrap-content--psevdo;

      height: 1px;

      background-color: #f2f2f2;
    }

    &:last-child {
      padding-bottom: 0;

      &:after {
        display: none;
      }
    }
  }
}