.settings-accounts {
  padding: 0 10px;

  &__message {
    margin-top: 34px;

    font-size: 14px;
    line-height: 1.14;
  }

  &__footer {
    position: relative;

    padding: 20px 0;

    &:after {
    content: '';

    position: absolute;
    bottom: 0;
    @extend .wrap-content--psevdo;

    height: 1px;

    background-color: #f2f2f2;
  }
  }

  &__caption{
    margin: 20px 0 16px ;

    font-size: 16px;
    font-weight: bold;
  }

  &__label {
    min-width: 80px;

    margin: 0 16px 0 0;
  }

  &__input {

  }

  &__verification-message {
    font-size: 14px;
    color: $red-remove-color
  }
}