.settings-rule-add {
  &__item {
    position: relative;
  }

  &__item-title {
    font: bold 13px/1 $mainFont;
    margin-bottom: 11px;
  }

  &__notif {
    font: normal 13px/1 $mainFont;
    margin: 16px 0 8px;
  }

  &__field-text {
    height: auto !important;
    min-height: 40px;
    max-height: 60px;
  }

  &__condition {
    margin-bottom: 5px;
  }

  &__condition-item {
    position: relative;

  }

  &__condition-remove {
    position: absolute;
    color: $red-btn-color;
    font-size: 10px;
    top: 7px;
    right: -32px;

    &:hover {
      opacity: .7;
      transition: all .3s;
      color: $red-btn-color;
    }
  }

  &__name {
    min-width: 84px;
  }
}