.settings-accounts {
  padding: 0 10px;

  &__message {
    margin-top: 34px;

    font-size: 14px;
    line-height: 1.14;
  }

  &__footer {
    position: relative;

    padding: 20px 0;

    &:after {
      content: '';

      position: absolute;
      bottom: 0;
      @extend .wrap-content--psevdo;

      height: 1px;
    }
  }

  &__caption {
    margin: 20px 0 16px;

    font-size: 16px;
    font-weight: bold;
  }

  &__label {
    min-width: 80px;

    margin: 0 16px 0 0;
  }

  &__verification-message {
    font-size: 14px;
    color: $red-remove-color
  }

  &__list {
    @extend .main-flex;
    @extend .main-flex-flow-col;

    width: 100%;

    &--sub {
      .settings-folders__item-content {
        padding-left: 25px;
      }
    }
  }

  &__title {
    font-size: 14px;

    @extend .main-text-dots;
  }

  &__item {
    position: relative;

    @extend .main-flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 40px;

    padding: 0 10px;

    color: #333333;

    &:first-child {
      &:before {
        content: '';

        position: absolute;
        top: 0;
        @extend .wrap-content--psevdo;

        height: 1px;

        background-color: #f2f2f2;
      }
    }

    &:after {
      content: '';

      position: absolute;
      bottom: 0;
      @extend .wrap-content--psevdo;

      height: 1px;

      background-color: #f2f2f2;
    }
  }

  &__item-content-right {
    display: inherit;
    align-items: inherit;
  }
}