.settings-rule-add {
  &__section {
    position: relative;

    padding: 20px 10px;

    &:after {
      content: '';

      position: absolute;
      right: -100vw;
      bottom: 0;
      left: -100vw;

      height: 1px;

      background-color: #f2f2f2;
    }
  }
  &__item{
    font-size: 16px;
    margin: 0;

    &--border {
      padding-bottom: 14px;

      border-bottom: 1px solid #f2f2f2;
    }
  }

  &__caption{
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__label {
    margin: 0 0 10px;
  }

}