.btn-y {
  @include border-radius(2px);

  padding: 2px 9px;

  font-size: 13px;

  background: none;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid rgba(0, 0, 0, .2);
  }

  &:active, &:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, .2);
    background: #ffeba0;
  }

  &__active, &--active {
    border: 1px solid rgba(0, 0, 0, .2);
    background: #ffeba0;
  }

  &__icon {
    margin-right: 4px;

    &--arrow {
      font-size: 10px;
    }
  }

  &--white {
    background: #fff;
  }

  &--border {
    border: 1px solid rgba(0, 0, 0, .2);
  }

  &--image-icon {
    display: flex;

    .btn-y__name {
      margin-right: 4px;
    }

    .btn-y__icon {
      width: 16px;
    }
  }

  &--size26 {
    padding: 4px 9px;
  }

  &--settings {
    padding: 4px 9px;

    color: rgba(0, 0, 0, .5);
    font-size: 20px;
    line-height: 20px;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }

    &:active, &:focus {
      color: rgba(0, 0, 0, 1);
    }
  }

  &--white {
    border: 1px solid rgba(0, 0, 0, .3);
    background: #fff;
  }

  &--close {
    padding: 0;

    width: 28px;
    height: 28px;

    .btn-y__icon {
      margin: 0;
      padding: 0;

      width: 14px;
      height: 14px;
    }
  }

  &--size-m {
    //height: 30px;
    //font-size: 13px;
    //line-height: 16px;
  }
}