.card {
  padding: 24px 40px;

  background: #fff;

  box-shadow: $form-shadow;

  overflow: hidden;
  margin: 25px 0;

  @media only screen and (max-width: 568px) {
    padding: 24px 24px;

  }
  @media only screen and (max-width: 380px) {
    padding: 20px 15px;
  }

  &--black {
    background: rgba(0, 0, 0, .8);
  }
}