.form {
  &__fields {
  }

  &__field-item {
    margin-bottom: 16px;
    align-items: center;
    position: relative;
    z-index: 1;

    &--flex-start {
      align-items: flex-start;
    }

    &--mob-modif {

    }
  }

  &--validation {
    &.ng-submitted {
      .ng-invalid {
        border: 1px solid #ffcdce;

        background-color: #fff5f4;
      }
    }

    .validation__message {
      @include border-radius(3px);

      margin-top: 0;

      padding: 6px 10px;

      background-color: #ffcdce;

      color: #313131;
      font-style: italic;
    }
  }

  @media only screen and (max-width: 640px) {
    &__field-item--mob-modif {
      display: block !important;
    }
  }
}

.field-style {
  width: 100%;
  vertical-align: bottom;
  display: inline-block;

  &__title {
    display: block;

    margin: 0 0 5px 0;

    font: 15px/1.2 sans-serif;
  }

  &__group {
    width: inherit;
  }

  &__container {
    display: inline-flex;
  }

  &--max-wd260 {
    max-width: 260px;
  }

  &--flex {
    display: flex;
  }

  @media only screen and (max-width: 768px) {
  }

  @media only screen and (max-width: 562px) {
  }

  @media only screen and (max-width: 320px) {
  }
}


