.hr {
  margin: 0;

  width: 100%;
  height: 1px;
  background-color: $hr-main-color;

  outline: none;
  border: none;

  //border-top-width: 1px;
  //border-top-color: rgba(0,0,0,.1);
  //border-bottom: none;
  //border-left: none;
  //border-right: none;

  &--top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    margin: 0;
  }

  &--bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    margin: 0;
  }



  &--dashed {
    border: none;
    border-bottom: 1px dotted $hr-main-color;
  }

  &--auth {
    background: $hr-auth-color;
    margin-bottom: 19px;
  }

  &--main-menu {
    //background-color: $hr-main-menu-color;
    background-color: #e5e5e5;
    margin: 8px 13px;
    width: inherit;
  }

  &--header {
    position: absolute;
    bottom: 0;
    left: -50vw;
    right: 50vw;
    background-color: $header-border-color;
    margin: 0;
    width: 200vw;
    height: 2px!important;
  }
  &--inbox-footer {
    position: absolute;
    top: -1;
    left: -50vw;
    right: 50vw;
    background-color: $header-border-color;
    margin: 0;
    width: 200vw;
    z-index: 10;
  }
  &--yellow {
    background-color: $yellow-yandex;
  }

  &--popup {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;

    background-color: $hr-popup-color;
    margin: 0;

  }

  &--folders {
    background-color: rgba($white-color, .1);
  }

  &--size-h1{
    height: 1px!important;
  }


}