@include placeholder {
  color: $input-hlaceholder-color;
}

[contenteditable=true]:empty::before {
  content: attr(placeholder);
  color: $input-hlaceholder-color;
}

.input {
  position: relative;
  display: block;
  width: auto;

  box-sizing: border-box;
  text-overflow: clip;

  color: $textBlack;
  font-weight: 100;

  border: 1px solid $button-border-color;
  outline: 1px solid transparent;

  background: 0 0 transparent;
  border-radius: 0 !important;

  padding: 0 10px;

  -webkit-appearance: none;

  &:disabled {
    background-color: $white-color;
    //color: $input-hlaceholder-color;
  }

  &:focus {
    border: 1px solid $yellow-yandex;
    outline: 1px solid $yellow-yandex;
  }
  &--no-focus {
    border: none !important;
    outline: none !important;
  }

  &--compose-line {
    &:disabled {
      background-color: $white-color;
      color: $input-hlaceholder-color;
    }
  }

  &--fc-sh-yellow {
    border: 1px solid $input-border-color-black-yellow;
    &:focus {
      outline: none;
      border: 1px solid $input-border-color-black-yellow;
      box-shadow: $input-shadow-yellow;
    }
  }

  &--up-shadow {
    box-shadow: $input-insert-shadow;
  }

  &--size_m {
    height: 30px;
    font-size: 13px;
    line-height: 16px;
  }

  &--size_l {
    height: 32px;
    font-size: 15px;
    line-height: 18px;
  }

  &--no-border {
    border: none;
  }

  &--focus-icon {
    &:focus + .input-icon {
      border-color: $yellow-yandex;
    }
  }

}

.input-plash {
  position: absolute;
  right: 7px;
  z-index: 1;

  color: $sillver-input-plsah-color;
  line-height: 1;

  &--box {
    top: 1px;
    right: 1px;
    bottom: 1px;

    @extend .main-flex;
    align-items: center;

    padding: 2px 10px;

    text-align: center;

    background-color: #eee;
    border-left: 1px solid #ccc;
  }

  &--top11 {
    top: calc(50% - (11px / 2));
  }
  &--top12 {
    top: calc(50% - (12px / 2));
  }
  &--top13 {
    top: calc(50% - (13px / 2));
  }
  &--top14 {
    top: calc(50% - (14px / 2));
  }
  &--top15 {
    top: calc(50% - (15px / 2));
  }
  &--top16 {
    top: calc(50% - (16px / 2));
  }
  &--top17 {
    top: calc(50% - (17px / 2));
  }
  &--top18 {
    top: calc(50% - (18px / 2));
  }

}

.input-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 32px;
  height: 32px;

  padding-right: 2px;

  font-size: 16px;
  color: $white-color;

  border: 2px solid #596572;
  border-right: none !important;

  background-color: #596572;
}

.input-data-valide-test {
  font: 12px/1 $mainFont;
  color: $input-data-valide-test-color;

  &__we-offer {
    color: $input-data-valide-test-offer-color;

    padding-left: 15px;
  }
}