//[placeholder] {
//  color: $input-hlaceholder-color;
//}
//
//::-webkit-input-placeholder {
//  color: $input-hlaceholder-color;
//}

.input-line {
  position: relative;

  display: flex;

  color: $textBlack;
  font-weight: 100;

  //max-height: 58px;
  min-height:  58px;

  //height: 42px;
  &--fixed-height{
    max-height: 58px;
    height: 58px;
  }

  &__input {
    //position: relative;
    //top: 0;
    //padding-bottom: 6px;
    //padding-left: 0;
    //min-height: 25px;
    //line-height: 22px;
    //font-size: 14px;
    //color: #222;
    //white-space: pre-wrap;
    //word-wrap: break-word;
    //box-sizing: border-box;
    //-webkit-tap-highlight-color: rgba(0,0,0,0);
    //-webkit-tap-highlight-color: transparent;
    //outline: none;
    //border: 0;
    //border-top: none!important;
    //border-right: none!important;
    //border-left: none!important;
    //
    position: relative;
    top: -5px;

    padding: 0 32px 5px;

    min-height: 25px;
    line-height: 22px;
    font-size: 14px;

    width: 100%;

    display: block;

    border: none;
    outline: none;

    border-bottom: 1px solid rgba(0, 0, 0, .2);

    &:active, &:focus {
      border-bottom: 1px solid $yellow-yandex;
      outline: none;
    }
  }

  &--full {
    width: 100%;
  }

  &__label {
    position: relative;
    padding-top: 32px;

    margin: 0;
    font-size: 12px;
    color: rgba(0,0,0,.5);
  }

  &__links {
    position: absolute;

    margin: 0;

    bottom: 3px;
    right: 0;

    font-size: 15px;
  }

  &__title{
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 32px;
    font-size: 12px;
    line-height: 12px;
    font-family: $mainFont;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
    transform: translate3d(0, 177%, 0) scale(1.2);
    transition: transform .250s;
  }

  &.is-active, &:hover, &:focus, &:active{
    .input-line__title{

      transform: inherit!important;
      transition: transform .250s;
    }

  }

  &__btn-more{
    position: absolute;
    top: 26px;
    right: 11px;
    margin-right: 10px;
    cursor: pointer;
  }

  &:focus {
    border: 1px solid $yellow-yandex;
    outline: 1px solid $yellow-yandex;
  }

  &--up-shadow {
    box-shadow: $input-insert-shadow;
  }

  &--size_m {
    height: 30px;
    font-size: 13px;
    line-height: 16px;
  }

  &--size_l {
    height: 32px;
    font-size: 15px;
    line-height: 18px;
  }

  &--no-border {
    border: none;
  }
}

