[placeholder] {
  color: $input-hlaceholder-color;
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: $input-hlaceholder-color;
  font-size: 16px;
}

.input-line {
  position: relative;

  display: flex;

  color: $textBlack;
  font-weight: 100;

  min-height: 58px;

  &--fixed-height {
    max-height: 58px;
    height: 58px;
  }

  &__input {
    position: relative;
    //top: -5px;

    padding: 0 62px 5px 32px;

    min-height: 100%;
    line-height: 21px;
    font-size: 16px;


    width: 100%;

    display: block;

    border: none;
    outline: none;

    border-bottom: 1px solid rgba(0, 0, 0, .2);

    &:active, &:focus {
      border-bottom: 1px solid $yellow-yandex;
      outline: none;
    }
  }

  &--full {
    width: 100%;
  }

  &__label {
    position: relative;
    //padding-top: 32px;

    margin: 0;
    font-size: 12px;
    color: rgba(0, 0, 0, .5);

    display: flex;
    align-items: flex-end;
  }

  &__links {
    position: absolute;

    margin: 0;

    bottom: 3px;
    right: 0;

    font-size: 15px;
  }

  &__title {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 32px;
    font-size: 12px;
    line-height: 12px;
    font-family: $mainFont;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
    transition: transform .250s;
  }

  &.is-active, &:hover, &:focus, &:active {
    .input-line__title {
      //transform: translate3d(-8.322%, -147%, 0) scale(0.833333333333333333333333);
      //transition: transform .250s;
    }

  }

  &__btn-more {
    position: absolute;
    top: 19px;
    right: 11px;
    margin-right: 10px;
    cursor: pointer;

    //color: $main-logo-orange;

    &:hover, &:active, &:focus{
      //color: $main-logo-orange!important;
      opacity: .6;
    }

    &:before {
      position: absolute;
      top: 0px;
      left: 2px;

      content: "+";
    }
  }

  &:focus {
    border: 1px solid $yellow-yandex;
    outline: 1px solid $yellow-yandex;
  }

  &--up-shadow {
    box-shadow: $input-insert-shadow;
  }

  &--size_m {
    height: 30px;
    font-size: 13px;
    line-height: 16px;
  }

  &--size_l {
    height: 32px;
    font-size: 15px;
    line-height: 18px;
  }

  &--no-border {
    border: none;
  }

  &--right-padding {
    .select-input-line {
      padding: 0 65px 0 30px !important;
    }
  }

}

