.popup {
  display: flex!important;
  align-items: center;
  justify-content: center;

  background: rgba($white-color, .7);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 100;

  padding: 10px 0;
  .modal-dialog{
    width: 288px!important;
    margin: auto;
  }
  .modal-content {
    @include border-radius(0!important);

    padding: 10px 0 15px;
  }
  &__container{
    position: relative;

    display: flex;
    flex-flow: column;

    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    background: $white-color;
    box-shadow: $popup-shadow;

    min-width: 272px;

    width: 272px;
    max-height: 90%;

  }

  &__head{
    position: relative;

    display: flex;
    justify-content: center ;
    align-items: center;

    min-height: 52px;
    width: 100%;



    color: $textBlack;
    font: 100 16px/1 $mainThreeFont;

    &__title{
      margin: auto;
      padding-left: 28px;
    }

  }

  &__content{
    width: 100%;

    padding: 0 25px;
    //max-height: calc(100vh - 20%);

    overflow: auto;
  }

  &__footer{
    position: relative;

    width: 100%;
    min-height: 52px;

  }

  &__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 52px;

    color: $textBlack;
    font: 300 20px/1 $mainFont;

    &__title{
      margin-top: 4px;

      &--mrg-left{
        margin-left: 35px;
        margin-right: auto;
      }
    }
    &__tick{
      position: relative;
      width: 25px;
      height: 25px;
      margin-right: 0;


      &:before{
        content: "";

        display: none;

        position: absolute;
        top: 4px;
        right: 0;

        width: 7px;
        height: 14px;

        border: solid $validtae-ok-green;
        border-width: 0 3px 3px 0;

        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &.is-selected{

        &:before{
          display: block;
        }

      }

    }
  }

  &__icon{
    font-size: 21px;
    padding-right: 14px;

    &--not-size{
      position: relative;
      top: -9px;
      left: -5px;

      height: 0;
      width: 0;

      padding: 0;
    }
  }

  &__icon-close{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 15px;
  }

  &--tags{
    .popup__content{
      max-height: calc(80vh - 60px);
    }
  }

  &--tag-create {
    .modal-dialog {
      width: 432px;
    }
  }

  &--folder-create {
    .modal-dialog {
      width: 432px;
    }
  }


  &__close {
    @include border-radius(50%);

    position: absolute;

    top: 5px;
    right: 5px;

    display: block;

    width: 22px;
    height: 22px;

    font-size: 20px;

    cursor: pointer;

    //margin: -5px -10px 0 -5px;

    text-align: center;
    line-height: 22px;

    background: #FFF;

    border: 1px solid #FFF;

    color: #999;

    &:hover {
      border-color: #CCC;
    }
  }
}