.radiobutton {
  cursor: pointer !important;

  color: $black;
  display: inline-flex;
  align-items: center;

  &__input {
    display: none;
  }

  &__chek {
    display: inline-flex;
    justify-content: center;

    border: 1px solid $radibutton-border-color;
    border-radius: 50%;
    background: $radibutton-border-color;

    min-height: 14px;
    min-width: 14px;

    margin: auto 10px auto 0;
    background: #fff;
    cursor: pointer;
    z-index: 1;

    &--cheked {
      position: relative;
      margin: auto;
      border-radius: 50px;
      z-index: 2;
      background-color: $black !important;
      border: none !important;
      width: 6px;
      height: 6px;
      opacity: 0;
    }
  }
  &__input:checked + &__label &__chek {
    background: $yellow-hard-light;
    border-color: $radiobutton-border-cheked-color;

    &--cheked {
      opacity: 1;
    }
  }

  // this is switch off/on

  &__switch {

    position: relative;

    border-radius: 3px;
    border: 1px solid rgba($radio-btn-border-color, .5);

    box-shadow: $input-insert-shadow;

    color: $radio-btn-text-label-color;

    overflow: hidden;

    cursor: pointer;

    &:after {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      background: $radio-btn-border-gradient;
      z-index: -1;

    }

    &__input {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;

      margin: 0 !important;
      opacity: 0;

      padding: 0;
      z-index: 12;
    }

    &__on-off {
      position: absolute;
      top: -1px;

      width: 30px;
      height: 28px;

      background-color: $radio-btn-tag-color;

      border: 1px solid $radio-btn-tag-border-color;

      border-radius: 5px;

      &:hover {
        cursor: pointer !important;
        background: $validtae-ok-green;
      }
    }

    /* Исходная позиция тумблера */
    &__input:checked ~ &__on-off {

      right: auto;
      left: -2px;
      &:before {
        position: absolute;
        left: 50%;
        content: "";
        width: 180px;
        height: 100%;
        z-index: -1;
        background: $white-color;
      }
      &:after {
        position: absolute;
        left: 33px;
        top: 6px;

        content: "Выкл";

        z-index: 5;
      }
    }

    /*окончательная относительная позиция переключателя */
    &__input ~ :checked ~ &__on-off {

      right: -2px;
      left: auto;

      color: $tags-field-border-color;

      &:before {
        position: absolute;
        left: -200%;
        content: "";
        width: 180px;
        height: 100%;
        z-index: -1;
        background: $radio-btn-gradient;
      }
      &:after {
        position: absolute;
        left: -33px;
        top: 6px;
        color: #303030;

        content: "Вкл";

        z-index: 5;
      }

    }

    &__input:checked {
      z-index: 0;

    }

  }

  &__label {
    display: inline-flex;
    align-items: center;

    &__text {
      font: 13px/1 $mainFont;
    }

  }

  &--size13 {
    &__input + &__chek {
      width: 13px;
      height: 13px;
      min-height: 13px;
      min-width: 13px;
    }

    &__label {

    }

    font: 13px/1 $mainFont;
  }

  &--size72x28 {
    width: 72px;
    height: 28px;
    font: 100 13px/1 $mainFont;
  }
  &--size_xs {
    height: 24px;
    font-size: 12px;
    line-height: 10px;
  }

  &--size_s {
    height: 26px;
    font-size: 13px;
    line-height: 12px;
  }

  &--size_sm {
    height: 28px;
    font-size: 13px;
    line-height: 12px;
  }

  &--size_m {
    height: 30px;
    font-size: 13px;
    line-height: 16px;
  }

  &--size_l {
    height: 32px;
    font-size: 15px;
    line-height: 18px;
  }
  &--no-border {
    border: none;
  }

}

.main-switch {

  position: relative;

  background: 0 0;

  border: none;

  overflow: hidden;
  cursor: pointer;

  @extend .main-flex;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &:after {

  }

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;

    margin: 0 !important;
    opacity: 0;

    padding: 0;
    z-index: 12;
  }

  &__btn {
    position: relative;

    border-width: 1px;
    border-color: $button-border-color;
    border-style: solid;

    outline: 1px solid transparent;
    background: 0 0 transparent;

    @extend .main-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--firs {
      border-radius: 3px 0 0 3px;
      border-right: 1px solid $button-border-color;
    }

    &--last {
      border-radius: 0 3px 3px 0;
      border-left: none;

    }

  }

  /* Исходная позиция переключателя */
  &__input:checked ~ &__btn {

    &--firs {
      border-color: $main-switch-border-cheked-color;
      background: $yellow-lignt;
      border-right: 1px solid $main-switch-border-cheked-color;
    }

    &--last {

    }
  }

  /* окончательная относительная позиция переключателя */
  &__input ~ :checked ~ &__btn {

    &--firs {
      border-right: 1px solid red!important;
    }

    &--last {
      border-color: $main-switch-border-cheked-color;
      background: $yellow-lignt;
      border-left: 1px solid $main-switch-border-cheked-color;
      margin-left: -1px;
    }
  }

  &__input:checked {
    z-index: 0;

  }

}

.radiobutton-y {
  display: inline-block;

  &--bold {
    .radiobutton-y__text {
      font-weight: bold;
    }
  }

  &__label {
    @extend .main-flex;

    align-items: center;
  }

  &__radio {
    margin-right: 5px;
  }

  &__round {
    @include border-radius(50%);

    width: 14px;
    height: 14px;

    border: 1px solid #c3c4c9 !important;
  }

  &__input {
    display: none;

    &:checked {
      + .radiobutton-y__round {
        box-shadow: inset 0 90px #ffeba0;

        &:after {
          content: "";

          display: block;

          @include border-radius(50%);

          margin: 3px;

          width: 6px;
          height: 6px;

          background: #000;
        }
      }
    }
  }
}

