.select-input-line {
  width: 100% !important;

  background: transparent;
  box-shadow: none !important;

  padding: 0 30px !important;

  border-radius: 0 !important;
  border: none;
  border-bottom: 1px solid !important;
  border-color: #ccc !important;

  &--compose {
  }

  &:active, &:focus, &:hover {
    border-bottom-color: $yellow-yandex !important;

    .ui-select-match-item {
      &:active, &:focus, &:hover {
        .close {
          display: block !important;
          opacity: .6;
          z-index: 5;
        }
      }
    }
  }

  &--min-height {
    min-height: 58px;
    display: flex !important;
    align-items: center !important;
  }

  .btn-primary {
    background-color: transparent !important;
    color: transparent !important;
    border: none !important;
    display: none !important;
    max-width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
  }
  &:focus, &:active, &:hover {
    box-shadow: none !important;
    outline: none !important;
  }

  .select-list__body {
    margin: auto !important;
    &:focus, &:active {
      box-shadow: none !important;
      outline: none !important;
    }
  }
  .select2-drop {
    left: 0;
  }

  .select-list__body, .select-list__body > .select2-arrow {
    background-color: transparent !important;
  }
}