.select-list {
  position: relative;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  width: inherit;

  box-sizing: border-box;
  text-overflow: clip;

  color: $textBlack!important;
  font-family: $mainFont!important;
  font-weight: 400;
  line-height: 1;

  outline: 1px solid transparent;
  background: 0 0 transparent;

  -webkit-appearance: none;

  &--not-border-of-sides{
    border-left: none!important;
    border-right: none!important;
  }

  &:focus {
    border: 1px solid $yellow-yandex !important;
    outline: 1px solid $yellow-yandex !important;
  }
  &:hover {
    box-shadow: none;
  }

  /* Hes delete styles*/

  &__body {
    &:focus, &:active, &:hover{
      box-shadow: none!important;
      outline: none!important;
      border: transparent!important;
    }
    &.select2-choice {
      display: flex;
      align-items: center;

      padding: 0;

      overflow: hidden;
      position: relative;

      height: 32px !important;
            border: 1px solid $button-border-color !important;

      white-space: nowrap;
      color: $textBlack;
      text-decoration: none;
      border-radius: 2px;
      background-clip: padding-box;
      user-select: none;
      background-color: $white-color;

      background-image: none !important;
      filter: none !important;
    }
    &--not-radius {
      &.select2-choice {
        border-radius: 0 !important;
      }
    }
  }

  .search-container.select2-search {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    top: -1px;
  }

  .search-container.select2-search input  {
    //display: none !important;
    border-color: transparent!important;
    padding: 4px 5px 4px 5px!important;

  }

  &.open {
    .select2-arrow {
      &:after {
        transform: rotate(180deg) !important;
        transition: transform .3s ease-out !important;
      }
    }
  }

  .ui-select-dropdown.select2-drop-active{
    border-color: rgba($button-border-color, .6)!important;


    border-top-style: solid!important;
    //border-top-color: rgba($button-border-color, .6)!important ;
    border-top: 2px solid $yellow-yandex !important;

    //margin: 0 -30px 0!important;


    //margin:  0 auto!important;

    border-radius: 2px!important;
    box-shadow: none!important;

    &:focus,&:active{
      outline: none;
    }
  }

  .ui-select-choices.ui-select-choices-content{
    &:focus,&:active{
      outline: none;
    }
  }

  .select2-search input{
    font-family: $mainFont!important;
  }


  .select2-results {
    padding: 0!important;
    margin: 0 !important;
  }

  .select2-results .select2-result-label {
    padding: 6px 30px 6px;
  }

  .select2-results .select2-highlighted {
    background: $yellow-lignt;
    color: $black;
  }

  .ui-select-choices-row:hover {
    background-color: rgba($yellow-lignt, .5);
  }


  &__body > .select2-arrow {
    position: absolute;
    right: 0;
    top: 0;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    width: 29px !important;
    height: 100%;

    background-color: $white-color !important;
    border: none !important;

    background-image: none !important;

    transition: transform .1s ease-out;
    &:after {
      //position: absolute;

      width: 28px;
      //width: 100%;
      height: 100%;
      display: flex;

      justify-content: center;
      align-items: center;

      content: "\e92a";

      font-family: 'icomoon' !important;
      font-size: 12px !important;
      color: $black;

      //transform: rotate(180deg) !important;
      transition: transform .3s ease-out !important;
    }
    :after {
      //content: "\e906";
    }
  }
  &__body > .select2-arrow > b {
    display: none !important;
  }

  &__body > .select2-chosen {
    margin-right: 31px!important;
  }

  /*****************************/
  &--if-less {
    .select2-drop {
      width: 136% !important;
    }
  }
  &--if-less200 {
    .select2-drop {
      width: 200% !important;
    }
  }

  &--if-less300 {
    .select2-drop {
      width: 300% !important;
    }
  }

  &--size_xs {
    height: 24px;
    font-size: 12px;
    line-height: 10px;

    .select-list__body.select2-choice{
      height: 24px!important;
    }
    .select-list__body > .select2-arrow{
      width: 20px!important;
      &:after{
        font-size:8px!important;
      }
    }
    .select-list__body > .select2-chosen {
      margin-right: 20px !important;
    }
  }

  &.select2-container-disabled{

    .select-list__body.select2-choice{
      background-color: $white-color!important;
      border: 1px solid #ddd!important;
      cursor: default!important;
      color: rgba($textBlack, .4)!important;

    }
    .select-list__body > .select2-arrow:after{
      color: rgba($textBlack, .4)!important;
    }
  }

  &--size_s {
    height: 26px;
    font-size: 13px;
    line-height: 12px;

    .select-list__body.select2-choice{
      height: 26px!important;
      font-size: 13px!important;
      line-height: 12px!important;
    }
  }

  &--size_sm {
    height: 28px;
    font-size: 13px;
    line-height: 12px;

    .select-list__body.select2-choice{
      height: 28px!important;
      font-size: 13px!important;
      line-height: 12px!important;
    }
  }

  &--size_m {
    height: 30px;
    font-size: 15px;
    line-height: 16px;

    .select-list__body.select2-choice{
      height: 30px!important;
      font-size: 15px!important;
      line-height: 16px!important;
    }
  }

  &--size_l {
    height: 32px;
    font-size: 16px;
    line-height: 18px;

    .select-list__body.select2-choice{
      height: 32px!important;
      font-size: 15px!important;
      line-height: 18px!important;
    }
  }
  &--no-border {
    .select-list__body.select2-choice{
      border: none!important;
    }
  }

}