<div class="validation">
    <div ng-messages="vm.data.$error" ng-if="vm.data.$invalid && vm.data.$touched">
        <div class="validation__message validation__message--red" ng-message="{{ key }}"
             ng-repeat="(key, value) in vm.messages">
            {{ value | translate }}
        </div>
    </div>
    <div class="validation__message validation__message--red" ng-repeat="error in vm.server"
         ng-if="error.field == vm.data.$name">
        {{ error.message }}
    </div>
</div>
