<div class="radiobutton main-switch-3 radiobutton--size_sm">
    <button class="search-filters__button-tab"
            type="button"
            ng-click="vm.selectDefault();">
        2017:
    </button>
    <button class="search-filters__button-tab search-filters__button-tab--is-choose"
            type="button"
            ng-click="vm.selectDate($index);"
            ng-repeat="month in vm.monthList">
        {{ month }}
    </button>
    <button class="search-filters__button-tab"
            type="button"
            ng-click="vm.selectDefault();">
        Вся почта
    </button>
</div>