<div class="inbox-footer">
    <div class="inbox-footer__content">

        <!-- Кнопка перехода на страницу создания письма-->
        <div class="inbox-footer__new-message" ng-if="!vm.messages.checked.length">
            <button class="btn btn--red btn--size_50 btn--radius_3 btn--padding-5 icon-write" ui-sref="mail.compose"></button>
        </div>

        <hr class="hr hr--inbox-footer">

        <!-- Нижнее меню опций для выделеных писем -->
        <div class="inbox-footer__group-option"
             ng-if="vm.messages.checked.length"
             ng-class="{'is-more-switch': vm.isMoreSwitch}">



            <div class="inbox-footer__group-option-wrapper">
                <div class="inbox-footer__group-option-content">

                    <!-- первичные кнопки-->
                    <button class="inbox-footer__group-option-item btn btn--not-style icon-delete font--size20 flex flex--column align-items--cn color--light-red padding"
                            type="button"
                            ng-if="vm.$state.params.mbox !== 'Trash'"
                            ng-click="vm.move({name: 'Trash', caption: 'Корзина'})">
                        <span class="font--arial font--size14 mrg__top5">Удалить</span>
                    </button>

                    <button class="inbox-footer__group-option-item btn btn--not-style icon-delete font--size20 flex flex--column align-items--cn color--light-red padding"
                            type="button"
                            ng-if="vm.$state.params.mbox === 'Trash'"
                            ng-click="vm.destroy({name: 'Trash'})">
                        <span class="font--arial font--size14 mrg__top5">Удалить</span>
                    </button>

                    <button class="inbox-footer__group-option-item btn btn--not-style  icon-spam font--size20 flex flex--column align-items--cn color--yellow padding"
                            type="button"
                            ng-if="vm.$state.params.mbox !== 'Junk'"
                            ng-click="vm.move({name: 'Junk', caption: 'Спам'})">
                        <span class="font--arial font--size14 mrg__top5">Это спам</span>
                    </button>

                    <button class="inbox-footer__group-option-item btn btn--not-style  icon-spam font--size20 flex flex--column align-items--cn color--yellow padding"
                            type="button"
                            ng-if="vm.$state.params.mbox === 'Junk'"
                            ng-click="vm.move({name: 'Inbox', caption: 'Входящие'})">
                        <span class="font--arial font--size14 mrg__top5">Не спам</span>
                    </button>

                    <button class="inbox-footer__group-option-item btn btn--not-style btn--not-events icon-unread font--size20 flex flex--column align-items--cn padding"
                            type="button" ng-click="vm.triggerSeen()">
                        <span class="font--arial font--size14 mrg__top5" ng-if="vm.isSeen">Не прочитано</span>
                        <span class="font--arial font--size14 mrg__top5" ng-if="!vm.isSeen">Прочитано</span>
                    </button>

                    <!-- переключатель-->
                    <button class="inbox-footer__group-option-item inbox-footer__group-option-item-switch btn btn--not-style icon-double-arrow-right font--size20 flex flex--column align-items--cn padding"
                            type="button" ng-click="vm.isMoreSwitch = !vm.isMoreSwitch">
                        <span class="font--arial font--size14 mrg__top5">Еще</span>
                    </button>

                    <!-- вторичные кнопки-->
                    <button class="inbox-footer__group-option-item btn btn--not-style icon-folder font--size20 flex flex--column align-items--cn padding"
                            type="button" ng-click="vm.openLayoutFolder()">
                        <span class="font--arial font--size14 mrg__top5">В папку</span>
                    </button>

                    <button class="inbox-footer__group-option-item btn btn--not-style icon-tag font--size20 flex flex--column align-items--cn padding"
                            type="openTagListPopup"
                            ng-click="vm.openTagListPopup()">
                        <span class=" font--arial font--size14 mrg__top5">Метки</span>
                    </button>

                    <button class="inbox-footer__group-option-item btn btn--not-style btn--not-events icon-archive font--size20 flex flex--column align-items--cn padding"
                            type="button"
                            ng-click="vm.move({name: 'Archive', caption: 'Архив'})">
                        <span class="font--arial font--size14 mrg__top5">Архив</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
