<div class="tag-list">
    <div class="tag-list__body">

        <!--Пока что скрываем-->
        <!--<input type="text">-->
    </div>

    <div class="tag-list__links">
        <a class="tag-list__link tag-list__link--underline tag-list__link--unread" href>
            <span class="tag-list__name">Не прочитано</span>
        </a>
        <a class="tag-list__link" href>
            <span class="tag-list__name tag-list__name--important">
                Важные
            </span>
        </a>
        <a class="tag-list__link" href>
            <span class="tag-list__first-letter" style="background-color: #ff3f30; color: #fff;">
                Д
            </span>
            <span class="tag-list__name">
                рузья
            </span>
        </a>
        <a class="tag-list__link" href>
            <span class="tag-list__first-letter" style="background-color: #ff3f30; color: #fff;">
                Р
            </span>
            <span class="tag-list__name">
                абота
            </span>
        </a>
    </div>

    <hr class="hr">

    <div class="tag-list__header">
        Снять тег:
    </div>

    <div class="tag-list__links">
        <a class="tag-list__link" href>
            <span class="tag-list__first-letter" style="background-color: #31c73b; color: #fff;">
                П
            </span>
            <span class="tag-list__name">
                артнеры
            </span>
        </a>
    </div>

    <hr class="hr">

    <div>
        <a class="tag-list__link" href ng-click="vm.openTagCreatePopup()">
            <span class="tag-list__name">Новый тег..</span>
        </a>
    </div>

</div>