<div class="popup__head">
    <span class="popup__head-title">{{ 'TAGS' | translate }}</span>
    <button class="icon-close btn btn--not-style btn--main-mobile-color btn--size_s"
            type="button"
            ng-click="vm.close()"></button>

    <hr class="hr hr--popup">
</div>

<div class="popup__content scroll-fix">
    <label class="tag-list__item">
        <div class="letter-tags">
            <span class="icon-flagged_bg popup__icon popup__icon--not-size color--semi-dark-red"></span>
        </div>
        <span class="tag-list__title tag-list__title--mrg-left"
              ng-if="vm.isImportant">{{ 'IMPORTANT_ONE' | translate }}</span>
        <span class="tag-list__title tag-list__title--mrg-left" ng-if="!vm.isImportant">{{ 'NO_IMPORTANT_ONE' | translate }}</span>
        <input class="tag-list__checked" type="checkbox"
               ng-model="vm.isImportant"
               ng-change="vm.setImportant()">
        <span class="tag-list__tick is-selected"></span>
    </label>

    <label class="tag-list__item" ng-repeat="tag in vm.tags.items">
        <div class="letter-tags" style="color: {{ tag.bgcolor }}">
            <span class="letter-tags__icon icon-marker-mobile-bg font--size21"></span>
        </div>

        <span class="tag-list__title tag-list__title--mrg-left">{{ tag.tag_name }}</span>

        <input class="tag-list__checked"
               type="checkbox"
               ng-change="vm.triggerTag(tag, checked)"
               data-checklist-model="vm.unTags.items"
               data-checklist-value="tag">
        <span class="tag-list__tick is-selected"></span>
    </label>
</div>

<div class="popup__footer">
    <button class="btn btn--yellow btn--no-radius width--all height--min-inh font--size20"
            ng-click="vm.close()">
        {{ 'IS_DONE' | translate }}
    </button>
</div>