<div class="settings-accounts">
    <!-- Верхняя часть-->
    <div class="settings-accounts__header">
        <div class="settings-accounts__message">
            {{ 'SETTINGS_ACCOUNTS_MESSAGE_OTHER_MAILS' | translate }}.
        </div>
    </div>

    <!-- Основная часть-->
    <div class="accounts-settings__content">
        <!---->
        <div class="settings-accounts__list" ng-if="vm.accounts.items.length">
            <div class="settings-accounts__caption">{{ 'CONNECTED_BOXES' | translate }}</div>
            <div class="settings-accounts__items">
                <div class="settings-accounts__item" ng-repeat="account in vm.accounts.items">
                    <div class="settings-accounts__title">
                        {{ account.email }}
                    </div>

                    <form class="settings-accounts__item-content-right">
                        <div class="radio-switch radio-switch--size-s mrg--r16">
                            <input class="radio-switch__input" type="radio" name="toggle"
                                   ng-checked="{{ account.enable }}"
                                   ng-value="0"
                                   ng-model="account.enable"
                                   ng-change="vm.enableTrigger(account)">

                            <input class="radio-switch__input" type="radio" name="toggle"
                                   ng-checked="{{ account.enable }}"
                                   ng-value="1"
                                   ng-model="account.enable"
                                   ng-change="vm.enableTrigger(account)">
                            <span class="radio-switch__on-off" data-checked="{{ 'ON' | translate }}"
                                  data-unchecked="{{ 'OF' | translate }}">
                                                </span>
                        </div>

                        <button class="btn btn--not-style btn--size_xl pdd--r2 pdd--l2 color--silver"
                                type="button"
                                ng-click="vm.destroy(account)">
                            <span class="icon-delete"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="notific--layout-light mrg--t20" ng-if="vm.isConnected">
            {{ 'CONNECTED_SUCCESS_COLLECTION_OF_MAILS' | translate }}.
        </div>
    </div>

    <form name="accountForm" ng-submit="vm.create(accountForm)">

        <div class="settings-accounts__content">
            <div class="settings-accounts__caption">{{ 'COLLECTION_OF_MAIL' | translate }}</div>

            <div class="flex--inline align-items--cn just-content--f-st width--all mrg--b9">
                <label class="settings-accounts__label">{{ 'MAIL' | translate }}</label>
                <input class="input input--size_m width--all"
                       type="email"
                       name="email"
                       ng-model="vm.accountForm.model.email"
                       ng-blur="vm.getConf(accountForm)"
                       placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_EMAIL' | translate }}"
                       required>
            </div>

            <div class="flex--inline align-items--cn just-content--f-st width--all mrg--b9">
                <label class="settings-accounts__label">{{
                    'INPUT_PLACEHOLDER_PASSWORD' | translate }}</label>
                <input class="input input--size_m width--all"
                       type="password"
                       name="password"
                       ng-model="vm.accountForm.model.password"
                       placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_PASSWORD' | translate }}"
                       required>
            </div>

            <div ng-if="!vm.accountsConf.selected && !vm.accountsConf.isFirst && vm.accountForm.model.email && vm.accountForm.model.password">

                <div class="settings-accounts__caption">{{ 'PARAMETERS_OF_YOUR_MAIL_SERVER' | translate }}</div>

                <div class="flex--inline align-items--cn just-content--f-st width--all mrg--b9">
                    <label class="settings-accounts__label">{{
                        'INPUT_PLACEHOLDER_LOGIN' | translate }}</label>
                    <input class="input input--size_m width--all"
                           type="text"
                           name="login"
                           ng-model="vm.accountForm.model.login"
                           login-format
                           placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_LOGIN' | translate }}"
                           required>
                </div>

                <div class="flex--inline align-items--cn just-content--f-st width--all mrg--b9">
                    <label class="settings-accounts__label">{{ 'SERVER' | translate }}</label>
                    <input class="input input--size_m width--all"
                           type="text"
                           name="server"
                           ng-model="vm.accountForm.model.server"
                           placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_SERVER_ADDRESS' | translate }}"
                           required>
                </div>

                <div class="flex--inline align-items--cn just-content--f-st width--all mrg--b9">
                    <label class="settings-accounts__label">{{ 'PORT' | translate }}</label>
                    <input class="input input--size_m width--all"
                           type="text"
                           name="port"
                           ng-model="vm.accountForm.model.port"
                           placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_PORT' | translate }}"
                           required>
                </div>

                <div class="settings-accounts__verification-message"
                     ng-if="vm.error.message">
                    {{ 'WRONG_LOGIN_OF_PASSWORD' | translate }}
                </div>

            </div>
        </div>

        <div class="settings-accounts__footer">
            <button class="btn btn--size_m btn--y-gradient btn--border-dark"
                    type="submit">
                {{ 'ENABLED_COLLECTOR' | translate }}
            </button>
        </div>
    </form>
</div>