<div class="settings-rule-add">
    <form class="form"
          name="sieveForm"
          ng-submit="vm.sieveForm.model.id ? vm.update(sieveForm) : vm.add(sieveForm)"
          form-server-errors="vm.sieveForm.errors"
          novalidate>

        <div class="settings-rule-add__section">
            <div class="settings-rule-add__item">
                <span class="settings-rule-add__label">{{ 'NAME' | translate }}</span>
                <input class="input input--size_m width--all"
                       ng-class="{'input--error': sieveForm.name.$invalid}"
                       type="text"
                       name="name"
                       placeholder="{{ 'INPUT_PLACEHOLDER_NAME_RULE' | translate }}"
                       ng-model="vm.sieveForm.model.name"
                       server-error required>
            </div>
        </div>

        <div class="settings-rule-add__section">
            <div class="settings-rule-add__item">
                <span class="settings-rule-add__label">{{ 'IS_APPLY' | translate }}</span>

                <ui-select ng-model="vm.sieveForm.model.spam_accept"
                           class="select-list select-list--size_m select-list--not-border-of-sides mrg--b8"
                           ng-class="{'select-list--error': sieveForm.spam_accept.$invalid}"
                           theme="select2"
                           name="spam_accept"
                           search-enabled="false"
                           server-error
                           ng-required="true">
                    <ui-select-match class="select-list__body select-list--size_m width--all"
                                     placeholder="{{ 'RULE_ADD_SELECT_FOR_ALL_LETTERS' | translate }}">
                        {{ $select.selected.name | translate }}
                    </ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.spamAccept.list"
                                       value="{{ $select.selected.value }}">
                        <div ng-bind-html="item.name | translate"></div>
                    </ui-select-choices>
                </ui-select>

                <ui-select ng-model="vm.sieveForm.model.attachment_accept"
                           class="select-list select-list--size_m select-list--not-border-of-sides"
                           ng-class="{'select-list--error': sieveForm.attachment_accept.$invalid}"
                           theme="select2"
                           name="attachment_accept"
                           search-enabled="false"
                           server-error
                           ng-required="true">
                    <ui-select-match
                            class="select-list__body select-list--size_m width--all"
                            placeholder="{{ 'RULE_ADD_SELECT_IS_ATTACH_0R_NOT' | translate }}">
                        {{ $select.selected.name | translate }}
                    </ui-select-match>
                    <ui-select-choices repeat="item.value as item in vm.attachmentAccept.list"
                                       value="{{ $select.selected.value }}">
                        <div ng-bind-html="item.name | translate"></div>
                    </ui-select-choices>
                </ui-select>

            </div>
        </div>

        <div class="settings-rule-add__section">
            <div class="settings-rule-add__item settings-rule-add__item--border">
                <div class="settings-rule-add__caption">{{ 'IF' | translate }}</div>

                <button class="btn btn--size_m btn--s-gradient btn--border-silver"
                        type="button"
                        ng-click="vm.addRule()">
                    {{ 'ADD_CONDITION' | translate }}
                </button>
            </div>

            <div class="settings-rule-add__conditions">
                <div class="settings-rule-add__conditions-item" ng-repeat="rule in vm.sieveForm.model.sieveRules">
                    <ui-select ng-model="rule.type"
                               class="select-list select-list--size_m select-list--not-border-of-sides mrg--b8"
                               ng-class="{'select-list--error': sieveForm.type_{{$index}}.$invalid}"
                               theme="select2"
                               name="type_{{$index}}"
                               search-enabled="false"
                               server-error
                               ng-required="true">

                        <ui-select-match class="select-list__body select-list--size_m width--all"
                                         placeholder="{{ 'FROM_WHOM_U' | translate }}">
                            {{ $select.selected.name | translate }}
                        </ui-select-match>
                        <ui-select-choices repeat="item.value as item in vm.sieveRules.list"
                                           value="{{ $select.selected.value }}">
                            <div ng-bind-html="item.name | translate"></div>
                        </ui-select-choices>
                    </ui-select>

                    <ui-select ng-model="rule.compare_type"
                               class="select-list select-list--size_m select-list--not-border-of-sides mrg--b8"
                               ng-class="{'select-list--error': sieveForm.compare_type_{{$index}}.$invalid}"
                               theme="select2"
                               name="compare_type_{{$index}}"
                               search-enabled="false"
                               server-error
                               ng-required="true">
                        <ui-select-match class="select-list__body select-list--size_m width--all"
                                         placeholder="{{ 'RULE_ADD_SELECT_IS_COINCIDES' | translate }}">
                            {{ $select.selected.name | translate }}
                        </ui-select-match>
                        <ui-select-choices repeat="item.value as item in vm.compareTypes.list"
                                           value="{{ $select.selected.value }}">
                            <div ng-bind-html="item.name | translate"></div>
                        </ui-select-choices>
                    </ui-select>

                    <input class="input input--size_m width--all"
                           ng-class="{'input--error': sieveForm.value_{{$index}}.$invalid}"
                           type="text"
                           name="value_{{$index}}"
                           ng-model="rule.value"
                           placeholder="{{ 'INPUT_PLACEHOLDER_NAME_RULE' | translate }}"
                           required>

                    <div class="flex flex--just-f-e width--all mrg--t20">
                        <button class="settings-rule-add__condition-remove btn btn--not-style btn--not-events"
                                type="button"
                                ng-click="vm.removeRule(rule)">
                            <span class="mrg--r5">Удалить условие</span>
                            <span class="icon-delete"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--Выполнить действие-->
        <div class="settings-rule-add__section">
            <div class="settings-rule-add__item">
                <div class="settings-rule-add__caption">{{ 'RUN_ACTION' | translate }}</div>
            </div>

            <div class="settings-rule-add__item mrg--b8">
                <label class="checkbox-y__label checkbox-y">
                    <input class="checkbox-y__input" type="checkbox"
                           data-checklist-model="vm.sieveForm.model.sieveActions"
                           data-checklist-value="{ 'type': 'delete' }"
                           checklist-comparator=".type">
                    <div class="checkbox-y__body">
                        <span class="checkbox-y__icon"></span>
                    </div>
                    <span class="checkbox__text" role="presentation">
                                        {{ 'DELETE' | translate }}
                                    </span>
                </label>
            </div>

            <div class="settings-rule-add__item mrg--b8">
                <label class="checkbox-y__label checkbox-y">
                    <input class="checkbox-y__input" type="checkbox"
                           data-checklist-model="vm.sieveForm.model.sieveActions"
                           data-checklist-value="{ 'type': 'read' }"
                           checklist-comparator=".type">
                    <div class="checkbox-y__body">
                        <span class="checkbox-y__icon"></span>
                    </div>
                    <span class="checkbox__text" role="presentation">{{ 'MARK_AS_READ' | translate }}</span>
                </label>
            </div>

            <div class="settings-rule-add__item flex align-items--center mrg--b8">
                <label class="checkbox-y__label checkbox-y mrg--r10">
                    <input class="checkbox-y__input" type="checkbox"
                           ng-model="vm.isFolder"
                           data-checklist-model="vm.sieveForm.model.sieveActions"
                           data-checklist-value="vm.sieveActions.move"
                           checklist-comparator=".type">
                    <div class="checkbox-y__body">
                        <span class="checkbox-y__icon"></span>
                    </div>
                    <span class="checkbox__text " role="presentation">
                        {{ 'PUT_IN_FOLDER' | translate }}
                    </span>
                </label>

                <ui-select ng-model="vm.sieveActions.move.value"
                           class="select-list select-list--size_m select-list--not-border-of-sides select-list--settings-rule "
                           ng-class="{'select-list--error': sieveForm.move.$invalid}"
                           name="move"
                           theme="select2"
                           ng-disabled="!vm.isFolder"
                           search-enabled="false"
                           ng-required="true">
                    <ui-select-match
                            class="select-list__body select-list--size_m width--al"
                            placeholder="{{ 'CHOOSE' | translate }}">
                        {{ $select.selected.name | translate }}
                    </ui-select-match>
                    <ui-select-choices repeat="item.name as item in vm.folders.items"
                                       value="{{ $select.selected.name }}">
                        <div ng-bind-html="item.name | translate"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <!-- Поставить метку-->
            <!--
            <div class="settings-rule-add__item flex align-items--center">
                <label class="checkbox-y__label checkbox-y mrg--r10">
                    <input class="checkbox-y__input" type="checkbox"
                           ng-model="vm.isFlag"
                           data-checklist-model="vm.sieveForm.model.sieveActions"
                           data-checklist-value="vm.sieveActions.flag"
                           checklist-comparator=".type">
                    <div class="checkbox-y__body">
                        <span class="checkbox-y__icon"></span>
                    </div>
                    <span class="checkbox__text" role="presentation">{{ 'SET_TAG' | translate }}</span>
                </label>

                <ui-select ng-model="vm.sieveActions.flag.value"
                           class="select-list select-list--size_m select-list--not-border-of-sides"
                           theme="select2"
                           title="Choose a person"
                           ng-disabled="!vm.isFlag"
                           search-enabled="false">
                    <ui-select-match
                            class="select-list__body select-list--size_m width--all"
                            placeholder="{{ 'CHOOSE' | translate }}">
                        {{ $select.selected.tag_name }}
                    </ui-select-match>
                    <ui-select-choices repeat="item.tag_name as item in vm.tags.items"
                                       value="{{ $select.selected.tag_name }}">
                        <div ng-bind-html="item.tag_name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            -->
        </div>

        <!-- Пересылка писем -->
        <div class="settings-rule-add__section">
            <div class="settings-rule-add__item mrg--b0">
                <div class="settings-rule-add__caption">Пересылка писем</div>
                <div class="settings-rule-add__info flex align-items--cn">
                    <span class="icon-info mrg--r10"></span>
                    <span>{{ 'RULE_ADD_MESSAGE_WHEN_ACTIVE_RULE' | translate }}</span>
                </div>
            </div>

            <div class="settings-rule-add__item mrg--t20">
                <label class="checkbox-y__label ">
                    <input class="checkbox-y__input"
                           type="checkbox"
                           ng-model="vm.isResend"
                           data-checklist-model="vm.sieveForm.model.sieveActions"
                           data-checklist-value="vm.sieveActions.resend"
                           checklist-comparator=".type">
                    <div class="checkbox-y__body">
                        <span class="checkbox-y__icon"></span>
                    </div>
                    <span class="checkbox__text" role="presentation">{{ 'FORWARD_TO' | translate }}</span>
                </label>

                <input class="input input--size_m width--all mrg--t5"
                       ng-class="{'input--error': sieveForm.resend.$invalid}"
                       name="resend"
                       type="text"
                       placeholder="{{ 'FORWARD_TO' | translate }}"
                       ng-model="vm.sieveActions.resend.value"
                       ng-disabled="!vm.isResend"
                       required>

                <label class="checkbox-y__label checkbox-y width--inh">
                    <input class="checkbox-y__input"
                           type="checkbox"
                           ng-model="vm.sieveActions.resend.option">

                    <div class="checkbox-y__body">
                        <span class="checkbox-y__icon"></span>
                    </div>

                    <span class="checkbox__text"
                          role="presentation">{{ 'RULE_ADD_MESSAGE_SAVE_COPY' | translate }}</span>
                </label>
            </div>

            <div class="settings-rule-add__item mrg--t20">
                <label class="checkbox-y__label checkbox-y">
                    <input class="checkbox-y__input"
                           type="checkbox"
                           ng-model="vm.isNotify"
                           data-checklist-model="vm.sieveForm.model.sieveActions"
                           data-checklist-value="vm.sieveActions.notify"
                           checklist-comparator=".type">
                    <div class="checkbox-y__body">
                        <span class="checkbox-y__icon"></span>
                    </div>
                    <span class="checkbox__text " role="presentation">
                                            {{ 'RULE_ADD_MESSAGE_NOTIFY_BY_EMAIL' | translate }}
                                        </span>
                </label>
                <input class="input input--size_m width--all mrg--t5"
                       ng-class="{'input--error': sieveForm.notify.$invalid}"
                       type="text"
                       name="notify"
                       ng-model="vm.sieveActions.notify.value"
                       ng-disabled="!vm.isNotify"
                       placeholder="{{ 'RULE_ADD_MESSAGE_NOTIFY_BY_EMAIL' | translate }}"
                       required>
            </div>

            <div class="settings-rule-add__item mrg--t20">
                <label class="align-items-st checkbox-y__label checkbox-y width--inh">
                    <input class="checkbox-y__input"
                           type="checkbox"
                           ng-model="vm.isAnswer"
                           data-checklist-model="vm.sieveForm.model.sieveActions"
                           data-checklist-value="vm.sieveActions.answer"
                           checklist-comparator=".type">
                    <div class="checkbox-y__body">
                        <span class="checkbox-y__icon"></span>
                    </div>
                    <span class="checkbox__text " role="presentation">
                                            {{ 'RULE_ADD_MESSAGE_REPLY_TEXT' | translate }}
                                        </span>
                </label>
                <textarea class="rule-add__textarea textarea textarea--not-resize textarea--normal width--inh font--size13 mrg--t5"
                          ng-class="{'textarea--error': sieveForm.answer.$invalid}"
                          name="answer"
                          cols="10"
                          rows="10"
                          placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_MESSAGE_TEXT' | translate }}"
                          ng-model="vm.sieveActions.answer.value"
                          ng-disabled="!vm.isAnswer"
                          required>
                </textarea>
            </div>

            <div class="settings-rule-add__item mrg--t20 flex flex--just-s-b">
                <button class="btn btn--size_m btn--y-gradient btn--border-dark"
                        type="submit"
                        ng-if="!vm.sieveForm.model.id">
                    {{ 'CREATE_RULE' | translate }}
                </button>

                <!--<button class="btn btn&#45;&#45;size_m btn&#45;&#45;y-gradient btn&#45;&#45;border-dark"-->
                        <!--type="submit"-->
                        <!--ng-if="vm.sieveForm.model.id">-->
                    <!--{{ 'BTN_SAVE_CHANGE' | translate }}-->
                <!--</button>-->

                <!--<button class="btn btn&#45;&#45;size_m btn&#45;&#45;y-gradient btn&#45;&#45;border-dark"-->
                        <!--type="button">-->
                    <!--{{ 'BTN_APPLY_TO_EXISTING_EMAILS' | translate }}-->
                <!--</button>-->

                <button class="btn btn--size_m btn--s-gradient btn--border-dark btn--border-silver"
                        type="button"
                        ui-sref="settings.rules">
                    {{ 'BTN_CANCEL' | translate }}
                </button>
            </div>
        </div>
    </form>
</div>