.attach-item {
  width: 96px;

  &__body {
    position: relative;

    margin: 0 auto;

    width: 50px;
    height: 65px;

    overflow: hidden;
  }

  &__name {
    position: absolute;
    top: 10px;
    left: 10px;

    font: bold 12px/1.1 $mainFont;

    @extend .main-text-dots;
  }

  &__name2 {
    max-height: 36px;

    text-align: center;
    font-size: 12px;
    @extend .main-text-dots;
  }

  &__image {
    @include border-radius(3px);
    border: 1px solid $main-border-color;

    position: absolute;

    top: 0;
    right: 0;

    z-index: 1;

    width: 100%;
    height: 56px;

    background-size: cover;
    background-position: center;

    &--file {
      border: none;

      width: 100%;
      height: 65px;

      z-index: 2;

      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__type {
    @include border-radius(3px);

    position: absolute;

    height: 20px;

    display: inline-flex;
    justify-content: center;
    @extend .main-align-items-center;


    bottom: 10px;
    left: 10px;


    padding: 0 7px;

    background: $red-btn-color;

    color: #fff;
    font: bold 12px/1 $mainFont;
    text-transform: uppercase;
  }

  &__buttons {
    display: none;

    width: 100%;

    position: absolute;
    bottom: 10px;

    justify-content: flex-start;

    padding-left: 11px;

    z-index: 3;
  }

  &__buttons-link{

    &:first-child {
      margin-right: 1px;
      .attach-item__button{
        @include border-radius(3px 0 0 3px);
      }
    }

    &:last-child {
      .attach-item__button {
        @include border-radius(0 3px 3px 0);
      }
    }

  }

  &__button {
    @include border-radius(3px);

    width: 22px;
    height: 22px;

    font-size: 16px;
    color: #fff;
    border: none;

    background: rgba(0, 0, 0, .75);

    @extend .main-flex;
    justify-content: center;
    align-content: center;

    &:first-child {

    }

    &:last-child {

    }

    &:hover {
      background: rgba(0, 0, 0, .5)
    }
  }

  &:hover {
    .attach-item__type {
      display: none;
    }

    .attach-item__buttons {
      @extend .main-flex;
    }
  }
}