.attach-upload {
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    //&:after {
    //  @include clear;
    //}
  }

  &__item {
    position: relative;
    z-index: 1;

    display: block;

    width: 98px;
    height: 98px;

    max-height: 98px;
    max-width: 98px;
    min-width: 98px;

    background-color: #d9d9db;

    margin: 0 6px 5px 0;
    overflow: hidden;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 14px;
      height: 14px;

      background-color: $red-btn-color;
      z-index: 2;

      //transform: rotate(45deg);
    }
    &:after{
      content: "";
      position: absolute;
      z-index: 3;

      top: -18px;
      right: -15px;

      width: 21px;
      height: 30px;

      background-color: $white-color;

      transform: rotate(45deg);
    }

  }

  &__name {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    min-height: 16px;
    padding: 0 6px;

    color: $white-color;
    font: bold  10px/1 $mainSecondFont;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    background: $red-btn-color;
  }

  &__image {
    text-align: center;
    width: 140px;
    height: 140px;

    overflow: hidden;
    opacity: 0.5;

    &--shadow {
      //box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
    }

    img {
      max-width: 100%;
    }
  }

  &__links {
    position: absolute;
    right: 8px;
    bottom: 20px;
  }
  &__delete{

    color: $textBlack;
    font-size: 18px;
  }
}