.body-message {
  margin: 58px 22px;
  border-bottom: 1px solid $mail-message-title--border-color;

  &__content {
    width: auto;

    min-width: 280px;
    min-height: 150px;

    background: $massage-content-bg-color;

    overflow: auto;
  }

}

