.body-message {
  position: relative;

  overflow-x: hidden;
  overflow-y: auto;

  height: 100%;

  &__content {
    position: relative;

    //margin:  16px 0 0;

    overflow: auto;
    -webkit-overflow-scrolling:touch;
  }
}

