.compose{
  &__header{
    margin-left: -20px;
    margin-right: -20px;
  }

  &__from{
    position: relative;

    &--add-features{
      visibility: hidden;
      display: none;
    }

    &.is-show-features{

      .compose__from--add-features{
        visibility: visible;
        display: block;

      }
      .input-line__btn-more{
          transform: rotate(180deg)!important;
      }
    }

  }
  &__letter-subject{
    position: relative;
    //margin-left: -20px;
    //margin-right: -20px;

  }

  &__content{

    position: relative;
    min-height: 56px;
    padding: 0 32px;
    margin-top: 1px;
    color: #222;
    background-color: $white-color;

    box-shadow: none;
    font-size: 16px;
  }
  &__message{

    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    //height: auto;
    line-height: 20px;
    min-height: 205px;
    min-width: 100%;
    color: #000;
    white-space: normal;
    outline: none;
  }
  &__btn-attach{
    position: absolute;
    top: 26px;
    right: 0;
    margin-right: 20px;

  }


  &__attachments-upload{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px 32px;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

}