.compose-send {
  &__item {
    margin-right: 5px;
  }
  .note-toolbar.panel-heading{
    display: none!important;
  }
}

.compose{
  &__header{

  }
  &__from{
    position: relative;

  }
  &__letter-subject{
    position: relative;
  }

  &__content{

    position: relative;
    min-height: 56px;
    padding: 0 16px;
    margin-top: 1px;
    color: #222;

    box-shadow: none;
    font-size: 16px;
  }
  &__message{

    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    height: auto;
    line-height: 18px;
    min-height: 205px;
    max-width: 100%;
    transform: translateZ(0);
    color: #000;
    white-space: normal;
    outline: none;
  }
  &__btn-attach{
    position: absolute;
    top:5px;
    right: 0;

  }

  &__attachments{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px 12px;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }


}

$inpus-compose-text: #b3b3b8;

.btn-arrow{
  position: absolute;
  right: 1px;

  font-size: 14px;
  color: #888888;

  &--active{

  }


}