.important-tags {
  position: relative;

  font-family: 'icons-font' !important;
  color: $important-tags-color;

  @extend .icon-flagged;

  &--active {
    color: $important-tags-active-color;

    @extend .icon-flagged_bg;
  }
}