.inbox-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;

  display: block;
  width: 100%;
  min-height: 0;

  background-color: transparent;
  z-index: 100;

  &__content {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;

    max-width: 768px;
    min-height: 100%;
    margin: auto;

    padding: 13px;
  }

}