.inbox-message-list {
  position: relative;
  &--indentation {
    padding-bottom: 55px !important;
  }

  &__spinner {
    position: absolute;
    bottom: 0;
    padding: 60px;

    text-align: center;
  }
}