.inbox-message {
  @extend .main-flex;
  flex-flow: row nowrap;
  @extend .main-align-items-center;
  justify-content: space-between;

  position: relative;

  padding: 0;

  font: normal 13px/1.2 $mainFont;

  border-bottom: 1px solid rgba(0, 0, 0, .05);

  height: 100%;

  &:hover {
    background: rgba(0, 0, 0, .03);
  }

  &__left {
    @extend .main-flex;
    @extend .main-flex-flow-col;
    @extend .main-align-items-center;

    max-width: 67px;

    padding: 12px;

    height: 91px;
  }

  &__center {
    @extend .main-flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    width: 100%;

    padding: 10px 0 8px;
    margin: 0 0 auto;

    @extend .main-text-dots;
  }

  &__right {
    @extend .main-flex;
    @extend .main-align-items-center;

    padding: 5px;

    max-width: 56px;
    width: 56px;
    height: 100%;
  }

  &__right-btn {
    transform: rotate(90deg);

    color: $btn-more-color !important;
    font-size: 24px !important;

    height: 100% !important;

    padding: 0;

    cursor: pointer;
  }

  &__head {
    @extend .main-flex;
    justify-content: space-between;

    width: 100%;
    color: $inbox-head-text-color;
  }

  &__head-right {
    position: absolute;
    top: 8px;
    right: 19px;

    @extend .main-flex;
    @extend .main-align-items-center;

    @media (min-width: 500px) {
      right: 24px;
    }
    @media (min-width: 500px) {
      right: 26px;
    }
  }

  &__name {
    max-width: calc(100% - 80px);
    margin: 0 auto 3px 0;

    font-size: 16px;

    @extend .main-text-dots;
  }

  &__data {
    max-width: 100px;

    margin-left: 10px;

    text-align: right;
    color: $inbox-date-message-color;
  }

  &__text {
    @extend .main-flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    width: 100%;
    min-width: 60px;

    font: 100 14px/1 $mainThreeFont;
  }

  &__subject {
    display: inline-block;

    margin: 0;

    color: $inbox-head-text-color;
    line-height: 1.3;

    @extend .main-text-dots;
  }

  &__message {
    display: inline-block;

    flex-shrink: 1;

    max-height: 48px;

    @extend .main-text-dots;

    margin: auto 0;

    color: $inbox-message-color;
    font: normal 14px/1.3 $mainThreeFont;

    div {
      white-space: normal !important;
    }
  }

  &__check-message {
    visibility: hidden;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: inherit;
    height: inherit;

    background-color: rgba($inbox-message-avatar-checked, .7);
    //background-image: url("../images/checked.svg");
    background-image: url('../images/checked.svg');
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
  }

  &__avatar {
    position: relative;
  }

  &__round {
    margin-top: -10px;

    padding: 10px 15px 20px 15px;
  }

  &__checked {
    margin-right: 10px;
  }

  &__labels {
    @extend .main-flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    margin-right: 10px;
  }

  &__label {
    margin: 2px 20px 2px 0;
  }

  &--new {
    .inbox-message__name {
      font-weight: 600;
    }

    .inbox-message__subject {
      font-weight: 600;
    }
  }

  &--importmant {
    background: $inbox-important-message-color;

    .important-tags {
      display: block;
      margin-right: 7px;
    }
  }

  &--checked {
    background-color: $inbox-message-checked;
    .inbox-message__check-message {
      visibility: visible;
    }
    &:hover {
      background: rgba(0, 0, 0, .03);
    }
  }

  @media only screen and (max-width: 460px) {
    &__message {
      max-height: 40px !important;
    }
  }

  &__attach {
    font-size: 16px;

    transform: rotate(-45deg);
  }
}