.inbox-message-list {
  position: relative;
  overflow: hidden;

  transition: all .2s ease-in;

  &--indentation {
    padding-bottom: 55px !important;
  }

  &__spinner {
    text-align: center;
  }
}