.info-sender {
  margin: 10px 0;
  align-items: center;
  width: 100%;

  &__avatar {
    width: 82px;
  }

  &__to-whom {
    color: $silver-mail-message-title-color;

    font: 100 11px/1 $mainFont;
    align-items: center;

  }

  &__from-whom {
    color: $black;
    font: bold 13px/1 $mainFont;

    &__mail-name {
      color: $message-date-color;
      font-size: 11px;
      font-weight: 100;
    }
  }

  &__date {
    color: $message-date-color;
    font-size: 13px;
  }

}