.menu-bottom {
  position: fixed;

  width: 100%;

  bottom: 0;
  left: 0;

  &__item {
    padding: 15px 0;

    background-color: #f5f5f5;

    border-bottom: 1px solid #D5D5D5;

    display: flex;

    justify-content: space-around;
  }

  &__bg {

  }
}