.message-reply {
  position: relative;
  z-index: 5;

  @extend .main-flex;
  align-items: flex-end;

  flex: 0 0 auto;

  width: 100%;
  height: auto;

  min-height: 40px;
  max-height: 120px;

  padding-top: 3px;

  box-sizing: content-box;
  background-color: $white-color;


  &:before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;

    @extend .wrap-content--psevdo;

    background: $white-color;
  }

  &__container {
    position: relative;

    @extend .main-flex;
    @extend .main-align-items-center;

    justify-content: space-between;
    background: $white-color;

    width: 100%;

    max-width: 768px;
    min-height: 100%;
    padding: 2px 0;
  }
}
