.palette-list {
  display: block;

  max-width: 208px;

  &:after {
    @include clear;
  }

  &__item {
    position: relative;

    float: left;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    margin: 0 2px 2px 0;

    cursor: pointer;
  }

  &__icon {
    position: absolute;

    color: #fff;
    font-size: 18px;
  }
}