.palette-list {
  margin: 20px auto 0;

  &:after {
    @include clear;
  }

  &__item {
    position: relative;

    float: left;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;

    margin: 0 3px 3px 0;

    cursor: pointer;
  }

  &__icon {
    position: absolute;

    color: #fff;
    font-size: 18px;
  }
}