.palette-list {
  display: flex;

  &__item {
    position: relative;

    width: 19px;
    height: 19px;

    margin: 0 2px 2px 0;

    cursor: pointer;
  }

  &__icon {
    position: absolute;

    top: 2px;
    left: 1px;

    color: #fff;
    font-size: 16px;
  }
}