.pop-up-notification{
  position: relative;
  z-index: -1;

  overflow: hidden;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform .6s, opacity 1.2s;

  background-color: #f6f5f3;

  &__container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 768px;

    text-align: center;
    padding: 16px 22px;
    min-height: 64px;
    margin: 0 auto;
  }

  &__notific {
    line-height: 22px;
    min-height: 22px;
    word-wrap: break-word;
    font-family: $mainFont, Helvetica,;
    font-size: 18px;
    word-wrap: break-word;
    color: rgba(0, 0, 0, .8);
  }

  &.is-show{
    opacity: 1!important;
    transform: translateY(0)!important;
    transition: transform .6s;
  }

}