/* Блок с формой быстрого ответа */

.quick-reply {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: inherit;
  height: inherit;
  margin-bottom: 15px;


  &__message{
    position: relative;
    bottom: -3px;

    overflow: scroll;
    display: inline-block;

    width: 100%;
    height: auto;

    min-height: 20px;
    max-height: 120px;

    padding-top: 4px;

    vertical-align: bottom;
    line-height: 22px;

    outline: none;

    background: transparent;
    overflow: auto;
  }

  &__message-input{
    font: normal 16px/1.33 $mainFont;
    color: $black;

    min-height: 20px;
    max-height: 100px;
    height: auto;
    margin-left: 5px;

    &:focus, &:active{
      outline: none;
      border: none;
    }
  }

  &__send{
    color: $message-replay-btn;
    font: normal 16px/1 $mainFont;
  }
  &__write{
    color: $main-btn-color;
    font-size: 16px;
  }

  @media only screen and (max-width: 562px) {
    &__send, &__write{
      padding:  0 10px;
    }
  }

  @media only screen and (max-width: 360px) {
    &__send, &__write{
      padding:  0 5px;
    }
    &__message-input{
      font-size: 14px;
    }
  }


}

