.search-mail {
  position: sticky;
  top: 48px;
  z-index: 4;

  @extend .main-flex;
  @extend  .main-flex-flow-col;

  background: $white-color;
  box-shadow: 0 -3px 20px -3px rgba(0, 0, 0, 0.4);

  transition: all .6s;

  &__header {
    display: inherit;
    justify-content: space-between;
    padding: 10px 0;
  }

}

@include keyframes(search-input) {
  from {
    width: 0;
  }
  50% {
    width: 50%;
  }
  to {
    width: 100%;
  }
}