.search-result {
  position: relative;
  height: 100%;

  @extend .main-flex;
  @extend  .main-flex-flow-col;

  background: #f8f8f8;

  transition: all .6s;

  &--no-result {
    background: #fff;
  }

  &--active{
    .search-result__filters{
      transform: translateY(0);
      height: auto;
    }
    .search-result__button-filter{
      color: $yellow-normal-light;
    }
  }

  &__filters{
    height: 0;
    margin: 0 auto;
    z-index: 1;
    transition: transform .8s, height .6s;
    transform: translateY(-245px);
  }

  &__content{
    margin: auto;

    text-align: center;
    font-size: 16px;
    //flex: 0 1 auto;
  }
  &__message-hint{
    color: rgba(0,0,0,.54);
    line-height: 1.4;
  }
  &__link{
    color: $link-color-search;
  }

}