.social-icons {
  display: inline-flex;

  width: 268px;
  justify-content: space-between;
  margin: auto;

  &__icon {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;

    font-size: 20px;
    color: $white-color;

    border: none;
    border-radius: 50%;

    transition: all .4s;

    &:hover {
      opacity: .8;
    }

    &--s34 {
      width: 34px;
      height: 34px;

      font-size: 18px;
    }

    &--border-yellow {
      border: 2px solid transparent;

      &:hover {
        color: $white-color;

        border-color: $yellow-yandex;

        opacity: .9;
      }
    }
  }

  &--vk {
    background-color: $vk;
  }
  &--fb {
    background-color: $fb;
  }
  &--tw {
    background-color: $tw;
  }
  &--gp {
    background-color: $gp;
  }
  &--ln {
    background-color: $ln;
  }

  &--btn-tied {
    &:before {
      display: flex;
      justify-content: center;

      content: "×";

      position: absolute;
      top: -1px;
      right: -1px;

      width: 16px;
      height: 16px;

      color: $red-remove-color;
      font: 100 14px/1 sans-serif;
      text-align: center;
      margin: auto;

      @include border-radius(50%);
      background: #fff;
    }
  }
}