.tag-list {
  width: 200px;
  max-width: none !important;

  &__body {
    padding: 0 12px;
  }

  &__name {
    padding: 0;
    margin: 0;

    &--important {
      &:after {
        content: "";
        @extend .ydx-i-flag;

        width: 10px;
        height: 10px;
        display: inline-block;
      }
    }
  }

  &__header {
    display: block;

    padding: 5px 12px;

    color: #999;
    font-size: 13px;
  }

  &__first-letter {
    font-size: 1.015625em;
    display: inline-block;
    height: 1em;
    margin: 0 1px 0 0;
    padding: 1px 2px 0;
    text-transform: capitalize;
    line-height: 1;
    border-radius: 3px;
    color: #fff;
  }

  &__link {
    display: block;

    //margin-left: 7px;

    color: #000;

    font-size: 13px;

    max-width: 100%;

    padding: .39em 12px;

    &:hover {
      background: rgba(0, 0, 0, .2);
    }

    &--underline {
        text-decoration: underline;
    }

    &--disabled {
      color: #999 !important;
      text-decoration: none;

      margin-left: 0;

      //&:before {
      //  content: "•";
      //  font-size: 16px;
      //  margin-right: 2px;
      //}

      &:hover {
        .folder-list__name {
          text-decoration: none;
          cursor: default;
        }
      }
    }

    &--new {
      margin: 0;

      padding-top: 6px;
      padding-bottom: 6px;

      &:hover {
        background: rgba(0, 0, 0, .2);

        .folder-list__name {
          text-decoration: none;
        }
      }
    }
  }
}