.to-round {
  &--active {
    .to-round__body {
      background: $yellow-hard-light;
    }
  }

  &__body {
    border-radius: 26px;

    @extend .main-flex;
    @extend .main-align-items-center;

    padding-right: 10px;
  }
}