<div class="avatar avatar--settings avatar--size42 avatar--second-style mrg--auto">

    <avatar-name name="vm.message.from"
                 email="vm.message.fromAddress"
                 ng-if="!vm.isAvatarIsLoading && (!vm.message.avatar || vm.isAvatarIsError) && (vm.$state.params.mbox !== 'Sent' && vm.$state.params.mbox !== 'Drafts')">
    </avatar-name>

    <avatar-name name="vm.message.to[0].name"
                 email="vm.message.to[0].address"
                 ng-if="!vm.isAvatarIsLoading && (!vm.message.avatar || vm.isAvatarIsError) && (!vm.user.profile.photo && (vm.$state.params.mbox === 'Sent' || vm.$state.params.mbox === 'Drafts'))">
    </avatar-name>

    <img class="avatar__image"
         ng-if="vm.message.avatar && !vm.isAvatarIsError"
         ng-src="{{ vm.message.avatar }}"
         image-load
         image-load-is-error="vm.isAvatarIsError"
         image-load-is-success="vm.isAvatarIsSuccess"
         image-load-is-loading="vm.isAvatarIsLoading">

    <div class="inbox-message__check-message"></div>

    <input type="checkbox"
           ng-model="vm.message.isChecked"
           style="display: none;"
           data-checklist-model="vm.messages.checked"
           data-checklist-value="vm.message">
</div>

<!--<div class="avatar avatar&#45;&#45;settings avatar&#45;&#45;size42 avatar&#45;&#45;second-style mrg&#45;&#45;auto">
    <avatar-name name="vm.message.from"
                 email="vm.message.fromAddress"
                 ng-if="vm.$state.params.mbox !== 'Sent' && vm.$state.params.mbox !== 'Drafts'"></avatar-name>

    <avatar-name name="vm.message.to[0].name"
                 email="vm.message.to[0].address"
                 ng-if="vm.$state.params.mbox === 'Sent' || vm.$state.params.mbox === 'Drafts'"></avatar-name>

    <div class="inbox-message__check-message"></div>
    <input type="checkbox"
           ng-model="vm.message.isChecked"
           style="display: none;"
           data-checklist-model="vm.messages.checked"
           data-checklist-value="vm.message">
</div>-->
