<div class="plaque-secure plaque-secure--danger"
     ng-if="vm.$auth.user.signedIn && !vm.$auth.user.profile.account_is_verified && vm.isRouteResolved() && vm.CONFIG.domainZone === 'md'">
    <div class="plaque-secure__body">
        <div>
            Ваш аккаунт недостаточно защищен. Перейдите в раздел
            <button class="btn btn--size_l btn--yellow" password-change-link>
                Безопасность аккаунта
            </button>
            и добавьте альтернативный email.
        </div>
    </div>
</div>