<div class="popup__head">
    <span class="popup__head-title">{{ 'PROFILE_PORTRAIT' | translate }}</span>
    <button class="icon-close btn btn--not-style btn--main-mobile-color btn--size_s"
            type="button"
            ng-click="vm.close()"></button>
    <hr class="hr hr--popup">
</div>

<div class="popup__content pdd--20">
    <div class="flex flex--just-cn">
        <div class="avatar-upload__crop"
             ngf-drop ngf-pattern="image/*"
             ng-if="vm.avatar.picFile"
             style="width:283px;height:283px;">
            <img-crop image="vm.avatar.picFile | ngfDataUrl"
                      result-image="vm.avatar.croppedDataUrl"
                      ng-init="vm.avatar.croppedDataUrl=''">
            </img-crop>
        </div>
        <img class="avatar-upload__default img-responsive"
             style="width:260px;height:260px;"
             src="/images/avatar-300.png"
             ng-if="!vm.avatar.picFile"/>
    </div>
    <div class="font--center">
        <button class="btn btn--size_l btn--normal mrg--t30"
                ngf-select
                ngf-capture="'other'"
                accept="image/*"
                ng-model="vm.avatar.picFile">{{ 'AVATAR_LOAD_IMAGE' | translate }}
        </button>

        <p class="font--size12 color--gray mrg--t10">
            {{ 'AVATAR_UPLOAD_TEXT_NOTYF' | translate }}
        </p>
    </div>
</div>

<div class="popup__footer">
    <button class="btn btn--yellow btn--no-radius width--all height--min-inh font--size20"
            type="button"
            ng-click="vm.upload(vm.avatar.croppedDataUrl, vm.avatar.picFile.name)">
        {{ 'SAVE' | translate }}
    </button>
</div>