<form name="uploadForm" ng-submit="vm.upload(vm.avatar.croppedDataUrl, vm.avatar.picFile.name)">
    <div class="popup__head">
        <span class="popup__head-title">{{ 'PROFILE_PORTRAIT' | translate }}</span>
        <button class="icon-close btn btn--not-style btn--main-mobile-color btn--size_s"
                type="button"
                ng-click="vm.close()"></button>
        <hr class="hr hr--popup">
    </div>

    <div class="popup__content pdd--20">
        <!--ng-if="vm.avatar.picFile"-->
        <div class="flex flex--just-cn">
            <div class="avatar-upload__crop"
                 ng-hide="!vm.avatar.picFile"
                 ngf-drop
                 ngf-pattern="image/*">
                <img-crop image="vm.avatar.picFile | ngfDataUrl"
                          result-image="vm.avatar.croppedDataUrl">
                </img-crop>
            </div>
            <!--ng-if="!vm.avatar.picFile"-->
            <img class="avatar-upload__default img-responsive"
                 style="width:260px;height:260px;"
                 ng-hide="vm.avatar.picFile"
                 src="/images/avatar-300.png"/>
        </div>
        <div class="font--center">
            <button class="btn btn--size_l btn--normal mrg--t30"
                    ngf-select
                    accept="image/*"
                    ngf-fix-orientation="true"
                    ngf-max-size="50MB"
                    ng-model="vm.avatar.picFile">
                {{ 'AVATAR_LOAD_IMAGE' | translate }}
            </button>

            <p class="font--size12 color--gray mrg--t10">
                {{ 'AVATAR_UPLOAD_TEXT_NOTYF' | translate }}
            </p>
        </div>
    </div>

    <div class="popup__footer">
        <button class="btn btn--yellow btn--no-radius width--all height--min-inh font--size20"
                type="submit">
            {{ 'SAVE' | translate }}
        </button>
    </div>
</form>