<div class="auth-layout">
    <div class="auth-layout__content">
        <div class="auth-layout__form auth-layout__form--wd388">
            <div class="card card--black">
                <div class="auth-form">
                    <div class="auth-form__logo mrg--b16">
                        <a href="{{ vm.CONFIG.parentHost }}">
                            <img class="img-responsive mrg--auto"
                                 src="/images/domains/{{ vm.CONFIG.domainZone }}/logo-mail-white.svg"
                                 style="width: 141px;"
                                 logo-hover>
                        </a>
                        <hr class="hr hr--auth mrg--t16">
                    </div>

                    <form class="form form--dark form--validation"
                          name="userForm"
                          ng-submit="vm.signUp(userForm)"
                          novalidate>

                        <!-- Имя и фамилия -->
                        <div class="form__field-item mrg--b20 flex--inline width--all">
                            <div class="field-style mrg--r5">
                                <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12"
                                       type="text"
                                       name="first_name"
                                       ng-model="vm.userForm.model.first_name"
                                       placeholder="{{ 'INPUT_PLACEHOLDER_NAME' | translate }}">
                                <validation-errors data="userForm.first_name"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.first_name">
                                </validation-errors>
                            </div>

                            <div class="field-style">
                                <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12"
                                       type="text"
                                       name="last_name"
                                       ng-model="vm.userForm.model.last_name"
                                       placeholder="{{ 'INPUT_PLACEHOLDER_LAST_MANE' | translate }}">
                                <validation-errors data="userForm.last_name"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.last_name">
                                </validation-errors>
                            </div>
                        </div>

                        <!-- Логин в базе -->
                        <div class="form__field-item mrg--b20">
                            <div class="field-style">
                                <label class="field-style__title font--size13">
                                    {{ 'AUTH_CREATE_A_USER_NAME' | translate }}
                                </label>

                                <div class="field-style__group field-style__focus">
                                    <span class="input-plash input-plash--top13 font--size13">@mail.{{ vm.CONFIG.domainZone }}</span>

                                    <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12 pdd--l38 pdd--r70"
                                           type="text"
                                           name="username"
                                           ng-model="vm.userForm.model.username"
                                           ng-change="vm.checkUserName()"
                                           placeholder="{{'INPUT_PLACEHOLDER_MAIL_NAME' | translate }}"
                                           login-format
                                           required>

                                    <div class="input-icon flex">
                                        <span class="icon-email mrg--auto"></span>
                                    </div>
                                </div>
                                <validation-errors data="userForm.username"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.username"
                                                   class="validation--form-auth validation--top-no-radius">
                                </validation-errors>
                            </div>
                        </div>

                        <!-- Пароль -->
                        <div class="form__field-item mrg--b6">
                            <div class="field-style">
                                <div class="field-style__group field-style__focus m-input__body">
                                    <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12 pdd--l38"
                                           type="{{ vm.isPasswordShow ? 'text' : 'password' }}"
                                           name="password"
                                           ng-model="vm.userForm.model.password"
                                           placeholder="{{ 'INPUT_PLACEHOLDER_PASSWORD' | translate }}"
                                           password-verify="{{ vm.userForm.model.passwordConf }}"
                                           required>

                                    <div class="input-icon flex">
                                        <span class="icon-password mrg--auto"></span>
                                    </div>

                                    <button class="btn btn--not-style btn--size_l font--size18 view-pass view-pass--right-input flex"
                                            type="button"
                                            ng-click="vm.isPasswordShow = !vm.isPasswordShow">
                                        <span class="icon-show-password mrg--auto"
                                              ng-class="{'icon-hide-password' : vm.isPasswordShow, 'icon-show-password' : !vm.isPasswordShow }"> </span>
                                    </button>
                                </div>

                                <validation-errors data="userForm.password"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.password"
                                                   class="validation--form-auth validation--top-no-radius">
                                </validation-errors>
                            </div>

                            <div class="progress-bar--password mrg--t5 "
                                 ng-password-strength="vm.userForm.model.password"
                                 strength="passStrength"
                                 inner-class="progress-bar progress-bar--password"
                                 inner-class-prefix="progress-bar-">
                            </div>
                        </div>

                        <!-- Подтверждение пароля -->
                        <div class="form__field-item mrg--b10">
                            <div class="field-style">
                                <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12"
                                       type="{{ vm.isPasswordShow ? 'text' : 'password' }}"
                                       name="passwordConf"
                                       ng-model="vm.userForm.model.passwordConf"
                                       placeholder="{{ 'INPUT_PLACEHOLDER_PASSWORD_CONFIRMATION' | translate }}"
                                       password-verify="{{ vm.userForm.model.password }}"
                                       required>
                                <validation-errors data="userForm.passwordConf"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.passwordConf"
                                                   class="validation--form-auth validation--top-no-radius">
                                </validation-errors>
                            </div>
                        </div>

                        <!--Дополнительный адрес: телефон-->
                        <div class="mrg__t10" ng-if="!vm.isAdditionalEmail">

                            <!-- СМС валидация -->
                            <label class="field-style__title font--size13">
                                {{ 'ACTIVE_PHONE' | translate }}
                                <a class="pull-right link--yellow"
                                   ng-click="vm.isAdditionalEmail = true"
                                   ng-if="vm.CONFIG.domainZone !== 'md'">
                                    {{ 'NO_PHONE' | translate }}
                                </a>
                            </label>

                            <div class="form__field-item mrg--b25 flex flex--row-wrap">
                                <!--<div class="field-style width&#45;&#45;size73">
                                    <ui-select ng-model="vm.userForm.model.phoneCode"
                                               class="select-list select-list&#45;&#45;size_l select-list&#45;&#45;auth font&#45;&#45;size12"
                                               ng-class="{'select-list&#45;&#45;error': userForm.phoneCode.$invalid}"
                                               theme="select2"
                                               name="phoneCode"
                                               search-enabled="false"
                                               server-error
                                               ng-required="true">
                                        <ui-select-match
                                                class="select-list__body select-list&#45;&#45;size_xs width&#45;&#45;inh font&#45;&#45;size14"
                                                placeholder="{{ 'Код телефона' | translate }}">
                                            {{ $select.selected.name | translate }}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.value as item in vm.codes.list"
                                                           value="{{ $select.selected.value }}">
                                            <div ng-bind-html="item.name | translate"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>-->

                                <div class="field-style width--size206">
                                    <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12"
                                           type="text"
                                           name="phone"
                                           ng-model="vm.userForm.model.phone"
                                           ui-mask-placeholder
                                           ui-mask-placeholder-char="x"
                                           ui-mask="9999-9999-9999"
                                           ui-options="{allowInvalidValue: true, clearOnBlur: false}"
                                           required>
                                </div>

                                <div class="field-style" style="flex: 1;">
                                    <button class="btn btn--size_l btn--normal btn--s-gradient"
                                            style="width: 100%;"
                                            type="button"
                                            ng-click="vm.sendCode()">
                                        {{ 'BTN_TO_GET_THE_CODE' | translate }}
                                    </button>
                                </div>

                                <validation-errors data="userForm.phone"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.phone"
                                                   class="validation--form-auth validation--top-no-radius">
                                </validation-errors>

                                <span class="notific notific--auth" ng-if="vm.codeResult && vm.userForm.model.phone">
                                    {{ 'AUTH_NOTIFIC_PHONE_1' | translate }} +{{ vm.userForm.model.phone }}  {{ 'AUTH_NOTIFIC_PHONE_2' | translate }}
                                </span>
                            </div>

                            <!-- СМС подтверждение кода -->
                            <div class="form__field-item mrg--b20 mrg--t16"
                                 ng-if="vm.codeResult || vm.userForm.errors">

                                <div class="width-inh flex--inline align-items--cn">
                                    <div class="field-style mrg--r5 width--size177">
                                        <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12"
                                               type="text"
                                               name="code"
                                               ng-model="vm.userForm.model.code"
                                               placeholder="{{ 'INPUT_PLACEHOLDER_ENTER_SMS_CODE' | translate }}"
                                               required>
                                    </div>
                                </div>

                                <div class="color--red">
                                    {{ vm.error.message }}
                                </div>

                                <validation-errors data="userForm.code"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.code"
                                                   class="validation--form-auth validation--top-no-radius">
                                </validation-errors>
                            </div>
                        </div>

                        <!--Дополнительный адрес: email-->
                        <div class="mrg__t10" ng-if="vm.isAdditionalEmail">
                            <label class="field-style__title font--size13">
                                {{ 'ACTIVE_EMAIL' | translate }}
                                <a class="pull-right link--yellow" ng-click="vm.isAdditionalEmail = false">
                                    {{ 'NO_EMAIL' | translate }}
                                </a>
                            </label>

                            <div class="form__field-item mrg--b25 flex flex--row-wrap">
                                <div class="field-style">
                                    <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12"
                                           type="email"
                                           name="email"
                                           ng-model="vm.userForm.model.email"
                                           required>
                                    <validation-errors data="userForm.email"
                                                       server="vm.userForm.errors"
                                                       messages="vm.userForm.validations.email"
                                                       class="validation--form-auth validation--top-no-radius">
                                    </validation-errors>
                                </div>

                            </div>
                        </div>

                        <!-- Соглашение -->
                        <div class="form__field-item mrg--b10">
                            <div class="field-style widtn--inh">

                                <!--наш чекбокс -->
                                <label class="checkbox-y__label checkbox-y--size15 checkbox-y checkbox-y--chek-top"
                                       for="isChecked">
                                    <input class="checkbox-y__input" id="isChecked" type="checkbox" name="agree"
                                           ng-model="vm.userForm.model.agree">
                                    <div class="checkbox-y__body">
                                            <span class="checkbox-y__icon">
                                            </span>
                                    </div>
                                    <span class="checkbox__text font--size12 color--white" role="presentation">
                                            {{ 'AUTH_CHECKBOX_CONFORMING_1' | translate }} <a
                                            class="link link--yellow"
                                            href="{{ vm.CONFIG.parentHost }}/obchodni-podminky/"
                                            target="_blank">{{ 'AUTH_CHECKBOX_CONFORMING_2' | translate }}</a>
                                        </span>
                                </label>

                                <validation-errors data="userForm.agree"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.agree"
                                                   class="validation--form-auth validation--mrg-t5"></validation-errors>

                            </div>
                        </div>


                        <div class="form__field-item mrg--b10" ng-if="vm.lang">
                            <div vc-recaptcha
                                 ng-model="vm.userForm.model.gRecaptchaResponse"
                                 theme="light"
                                 size="normal"
                                 type="'image'"
                                 key="'6LfYcD8UAAAAAGgAM-q3F9_yDKcC4-uH5ck3HwZH'"
                                 lang="vm.lang"
                            ></div>
                        </div>

                        <!-- Зарегистрироватся -->
                        <div class="form__field-item mrg--b10">
                            <hr class="hr hr--auth ">
                            <div class="field-style text-center">
                                <button class="btn btn--size_l btn--yellow width--inh"
                                        type="submit"
                                        ng-if="!vm.userForm.isLoading"
                                        ng-disabled="vm.CONFIG.domainZone === 'md'">
                                    {{ 'BTN_SING_UP_NOW' | translate }}
                                </button>
                                <div ng-if="vm.userForm.isLoading">
                                    <spinner is-global="false"
                                             is-open="true"></spinner>
                                </div>
                            </div>
                        </div>

                    </form>

                    <button class="btn btn--size_l btn--link-style link--yellow" ui-sref="signIn">
                        {{ 'SING_IN' | translate }}
                    </button>

                    <div class="text-center mrg--t20">
                        <social-auth></social-auth>
                    </div>

                </div>
            </div>
        </div>


        <div class="footer footer__auth">
            <div style="width: 30px;"></div>

            <div class="footer__copyright">
                <span>© 2017 Mail Group, a.s.</span>
            </div>

            <div class="footer__right-menu">
                <div class="navigation">
                    <div class="navigation__row">
                        <div class="navigation__item pos--rel width--size28">
                            <choice-language></choice-language>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="auth-layout__bg"></div>
</div>