<div class="menu-settings-layout">

    <div class="menu-settings">
        <div class="menu-settings__list">
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.main" ui-sref-active="menu-settings__link--active">Управление аккаунтом</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" href="">Папки</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.tags" ui-sref-active="menu-settings__link--active">Тэги</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" href="">Спам</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" href="">Черновики</a>
            </div>
        </div>
    </div>

    <hr class="hr hr--dashed menu-settings-layout__hr">

    <div class="menu-settings">
        <div class="menu-settings__list">
            <div class="menu-settings__item">
                <a class="menu-settings__link" href="">Настройки контактов</a>
            </div>
        </div>
    </div>

    <hr class="hr hr--dashed menu-settings-layout__hr">

    <div class="menu-settings">
        <div class="menu-settings__list">
            <div class="menu-settings__item">
                <a class="menu-settings__link" href="">
                    Язык: Русский
                </a>
            </div>
            <div class="menu-settings__item mrg__top20">
                <a class="menu-settings__link" href="">
                    Часы: (GMT+02:00) Киев
                </a>
            </div>
        </div>
    </div>

    <div class="menu-settings-layout__padding">

        <button class="btn-y btn-y--size26 btn-y--border pointer mrg__top20" type="button">
            Поменять пароль
        </button>

        <p class="menu-settings-layout__pass-info">
            Рекомендуем вам в целях безопасности менять пароль каждые 6 месяцев, а также указать дополнительные данные о
            себе — это поможет восстановить пароль, если вы его забудете.
        </p>

    </div>

</div>