<div class="menu-main-layout scroll-fix">

    <div class="menu-main-layout__header">
        <button class="btn btn--size_m btn--yellow"
                type="button"
                ui-sref="mail.inbox({mbox: 'INBOX'})">
            <span class="icon-arrow-left"></span>
            {{ 'RETURN_TO_MAIL' | translate }}
        </button>

        <!--<img class="menu-main-layout__header__logo img-responsive"
             src="/images/domains/{{ vm.CONFIG.domainZone }}/logo-mail-dark.svg">
        <button class="menu-main-layout__button-close btn font&#45;&#45;size16"
                type="button"
                ng-click="vm.closeSettingsMenu()">

            <span class="icon-close"></span>
        </button>-->
    </div>

    <!--основное меню -->
    <div class="menu-settings mrg--t16">
        <div class="menu-settings__list ">
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.main" ui-sref-active="menu-settings__link--active">
                    {{ 'MANAGE_ACCOUNT' | translate }}</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.folders" ui-sref-active="menu-settings__link--active">
                    {{ 'FOLDERS' | translate }}</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.tags" ui-sref-active="menu-settings__link--active">
                    {{ 'TAGS' | translate }}</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.rules" ui-sref-active="menu-settings__link--active">
                    {{ 'PROCESSING_RULES' | translate }}</a>
            </div>
            <div class="menu-settings__item">
                <a class="menu-settings__link" ui-sref="settings.accounts" ui-sref-active="menu-settings__link--active">
                    {{ 'MAILS_FROM_OTHER_BOXES' | translate }}</a>
            </div>
            <!--<div class="menu-settings__item">-->
            <!--<a class="menu-settings__link" ui-sref="settings.contacts" ui-sref-active="menu-settings__link&#45;&#45;active">-->
            <!--{{ 'SETTINGS_CONTACTS' | translate }}</a>-->
            <!--</div>-->
        </div>

        <div class="menu-settings__list">
            <div class="menu-settings__item">
                <a class="menu-settings__link" href password-change-link>
                    {{ 'ACCOUNT_SECURITY' | translate }}</a>
            </div>
        </div>

        <div class="menu-settings__list">
            <div class="menu-settings__item menu-settings__item--not-active">
                <div class="menu-settings__link menu-settings__link--not-decoration menu-settings__item--not-active flex mrg--r5"
                     href>
                    <span class="mrg--r18 menu-settings__item--not-active">{{ 'LANGUAGE' | translate }}:</span>
                    <div class="pos--rel width--all">
                        <div class="menu-settings__link-choose-element"
                             uib-popover-template="'app/components/lang-list/lang-list-popover.html'"
                             popover-class="popover--choose-lang popover--no-arrow"
                             popover-placement="bottom"
                             popover-animation="true"
                             popover-trigger="'outsideClick'"
                             popover-is-open="vm.isOpenLangList">

                            <img class="width--size20" src="images/country/{{ vm.useLang.icon }}">

                            <span class="mrg--l10">{{ vm.useLang.lang | translate }}</span>

                            <span class="icon-arrow-down mrg--f-right font--size12"
                                  ng-class="{'icon-arrow-up': vm.isOpenLangList, 'icon-arrow-down': !vm.isOpenLangList }">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu-settings__item menu-settings__item--not-active mrg--t20">
                <div class="menu-settings__link menu-settings__link--not-decoration menu-settings__item--not-active flex mrg--r5">
                    <span class="mrg--r18 menu-settings__item--not-active">{{ 'CLOCK' | translate }}:</span>
                    <div class="pos--rel width--all">
                        <div class="menu-settings__link-choose-element"
                             uib-popover-template="'app/components/timezone-list/timezone-list-popover.html'"
                             popover-class="popover--choose-time-zone popover--no-arrow"
                             popover-placement="bottom"
                             popover-animation="true"
                             popover-trigger="'outsideClick'"
                             popover-is-open="vm.isOpen">

                            <span class="text--dots">{{ vm.getTimezoneName(vm.user.profile.timezone) }}</span>

                            <span class="icon-arrow-down mrg--f-right font--size12"
                                  ng-class="{'icon-arrow-up': vm.isOpen, 'icon-arrow-down': !vm.isOpen }"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pdd--14">
            <button class="btn btn--size_m btn--normal width--inh btn--s-gradient"
                    type="button"
                    password-change-link>
                {{ 'BTN_CHANGE_PASSWORD' | translate }}
            </button>

            <p class="menu-settings-layout__pass-info mrg--t8 mrg--b0">
                {{ 'SETTINGS_MENU_NOTIFIC_RECOMENDATION' | translate }}.
            </p>
        </div>
    </div>

    <!--Футтер-->
    <!--<div class="menu-main-layout__footer">
        <div class="flex flex&#45;&#45;row-wrap align-items&#45;&#45;cn ">
            <div class="link link&#45;&#45;gray"
                 ng-click="vm.goToDesktopVersion('/mail/inbox?mbox=INBOX&version=desktop')">
                {{ 'FULL' | translate }} |
            </div>
            <div class="font&#45;&#45;normal">
                {{ 'MOBILE' | translate }} v 1.0
            </div>
        </div>

        <div class="menu-main-layout__footer-lang">
            <choice-language></choice-language>
        </div>
    </div>-->
</div>
