<div class="password-reset-layout">

    <div class="password-reset-layout__content">
        <div class="password-reset-layout__form  password-reset-layout__form--wd388">

            <div class="card">
                <div class="auth-form">

                    <div class="main-title-text line-h--h-1">Восстановление доступа</div>

                    <form class="form" name="userForm" ng-submit="vm.requestPasswordReset(userForm)" novalidate>

                        <!-- Ваш майл-->
                        <div class="form__field-item mrg__bottom10">
                            <div class="field-style">

                                <label class="field-style__title font--size13">Укажите логин, для которого хотите
                                    восстановить пароль</label>

                                <div class="field-style__group">

                                    <input class="input input--size_l input--up-shadow width--inh"
                                           type="text"
                                           name="username"
                                           ng-model="vm.userForm.model.username"
                                           placeholder="Логин или email"
                                           required>

                                    <validation-errors data="userForm.username"
                                                       server="vm.userForm.errors"
                                                       messages="vm.userForm.validations.username">
                                    </validation-errors>
                                    <!-- <div class="validation">
                                         <div class="validation__message validation__message&#45;&#45;red">
                                             Это имя пользователя уже занято. Попробуйте
                                             другое
                                         </div>
                                     </div>-->

                                </div>
                            </div>
                        </div>

                        <!-- СМС валидация -->
                        <!--<div class="form__field-item mrg__bottom10 mrg__top20 sms-bg">-->

                            <!--&lt;!&ndash; До отправки СМС&ndash;&gt;-->
                            <!--<div class="width&#45;&#45;inh">-->
                                <!--<div class="field-style flex&#45;&#45;inline mrg__top5">-->
                                    <!--<input class="input input&#45;&#45;size_l input&#45;&#45;up-shadow width&#45;&#45;inh mrg__right5"-->
                                           <!--type="text"-->
                                           <!--name="phone"-->
                                           <!--ng-model="vm.userForm.model.phone"-->
                                           <!--placeholder="+420 xxx xxx xxx"-->
                                           <!--ui-mask="+420 999-999-999"-->
                                           <!--required>-->
                                    <!--<button class="btn btn&#45;&#45;size_l btn&#45;&#45;normal width&#45;&#45;min126" type="button"-->
                                            <!--ng-click="vm.sendCode()">Получить код-->
                                    <!--</button>-->
                                <!--</div>-->

                                <!--<validation-errors data="userForm.phone"-->
                                                   <!--server="vm.userForm.errors"-->
                                                   <!--messages="vm.userForm.validations.phone"></validation-errors>-->

                                <!--<span class="notific notific&#45;&#45;auth mrg__top5" ng-if="vm.codeResult">-->
                                    <!--На номер +420 xxx xxx xxx был отправлен код проверки (временно)-->
                                    <!--<span class="color&#45;&#45;red">{{ vm.codeResult }}</span>-->
                                  <!--</span>-->
                            <!--</div>-->

                            <!--&lt;!&ndash; После отправки СМС&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="width&#45;&#45;inh mrg__top5">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="field-style flex&#45;&#45;inline align-items&#45;&#45;cn">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input class="input input&#45;&#45;size_l input&#45;&#45;up-shadow width&#45;&#45;inh mrg__right5"&ndash;&gt;-->
                                               <!--&lt;!&ndash;type="text"&ndash;&gt;-->
                                               <!--&lt;!&ndash;name="code"&ndash;&gt;-->
                                               <!--&lt;!&ndash;ng-model="vm.userForm.model.code"&ndash;&gt;-->
                                               <!--&lt;!&ndash;placeholder="Введите код из смс"&ndash;&gt;-->
                                               <!--&lt;!&ndash;required>&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<button class="btn btn&#45;&#45;size_l btn&#45;&#45;normal width&#45;&#45;min126" type="button">Подтвердить</button>&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span class="ok-validates width&#45;&#45;inh">Подтвержден</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<validation-errors data="userForm.code"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;server="vm.userForm.errors"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;messages="vm.userForm.validations.code">&ndash;&gt;-->
                                <!--&lt;!&ndash;</validation-errors>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                        <!--</div>-->
                     <!---->
                        <div class="form__field-item form__field-item--flex-start mrg__top25">
                            <div class="field-style">

                                <button class="btn btn--size_l btn--red" type="submit">Далее</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

        <!-- футтер на странице авторизации-->
        <div class="footer footer__auth">

            <!-- Копирайт-->
            <div class="footer__copyright">
                <span class="">© 2001—2017 «Mail.cz» Group a.s.</span>
            </div>
            <!-- Дополнительное меню с выбором языка-->
            <div class="footer__right-menu  mrg__right">

                <div class="navigation">
                    <div class="navigation__row">
                        <div class="navigation__item position width--size28 ">

                            <div class="choice-language">

                                <a class="choice-language__link choice-language--active" href=""><img class="choice-language__country" src="images/country/albania.svg" alt=""></a>
                                <!---->
                                <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/bosnia.svg" alt=""></a>
                                <!---->
                                <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/croatia.svg" alt=""></a>
                                <!---->
                                <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/cz.svg" alt=""></a>
                                <!---->
                                <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/macedonia.svg" alt=""></a>
                                <!---->
                                <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/russia.svg" alt=""></a>
                                <!---->
                                <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/serbia.svg" alt=""></a>
                                <!---->
                                <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/slovakia.svg" alt=""></a>
                                <!---->
                                <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/Slovenia.svg" alt=""></a>
                                <!---->
                                <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/uk.svg" alt=""></a>
                                <!---->
                                <a class="choice-language__link" href=""><img class="choice-language__country" src="images/country/ukraine.svg" alt=""></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="auth-layout__bg"></div>
</div>аш