<div class="password-reset-layout">

    <div class="password-reset-layout__content">
        <div class="password-reset-layout__form">

            <div class="card card--black">
                <div class="auth-form">
                    <div class="auth-form__logo mrg--b16">
                        <a href="{{ vm.CONFIG.parentHost }}">
                            <img class="img-responsive mrg--auto"
                                 src="/images/domains/{{ vm.CONFIG.domainZone }}/logo-mail-white.svg"
                                 style="width: 141px;"
                                 logo-hover>
                        </a>
                    </div>

                    <div class="auth-form__title">
                        {{ 'ACCESS_RECOVERY' | translate }}
                        <!--<div class="main-title-text color&#45;&#45;white">{{ 'ACCESS_RECOVERY' | translate }}</div>-->
                    </div>

                    <form class="form form--dark form--validation mrg--t20" name="userForm"
                          ng-submit="vm.preRequestPasswordReset(userForm)" novalidate>
                        <!-- Ваш майл-->
                        <div class="field-style">
                            <label class="field-style__title font--size13 mrg--t30 mrg--b10">
                                {{ 'AUTH_SPECIFY_LOGIN' | translate }}
                            </label>

                            <div class="field-style__group pdd--b20">

                                <input class="input input--size_l input--up-shadow input--focus-icon width--inh font--size12"
                                       type="text"
                                       name="username"
                                       ng-model="vm.userForm.model.username"
                                       placeholder="{{ 'INPUT_PLACEHOLDER_LOGIN_OR_EMAIL' | translate }}"
                                       required>

                                <validation-errors ng-if="userForm.$submitted"
                                                   data="userForm.username"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.username"
                                                   class="validation--form-auth validation--top-no-radius">
                                </validation-errors>


                                <!-- <div class="validation">
                                     <div class="validation__message validation__message&#45;&#45;red">
                                         Это имя пользователя уже занято. Попробуйте
                                         другое
                                     </div>
                                 </div>-->

                            </div>

                            <div class="flex mrg--t30 mrg--b10">
                                <button class="btn btn--size_l btn--yellow mrg--auto" type="submit">
                                    {{ 'BTN_FURTHER' | translate }}
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

        <!-- футтер на странице авторизации-->
        <div class="footer footer__auth">
            <div style="width: 30px;"></div>

            <div class="footer__copyright">
                <span>© 2017 Mail Group, a.s.</span>
            </div>

            <div class="footer__right-menu">
                <div class="navigation">
                    <div class="navigation__row">
                        <div class="navigation__item pos--rel width--size28">
                            <choice-language></choice-language>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="auth-layout__bg"></div>
</div>
