<div class="password-reset-layout">

    <div class="password-reset-layout__content">
        <div class="password-reset-layout__form">

            <div class="card">
                <div class="auth-form">

                    <div class="main-title-text">Восстановление доступа</div>

                    <form class="form" name="userForm" ng-submit="vm.login(userForm)" novalidate>

                        <!-- Ваш майл-->
                        <div class="form__field-item form__field-item--flex-start mrg__bottom10">
                            <div class="field-style">

                                <label class="field-style__title font__size13">Укажите логин, для которого хотите
                                    восстановить пароль</label>

                                <div class="field-style__group">

                                    <input class="input input--size_l input--up-shadow width--size328"
                                           type="text"
                                           name="username"
                                           ng-model="vm.userForm.model.username"
                                           placeholder="Логин или email"
                                           required>

                                    <validation-errors data="userForm.username"
                                                       server="vm.userForm.errors"
                                                       messages="vm.userForm.validations.username">
                                    </validation-errors>
                                    <!-- <div class="validation">
                                         <div class="validation__message validation__message&#45;&#45;red">
                                             Это имя пользователя уже занято. Попробуйте
                                             другое
                                         </div>
                                     </div>-->

                                </div>
                            </div>
                        </div>

                        <!-- СМС валидация -->
                        <div class="form__field-item form__field-item--flex-start mrg__bottom10 mrg__top16 sms-bg flex--inline flex--just-s-a">

                            <div class="width--size328 mrg__right30">
                                <div>
                                    <div class="field-style mrg__right5 width--size201">
                                        <input class="input input--size_l input--up-shadow width--inh"
                                               type="text"
                                               name="phone"
                                               ng-model="vm.userForm.model.phone"
                                               placeholder="+420 xxx xxx xxx"
                                               ui-mask="+420 999-999-999"
                                               required>
                                    </div>
                                    <div class="field-style width--size121 ">
                                        <button class="btn btn--size_l btn--normal width--inh" type="button"
                                                ng-click="vm.sendCode()">Получить код
                                        </button>
                                    </div>
                                </div>

                                <validation-errors data="userForm.phone"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.phone"></validation-errors>

                                <span class="notific notific--auth mrg__top5" ng-if="vm.codeResult">
                                    На номер +420 xxx xxx xxx был отправлен код проверки (временно)
                                    <span class="color--red">{{ vm.codeResult }}</span>
                                  </span>
                            </div>

                            <div class="width--size328">
                                <div>
                                    <div class="field-style mrg__right5 width--size201">
                                        <input class="input input--size_l input--up-shadow width--inh"
                                               type="text"
                                               name="code"
                                               ng-model="vm.userForm.model.code"
                                               placeholder="Введите код из смс"
                                               required>
                                    </div>
                                    <div class="field-style width--size121">
                                        <button class="btn btn--size_l btn--normal width--inh" type="button">Подтвердить
                                        </button>
                                    </div>
                                </div>
                                <validation-errors data="userForm.code"
                                                   server="vm.userForm.errors"
                                                   messages="vm.userForm.validations.code">
                                </validation-errors>
                            </div>

                        </div>
                        <div class="form__field-item form__field-item--flex-start mrg__top25">
                            <div class="field-style">

                                <button class="btn btn--size_l btn--red" ui-sref="signIn">Далее</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="auth-layout__bg"></div>
</div>

<!-- футтер на странице авторизации-->
<div class="footer footer__auth">

    <!-- Копирайт-->
    <div class="footer__copyright">
        <span class="">© 2001—2017 «Mail.cz» Group a.s.</span>
    </div>

    <!-- Основное меню-->
    <div class="footer__menu">
        <div class="navigation">
            <div class="navigation__row">
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a" href="">Поиск</a>
                </div>
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a"
                                                 href="">Контакты</a></div>
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a" href="">Файлы</a>
                </div>
                <div class="navigation__item"><a class="navigation__link navigation__link--footer-a" href="">Новости</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Дополнительное меню с выбором языка-->
    <div class="footer__right-menu  mrg__right">

        <div class="navigation">
            <div class="navigation__row">
                <div class="navigation__item position width--size28 ">

                    <div class="choice-language">

                        <a class="choice-language__link choice-language--active" href=""><img
                                class="choice-language__country" src="images/country/albania.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                      src="images/country/bosnia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                      src="images/country/croatia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                      src="images/country/cz.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                      src="images/country/macedonia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                      src="images/country/russia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                      src="images/country/serbia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                      src="images/country/slovakia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                      src="images/country/Slovenia.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                      src="images/country/uk.svg" alt=""></a>
                        <!---->
                        <a class="choice-language__link" href=""><img class="choice-language__country"
                                                                      src="images/country/ukraine.svg" alt=""></a>

                    </div>
                </div>
                <div class="navigation__item"><a class="navigation__link" href="">Контакты</a></div>
                <div class="navigation__item"><a class="navigation__link" href="">Реклама</a></div>
            </div>
        </div>
    </div>

</div>
