<div>
    <div class="search-result__header">
        <div class="radiobutton main-switch radiobutton--size_sm width--all">
            <input class="main-switch__input"
                   type="radio"
                   name="folder"
                   ng-change="vm.search()"
                   ng-value="'ALL'"
                   ng-model="vm.folders.selected.name">
            <span class="radiobutton--size_sm main-switch__btn main-switch__btn--firs width--inh font--size15">{{ 'ALL_MAIL2' | translate }}</span>
            <input class="main-switch__input"
                   type="radio"
                   name="folder"
                   ng-change="vm.search()"
                   ng-value="'INBOX'"
                   ng-model="vm.folders.selected.name">
            <span class="radiobutton--size_sm main-switch__btn main-switch__btn--last width--inh font--size15">{{ 'INBOX' | translate }}</span>
        </div>
        <button class="search-result__button-filter btn btn--not-style btn--size_sm btn--main-mobile-color font--size18 padding--right"
                type="button"
                ng-click="vm.isOpenFilters = !vm.isOpenFilters">
            <span class="icon-filter"></span>
        </button>
        <hr class="hr hr--header hr--size-h1">
    </div>

    <div class="search-filters" ng-if="vm.isOpenFilters">
        <div class="search-filters__item">
            <ui-select ng-model="vm.searchParts.selected"
                       search-enabled="false"
                       class="select-list select-list--size_m select-list--not-border-of-sides width--all"
                       theme="select2"
                       on-select="vm.search(); vm.isOpenFilters = false">
                <ui-select-match
                        class="select-list__body select-list--size_m width--inh padding--right30 padding--left_12">
                    {{ $select.selected.name | translate }}
                </ui-select-match>
                <ui-select-choices repeat="item in vm.searchParts.list track by $index">
                    <div ng-bind-html="item.name | translate"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="search-filters__item">
            <ui-select ng-model="vm.folders.selected"
                       class="select-list select-list--size_m select-list--not-border-of-sides width--all"
                       search-enabled="false"
                       theme="select2"
                       on-select="vm.search(); vm.isOpenFilters = false">
                <ui-select-match
                        class="select-list__body select-list--size_m width--inh padding--right30 padding--left_12">
                    {{ $select.selected.name | translate }}
                </ui-select-match>
                <ui-select-choices repeat="item in vm.folders.items track by $index">
                    <div ng-class="{'mrg__left10': item.isSub}" ng-bind-html="item.name | translate"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="search-filters__item">
            <ui-select ng-model="vm.tags.selected"
                       search-enabled="false"
                       class="select-list select-list--size_m select-list--not-border-of-sides width--all"
                       theme="select2"
                       on-select="vm.search(); vm.isOpenFilters = false">
                <ui-select-match
                        class="select-list__body select-list--size_m width--inh padding--right30 padding--left_12">
                    {{ $select.selected.tag_name | translate }}
                </ui-select-match>
                <ui-select-choices repeat="item in vm.tags.items track by $index">
                    {{ item.tag_name | translate }}
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="search-filters__item">
            <label class="checkbox-big__label checkbox-big checkbox-big--size15" for="isAttach">
                <input class="checkbox-big__input"
                       id="isAttach"
                       type="checkbox"
                       name="isAttach"
                       ng-model="vm.searchForm.isAttach"
                       ng-change="vm.search(); vm.isOpenFilters = false"
                       value="important">
                <div class="checkbox-big__body"></div>
                <span class="checkbox-big__text" role="presentation">
                {{ 'SEARCH_IS_ATTACH' | translate }}
            </span>
            </label>
        </div>

        <div class="search-filters__item">
            <date-sort from="vm.from"
                       to="vm.to"
                       class="search-filters__date-sort"></date-sort>
        </div>
    </div>
</div>