<div class="search-mail" search-mail-open>
    <div class="search-mail__close" ng-if="isOpen">

        <button class="btn-y btn-y--white btn-y--close" ng-click="close()">
            <img class="btn-y__icon" src="/images/cancel.svg" alt="close search">
        </button>


        <!--<button class="button button_theme_islands button_size_m button__control i-bem"-->
                <!--data-bem='{"button":{}}' role="button" type="button"-->
                <!--ng-click="close()"><span class="button__text">-->
            <!--<img src="/images/cancel.svg" alt="close search">-->
        <!--</span>-->
        <!--</button>-->
    </div>

    <div class="search-mail__group">
        <form ng-submit="vm.search()" novalidate>
            <div class="control-group" role="group">
                <span class="input input--no-border input_theme_islands input_size_m input_type_search i-bem"
                      data-bem='{"input":{}}'><span class="input__box search-mail__input">
                <input class="input__control" placeholder="Введите запрос" type="search"
                       ng-model="model" ng-click="open()"/></span></span>
                <button class="button button_theme_islands button_size_m button__control i-bem"
                        data-bem='{"button":{}}' role="button" type="submit"
                        ng-click="open()"><span class="button__text">Поиск</span>
                </button>
            </div>
        </form>
    </div>
</div>