<div class="popup__head">
    <span class="popup__head-title">{{ 'CREATE_LABEL' | translate }}</span>
    <button class="icon-close btn btn--not-style btn--main-mobile-color btn--size_s"
            type="button"
            ng-click="vm.close()"></button>
    <hr class="hr hr--popup">
</div>

<form name="paletteForm" ng-submit="vm.create(paletteForm)" novalidate>

    <div class="popup__content pdd--20">

        <div>
            <input class="input input--size_l width--all font--center"
                   type="text"
                   name="tag_name"
                   ng-model="vm.paletteForm.model.tag_name"
                   autofocus="true"
                   ng-maxlength="20"
                   required
                   placeholder="{{ 'NAME' | translate }}"/>
        </div>

        <div class="palette-list">
            <input type="hidden"
                   name="palette"
                   ng-model="vm.paletteForm.model.bgcolor"
                   required>

            <div class="palette-list__item"
                 style="background-color: {{ palette.color }}"
                 ng-repeat="palette in vm.palette.items track by $index"
                 ng-click="vm.select(palette)">
                <span class="palette-list__icon icon-check-box-mark"
                      ng-if="palette.color === vm.palette.selected.color"></span>
            </div>
        </div>
    </div>

    <div class="popup__footer">
        <button class="btn btn--yellow btn--no-radius width--all height--min-inh font--size20" type="submit">
            {{ 'CREATE_TAG' | translate }}
        </button>
    </div>
</form>