<!--<inbox-header></inbox-header>-->

<div class="mail-message">

    <!-- Хедер сообщения -->
    <div class="mail-message__head">

        <div class="mail-message__title">
            {{ vm.message.model.Subject }}
        </div>

        <div class="info-sender ">
            <div class="info-sender__head flex--inline">

                <div class="info-sender__avatar flex">
                    <div class="avatar avatar--settings avatar--size42 avatar--second-style">
                        <img class="avatar__image" src="/images/avatar-personal.svg" alt="">
                    </div>
                </div>

                <div class="info-sender__title">
                    <div class="info-sender__from-whom">
                        {{ vm.message.model.from }}
                        <!--<span class="info-sender__from-whom__mail-name">support@mail.cz</span>-->
                        <button class="btn btn--not-style btn--not-events btn--main-mobile-color font__size12 padding--right_2 padding--left_2 mrg__left5 icon-arrow-down" type="button"></button>
                    </div>

                    <div class="info-sender__date">
                        {{ vm.getDate(vm.message.model.date.date) }}
                    </div>

                </div>
                <div class="info-sender__right-menu mrg__right">
                    <div class="btn btn--not-events btn--not-style btn--size_20 btn--main-mobile-color icon-more"></div>
                    <div class="btn btn--not-events btn--not-style btn--size_20 btn--main-mobile-color icon-delete color--light-red"></div>
                    <div class="btn btn--not-events btn--not-style btn--size_20 btn--main-mobile-color icon-reply"></div>
                </div>

            </div>

            <!--
                для того чтобы отобразить боле подробную информацию по писью,
                при нажатии на кнопу возле имени нужно к
                info-sender__message-info добавить is-active
                а info-sender__from-whom > button нужно заменить icon-arrow-down на icon-arrow-up
                ну или добавить btn--rotate
            -->

            <div class="info-sender__message-info is-active">
                <div class="info-sender__message-info__item to-whom">
                    <span class="to-whom__title width--min60">Кому</span>
                    <div class="avatar avatar--settings avatar--size28 avatar--second-style">
                        <img class="avatar__image" src="/images/avatar-personal.svg" alt="">
                    </div>
                    <span class="to-whom__mail-recipient">
                        {{ vm.message.model.fromAddress }}
                    </span>
                </div>

                <div class="info-sender__message-info__item to-whom">
                    <span class="to-whom__title width--min60">От Кого</span>

                    <div class="avatar avatar--settings avatar--size28 avatar--second-style">
                        <img class="avatar__image" src="/images/avatar-personal.svg" alt="">
                    </div>

                    <span class="to-whom__mail-recipient">john.doe@mail.cz</span>
                </div>

                <div class="info-sender__message-info__item to-whom">
                    <span class="to-whom__title width--min60">Папки</span>
                    <div class="to-whom__folders">
                        <div class="to-whom__folder">Входящие</div>
                        <div class="to-whom__folder">Новые</div>
                        <div class="to-whom__folder">Избранное</div>

                    </div>
                </div>

                <div class="info-sender__message-info__item to-whom">
                    <span class="to-whom__title width--min60"> Метки</span>
                    <div class="inbox-message__labels">

                        <div class="inbox-message__label letter-tags letter-tags--poss-remove"
                             style="background: {{ tag.bgcolor }}; color: {{ tag.color }}"
                             ng-repeat="tag in vm.message.model.tags">
                            <span class="letter-tags__name">{{ tag.tag_name }}</span>
                            <button class="btn btn--not-style btn--circle letter-tags__icon"
                                    ng-click="vm.setUnTag(tag)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bold-removed"></use>
                                </svg>
                            </button>
                        </div>

                        <!--<div class="inbox-message__label letter-tags letter-tags&#45;&#45;poss-remove letter-tags&#45;&#45;red">-->
                            <!--<span class="letter-tags__name">Метка 1</span>-->
                            <!--<button class="btn btn&#45;&#45;not-style btn&#45;&#45;circle letter-tags__icon icon-cancel"></button>-->
                        <!--</div>-->

                        <!--<div class="inbox-message__label letter-tags letter-tags&#45;&#45;poss-remove letter-tags&#45;&#45;orange">-->
                            <!--<span class="letter-tags__name">Метка 1</span>-->
                            <!--<button class="btn btn&#45;&#45;not-style btn&#45;&#45;circle letter-tags__icon icon-cancel"></button>-->
                        <!--</div>-->

                        <!--<div class="inbox-message__label letter-tags letter-tags&#45;&#45;poss-remove letter-tags&#45;&#45;space-gray">-->
                            <!--<span class="letter-tags__name">Метка 1</span>-->
                            <!--<button class="btn btn&#45;&#45;not-style btn&#45;&#45;circle letter-tags__icon icon-cancel"></button>-->
                        <!--</div>-->

                        <!--<div class="letter-tags letter-tags&#45;&#45;poss-remove letter-tags&#45;&#45;space-gray">-->
                            <!--<span class="letter-tags__name">Метка 1</span>-->
                            <!--<button class="btn btn&#45;&#45;not-style btn&#45;&#45;circle letter-tags__icon icon-cancel"></button>-->
                        <!--</div>-->

                    </div>
                </div>


            </div>
        </div>

    </div>

    <!-- Тело сообщения -->
    <div class="mail-message__body">
        <div class="body-message">

            <!--Само сообщение-->
            <div class="body-message__content"
                 ng-bind-html="vm.message.model.body"></div>
        </div>
    </div>

    <div class="mail-message__footer">
        <div class="btn btn--not-events btn--not-style btn--main-mobile-color btn--size_20 icon-more mrg__right"></div>
    </div>

    <!-- Быстрый ответ-->
    <div class="mail-message__reply">

        <div class="mail-message__reply-container">

            <div class="quick-reply">
                <button class="quick-reply__write btn btn--not-style icon-write"></button>
                <div class="quick-reply__message">
                    <div class="quick-reply__message-input" contenteditable="true"></div>
                </div>

                <button class="quick-reply__send btn btn--not-style ">Отпр.</button>
            </div>

        </div>


        <!-- поле для ввода сообщения -->


    </div>

</div>

<!--<div class="layout__footer">-->
    <!--<footer></footer>-->
<!--</div>-->
