<div class="mail-message">
    <div class="mail-message__main-info">

        <!-- Хедер сообщения -->
        <div class="mail-message__title wrapper-container">
            {{ vm.message.model.Subject }}
        </div>

        <div class="mail-message__main-content wrapper-container">

            <div class="mail-message__info position--sticky wrapper-container wrapper-container--is-margin">
                <div class="info-sender width--all">
                    <div class="info-sender__head flex--inline">
                        <div class="info-sender__avatar flex">
                            <div class="avatar avatar--settings avatar--size42 avatar--second-style">
                                <avatar-name name="vm.message.model.from"
                                             email="vm.message.model.to[0].fromAddress">
                                </avatar-name>
                            </div>
                        </div>

                        <div class="info-sender__title">
                            <div class="info-sender__from-whom">
                                <div class="info-sender__important-tags info-sender__important-tags--small-title important-tags--active"
                                     ng-if="vm.message.model.important"></div>
                                {{ vm.message.model.from ? vm.message.model.from : vm.message.model.fromAddress }}
                                <button class="btn btn--not-style btn--not-events btn--main-mobile-color font--size12 padding--right_2 padding--left_2 mrg__left5"
                                        ng-class="{'icon-arrow-down': !vm.isOpenMessageInfo, 'icon-arrow-up': vm.isOpenMessageInfo}"
                                        type="button"
                                        ng-click="vm.isOpenMessageInfo = !vm.isOpenMessageInfo"></button>
                            </div>

                            <div class="info-sender__date">
                                <to-date date="vm.message.model.date.date"></to-date>
                            </div>
                        </div>

                        <div class="info-sender__right-menu mrg__right">
                            <div class="btn btn--not-events btn--not-style btn--size_20 btn--main-mobile-color icon-more"
                                 ng-click="vm.openMessageMenu(); $event.stopPropagation();"></div>
                            <div class="btn btn--not-events btn--not-style btn--size_20 btn--main-mobile-color icon-delete color--light-red padding--right"
                                 ng-if="vm.$state.params.mbox !== 'Trash'"
                                 ng-click="vm.move({name: 'Trash', caption: ('Trash' | translate)})"></div>
                            <div class="btn btn--not-events btn--not-style btn--size_20 btn--main-mobile-color icon-delete color--light-red padding--right"
                                 ng-if="vm.$state.params.mbox === 'Trash'"
                                 ng-click="vm.destroy({name: 'Trash'})"></div>
                            <div class="btn btn--not-events btn--not-style btn--size_20 btn--main-mobile-color icon-reply padding--right"
                                 ui-sref="mail.compose({mbox: vm.message.model.mbox, id: vm.message.model.number, connection_id: vm.message.model.connection_id})"></div>
                        </div>

                    </div>

                    <!--
                        для того чтобы отобразить боле подробную информацию по писью,
                        при нажатии на кнопу возле имени нужно к
                        info-sender__message-info добавить is-active
                        а info-sender__from-whom > button нужно заменить icon-arrow-down на icon-arrow-up
                        ну или добавить btn--rotate
                    -->

                    <div class="info-sender__message-info is-active" ng-if="vm.isOpenMessageInfo">
                        <div class="info-sender__message-info-item to-whom">
                            <span class="to-whom__title width--min60">{{ 'TO' | translate }}</span>
                            <div class="avatar avatar--settings avatar--size28 avatar--second-style">
                                <avatar-name name="vm.message.model.to[0].name"
                                             email="vm.message.model.to[0].address"></avatar-name>
                            </div>
                            <span class="to-whom__mail-recipient">
                        {{ vm.message.model.to[0].name ? vm.message.model.to[0].name : vm.message.model.to[0].address }}
                    </span>
                        </div>

                        <div class="info-sender__message-info-item to-whom">
                            <span class="to-whom__title width--min60">{{ 'FROM_WHOM_U' | translate }}</span>
                            <div class="avatar avatar--settings avatar--size28 avatar--second-style"
                                 ng-if="vm.isFromOpen && vm.$state.params.mbox !== 'Sent'">
                                <avatar-name name="vm.message.model.from"
                                             email="vm.message.model.fromAddress"></avatar-name>
                            </div>
                            <span class="to-whom__mail-recipient to-whom__mail-recipient--name">
                        {{ vm.message.model.from ? vm.message.model.from : vm.message.model.fromAddress }}
                    </span>
                        </div>

                        <div class="info-sender__message-info-item to-whom">
                            <span class="to-whom__title width--min60">{{ 'FOLDER' | translate }}</span>
                            <div class="to-whom__folders">
                                <div class="to-whom__folder">{{ vm.message.model.mbox | translate }}</div>
                            </div>
                        </div>

                        <div class="info-sender__message-info-item to-whom">
                            <span class="to-whom__title width--min60">{{ 'TAGS' | translate }}</span>
                            <div class="inbox-message__labels">
                                <button class="info-sender__important-tags important-tags btn--not-style btn--not-events "
                                        ng-class="{'important-tags--active': vm.message.model.important}"
                                        type="button"
                                        ng-click="vm.setImportant()"></button>
                                <div class="inbox-message__label letter-tags letter-tags--poss-remove"
                                     style="background: {{ tag.bgcolor }}; color: {{ tag.color }}"
                                     ng-repeat="tag in vm.message.model.tags">
                                    <span class="letter-tags__name">{{ tag.tag_name }}</span>
                                    <button class="btn btn--not-style btn--circle letter-tags__icon"
                                            ng-click="vm.setUnTag(tag)">
                                        <span class="letter-tags__remove-icon icon-remove-thick"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Аттачи -->
            <div class="mail-message__mail-attachments">
                <div class="attachments">
                    <div class="attachments__item" ng-repeat="attachment in vm.message.model.attachmentsData">
                        <attach-item attach="attachment" message="vm.message.model"></attach-item>
                    </div>
                </div>
            </div>

            <!-- Тело сообщения -->
            <div class="mail-message__body">
                <div class="body-message">
                    <!--Само сообщение-->
                    <div class="body-message__content" ng-bind-html="vm.getTrustHtml(vm.message.model.body)">
                        <!--<div class="body-message__r"></div>-->
                    </div>
                </div>

                <div class="banner-block banner-block--size330x280">
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:330px;height:280px"
                         data-ad-client="a-pub-7169913763254428"
                         data-ad-slot="6851262006"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- Быстрый ответ-->
    <div class="mail-message__reply">
        <form class="message-reply" name="sendForm" ng-submit="vm.send(sendForm)">
            <div class="message-reply__container">
                <div class="quick-reply">
                    <button class="quick-reply__write btn btn--not-style icon-write"></button>
                    <div class="quick-reply__message">
                        <div class="quick-reply__message-input"
                             contenteditable="true"
                             ng-model="vm.sendForm.model.body"
                             required
                             placeholder="{{ 'QUICK_RESPONSE' | translate }}">
                        </div>
                    </div>
                    <button class="quick-reply__send btn btn--not-style">{{ 'SEND_SHORT' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<folder-layout messages="vm.messages"></folder-layout>



