<div class="popup__head">
    <span class="popup__head-title">{{ 'CREATED_FOLDER' | translate }}</span>
    <button class="icon-close btn btn--not-style btn--main-mobile-color btn--size_s"
            type="button"
            ng-click="vm.close()"></button>
    <hr class="hr hr--popup">
</div>

<form name="form" ng-submit="vm.create(form)" novalidate>

    <div class="popup__content pdd--20">
        <div>
            <input class="input input--size_l width--all font--center"
                   ng-class="{'input--error': form.mboxnew.$invalid}"
                   name="mboxnew"
                   ng-model="vm.form.model.mboxnew"
                   type="text"
                   autofocus="true"
                   ng-maxlength="20"
                   required
                   placeholder="{{ 'NAME' | translate }}">
            <!--<a class="link link&#45;&#45;dotted link&#45;&#45;violet font--size13" href="">Вложить в другую папку</a>-->
        </div>
    </div>

    <div class="popup__footer">
        <button class="btn btn--yellow btn--no-radius width--all height--min-inh font--size20" type="submit">
            {{ 'CREATE_FOLDER' | translate }}
        </button>
    </div>
</form>