<div class="folder-create">
    <div class="tag-create__title">Создаём папку</div>

    <div class="mrg__top15">
        <form novalidate>
            <div class="folder-create__input mrg__top15">
                <div class="mrg__right10">
                    <span class="font__size13">Название</span>
                </div>
                <div>
                    <input class="input input--size_s width--inh input--fc-sh-yellow" type="text" required/>

                    <a class="link link--dotted link--violet font__size13" href="">Вложить в другую папку</a>
                </div>
            </div>

            <!--<div class="palette-list folder-create__palette mrg__top30">-->
                <!--<div class="palette-list__item"-->
                     <!--style="background-color: {{ palette.color }}"-->
                     <!--ng-repeat="palette in vm.palette.items track by $index">-->
                    <!--<span class="palette-list__icon icon-mark" ng-if="palette.active"></span>-->
                <!--</div>-->
            <!--</div>-->

            <div class="folder-create__btn mrg__top40">
                <button class="btn-y btn-y--border" type="submit">Создать папку</button>
                <button class="btn-y btn-y--border">Отменить</button>
            </div>
        </form>
    </div>
</div>