<div class="menu-bottom" ng-if="vm.isOpen">
    <div class="menu-bottom__container flex flex--column">
        <div class="menu-bottom__caption">
            {{ 'SAVE_CHANGES' | translate }}?
        </div>
        <div class="mrg--auto">
            <button class="btn btn--size_l btn--yellow mrg--b10 width--all"
                    type="button"
                    ng-click="vm.destroy()">
                {{ 'NOT_SAVE' | translate }}
            </button>
            <button class="btn btn--size_l btn--yellow width--all"
                    type="button"
                    ng-click="vm.save()">
                {{ 'SAVE_AND_GO' | translate }}
            </button>
        </div>
    </div>
    <button class="menu-bottom__cancel btn--not-style"
            type="button"
            ng-click="vm.isOpen = false;">
    </button>
</div>

