<div class="menu-bottom">
    <div class="menu-bottom__container">
        <div class="menu-bottom__item">
            <div>
                Сохранить сделанные изменения?
            </div>
            <div>
                Отмена
            </div>
        </div>

        <div class="menu-bottom__item">
            <div>
               Не сохранять
            </div>
        </div>

        <div class="menu-bottom__item">
            <div>
                Сохранить и перейти
            </div>
        </div>
    </div>
</div>
<div class="menu-bottom__bg"></div>