<section class="main-layout">
    <div class="main-layout__header">

        <header folder="vm.folder"></header>

        <div class="main-layout__menu" ng-class="{'main-layout__menu--is-active-menu': isOpenMenu}">
            <div class="main-layout__menu-content">
                <menu-main></menu-main>
            </div>
            <button class="main-layout__menu-closer btn--not-events btn--not-style"
                    type="button"
                    ng-click="vm.closeMenu()">
            </button>
        </div>
    </div>

    <div class="main-layout__inner" layout-height>
        <div class="main-layout__content">
            <ui-view class="height--min-inh height--all"></ui-view>
        </div>
    </div>
</section>

<div class="menu-bottom-bg" ng-if="isMenuBottomOpen"></div>