<div class="main-layout">
    <section class="main-layout__header">
        <header folder="vm.folder"></header>

        <!-- Основное меню-->
        <nav class="main-layout__menu" ng-class="{'main-layout__menu--is-active-menu': isOpenMenu}">
            <div class="main-layout__menu-content">
                <menu-main></menu-main>
            </div>
            <button class="main-layout__menu-closer btn--not-events btn--not-style"
                    type="button"
                    ng-click="vm.closeMenu()">
            </button>
        </nav>
    </section>

    <main class="main-layout__inner">
        <ui-view></ui-view>
    </main>
</div>

<div class="menu-bottom-bg" ng-if="isMenuBottomOpen"></div>