.checkbox-y {
  display: inline-block;


  &__input {
    display: none;

    &:checked {
      + .checkbox-y__body {

        //background-color: #ffeba0 !important;
        //border: 1px solid $yellow-yandex !important;

        border-color: rgba(153,122,0,.5);
        box-shadow: inset 0 90px #ffeba0;

        .checkbox-y__icon {
          opacity: 1 !important;
        }
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    margin: 0;
    padding: 0;

    .checkbox-y__body {
      @include border-radius(3px);

      position: relative;

      display: block;

      width: 12px;
      height: 12px;
      min-height:12px;
      min-width:12px;


      margin-right: 6px;

      border: 1px solid rgba(0, 0, 0, .3);

      background: #fff;

      z-index: 1;
    }

    .checkbox-y__icon {
      position: absolute;

      top: -4px;
      left: -1px;

      opacity: 0;

      z-index: 2;

      font-size: 15px;

      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        color: #000;
        -webkit-transform: scale(.85) rotate(47deg) skewX(12deg);
        -ms-transform: scale(.85) rotate(47deg) skewX(12deg);
        -o-transform: scale(.85) rotate(47deg) skewX(12deg);
        transform: scale(.85) rotate(47deg) skewX(12deg);
        margin: -4px 0 0 5px;
        width: 7px;
        height: 16px;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.34;
  }

  &--size14 {
    .checkbox-y__body {
      width: 14px;
      height: 14px;
      min-height:14px;
      min-width:14px;

    }

    .checkbox-y__icon {
      top: -4px;
      left: -1px;

      font-size: 16px;
      &:after{
        margin: -4px 0 0 5px;
        width: 8px;
        height: 17px;
      }
    }
  }

  &--size15 {
    .checkbox-y__body {
      width: 15px;
      height: 15px;
      min-height:15px;
      min-width:15px;
      .checkbox-y__icon::after{
        margin: -4px 0 0 5px;
        width: 9px;
        height: 18px;
      }
    }

    .checkbox-y__icon {
      top: -4px;
      left: -1px;

      font-size: 18px;
    }
  }

  &--chek-top{
    .checkbox-y__body{

      margin-top: 0!important;
      margin-bottom: auto!important;

      top: 3px!important;

    }
  }
}
