<div class="social-auth">
    <div class=" social-icons width--inh">
        <a class="social-icons__icon social-icons__icon--s34 social-icons__icon--border-yellow social-icons--fb" href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=facebook">
            <span class="icon-soc-fb"></span>
        </a>
        <a class="social-icons__icon social-icons__icon--s34 social-icons__icon--border-yellow social-icons--gp" href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=google">
            <span class="icon-soc-g"></span>
        </a>
        <a class="social-icons__icon social-icons__icon--s34 social-icons__icon--border-yellow social-icons--tw" href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=twitter">
            <span class="icon-soc-tw"></span>
        </a>
        <a class="social-icons__icon social-icons__icon--s34 social-icons__icon--border-yellow social-icons--ln" href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=linkedin">
            <span class="icon-soc-in"></span>
        </a>
    </div>
</div>