<div class="social-auth">
    <div class="social-auth__row">
        <div class="social-auth__item">
            <a href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=facebook">
                <img class="" src="/images/social/icon-32x32-fb.png">
            </a>
        </div>
        <div class="social-auth__item">
            <a href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=google">
                <img class="" src="/images/social/icon-32x32-google.png">
            </a>
        </div>
        <div class="social-auth__item">
            <a href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=twitter">
                <img class="" src="/images/social/icon-32x32-twitter.png">
            </a>
        </div>
        <div class="social-auth__item">
            <a href="{{ vm.CONFIG.APIHost }}/auth/social?authclient=linkedin">
                <img class="" src="/images/social/icon-32x32-linkedin.png">
            </a>
        </div>
    </div>
</div>