<inbox-header></inbox-header>

<div class="search-result" ng-if="vm.isNoResult">
    <strong>Результаты поиска «info»</strong>
</div>

<div class="search-result search-result--no-result" ng-if="vm.isNoResult">
    <strong class="font__size18">Не нашлось ни одного письма. Попробуйте сформулировать запрос
        иначе</strong>

    <p class="color--gray mrg__top20">Рекоммендации:</p>

    <ul class="list-dash list-dash--gray">
        <li class="list-dash__item">
            Убедитесь, что в запросе нет ошибок
        </li>
        <li class="list-dash__item">
            Попробуйте уменьшить дилнну запроса
        </li>
        <li class="list-dash__item">
            Если вы помните отправителя, получателя, названия файлов или их тип, попробуйте воспользоваться
            расширеным поиском или языком запросов
        </li>
        <li class="list-dash__item">
            Попробуйте найти нужное письмо вручную
        </li>
    </ul>
</div>

<!---->
<div class="inbox-list">

    <!--<inbox-message-list messages="vm.messages"></inbox-message-list>-->

    <div class="inbox-message inbox-message--new">

        <!-- Блок селекта и аватарки -->
        <div class="inbox-message__left">

            <div class="inbox-message__avatar">
                <div class="avatar avatar--settings avatar--size42 avatar--second-style mrg__auto">
                    <img class="avatar__image" src="/images/avatar-personal.svg">
                    <div class="inbox-message__check-message"></div>
                </div>
            </div>

            <div class="inbox-message__round">
                <div class="round round--border"></div>
            </div>
        </div>

        <!-- Основйной блок -->
        <div class="inbox-message__center">

            <div class="inbox-message__head">
                <!---->
                <div class="inbox-message__importance">
                    <span class="important-tags important-tags--active"></span>
                </div>
                <!---->
                <div class="inbox-message__name">John Doe</div>
                <!---->
                <div class="inbox-message__data">
                    30 мар
                </div>
            </div>

            <div class="inbox-message__text">
                <div class="inbox-message__subject">Subject</div>
                <div class="inbox-message__message">
                    Lorem ipsum dolor sit amet, timeam appellantur nec te, et agam quot conclusionemque pri, mea eu propriae oportere interpretaris. In nec quidam eleifend partiendo.
                </div>
            </div>

            <div class="inbox-message__labels">

                <div class="inbox-message__label letter-tags letter-tags--red">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--orange">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--space-gray">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--green">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--purpure">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

            </div>

        </div>

        <!-- блок меню -->
        <div class="inbox-message__right">
            <button class="inbox-message__right__btn btn  btn--size_m btn--not-style btn--size_28 icon-more"></button>
        </div>

    </div>
    <!-- item-->
    <div class="inbox-message inbox-message--new">

        <!-- Блок селекта и аватарки -->
        <div class="inbox-message__left">

            <div class="inbox-message__avatar">
                <div class="avatar avatar--settings avatar--size42 avatar--second-style mrg__auto">
                    <img class="avatar__image" src="/images/avatar-personal.svg">
                    <div class="inbox-message__check-message"></div>
                </div>

            </div>

            <div class="inbox-message__round">
                <div class="round round--yellow"></div>
            </div>
        </div>

        <!-- Основйной блок -->
        <div class="inbox-message__center">

            <div class="inbox-message__head">
                <!---->
                <div class="inbox-message__importance">
                    <span class="important-tags important-tags--active"></span>
                </div>
                <!---->
                <div class="inbox-message__name">John Doe</div>
                <!---->
                <div class="inbox-message__data">
                    30 мар
                </div>
            </div>

            <div class="inbox-message__text">
                <div class="inbox-message__subject">Subject</div>
                <div class="inbox-message__message">
                    Lorem ipsum dolor sit amet, timeam appellantur nec te, et agam quot conclusionemque pri, mea eu propriae oportere interpretaris. In nec quidam eleifend partiendo.
                </div>
            </div>

            <div class="inbox-message__labels">

                <div class="inbox-message__label letter-tags letter-tags--red">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--orange">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--space-gray">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--green">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--purpure">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

            </div>

        </div>

        <!-- блок меню -->
        <div class="inbox-message__right">
            <button class="inbox-message__right__btn btn  btn--size_m btn--not-style btn--size_28 icon-more"></button>
        </div>

    </div>

    <!-- item-->
    <div class="inbox-message inbox-message--importmant">

        <!-- Блок селекта и аватарки -->
        <div class="inbox-message__left">

            <div class="inbox-message__avatar">
                <div class="avatar avatar--settings avatar--size42 avatar--second-style mrg__auto">
                    <img class="avatar__image" src="/images/avatar-personal.svg">
                    <div class="inbox-message__check-message"></div>
                </div>

            </div>

            <div class="inbox-message__round">
                <div class="round round--yellow"></div>
            </div>
        </div>

        <!-- Основйной блок -->
        <div class="inbox-message__center">

            <div class="inbox-message__head">
                <!---->
                <div class="inbox-message__importance">
                    <span class="important-tags important-tags--active"></span>
                </div>
                <!---->
                <div class="inbox-message__name">John Doe</div>
                <!---->
                <div class="inbox-message__data">
                    30 мар
                </div>
            </div>

            <div class="inbox-message__text">
                <div class="inbox-message__subject">Subject</div>
                <div class="inbox-message__message">
                    Lorem ipsum dolor sit amet, timeam appellantur nec te, et agam quot conclusionemque pri, mea eu propriae oportere interpretaris. In nec quidam eleifend partiendo.
                </div>
            </div>

            <div class="inbox-message__labels">

                <div class="inbox-message__label letter-tags letter-tags--red">
                    <span class="letter-tags__name">Метка 1</span>
                        <svg class="letter-tags__icon">
                            <use xlink:href="#ico_label-message"></use>
                        </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--orange">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--space-gray">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--green">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--purpure">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

            </div>

        </div>

        <!-- блок меню -->
        <div class="inbox-message__right">
            <button class="inbox-message__right__btn btn  btn--size_m btn--not-style btn--size_28 icon-more"></button>
        </div>

    </div>

    <!-- item-->
    <div class="inbox-message inbox-message--checked">

        <!-- Блок селекта и аватарки -->
        <div class="inbox-message__left">

            <div class="inbox-message__avatar">
                <div class="avatar avatar--settings avatar--size42 avatar--second-style mrg__auto">
                    <img class="avatar__image" src="/images/avatar-personal.svg">
                    <div class="inbox-message__check-message"></div>
                </div>
            </div>

            <div class="inbox-message__round">
                <div class="round round--border"></div>
            </div>
        </div>

        <!-- Основйной блок -->
        <div class="inbox-message__center">

            <div class="inbox-message__head">
                <!---->
                <div class="inbox-message__importance">
                    <span class="important-tags important-tags--active"></span>
                </div>
                <!---->
                <div class="inbox-message__name">John Doe</div>
                <!---->
                <div class="inbox-message__data">
                    30 мар
                </div>
            </div>

            <div class="inbox-message__text">
                <div class="inbox-message__subject">Subject</div>
                <div class="inbox-message__message">
                    Lorem ipsum dolor sit amet, timeam appellantur nec te, et agam quot conclusionemque pri, mea eu propriae oportere interpretaris. In nec quidam eleifend partiendo.
                </div>
            </div>

            <div class="inbox-message__labels">

                <div class="inbox-message__label letter-tags letter-tags--red">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--orange">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--space-gray">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--green">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--purpure">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

            </div>

        </div>

        <!-- блок меню -->
        <div class="inbox-message__right">
            <button class="inbox-message__right__btn btn  btn--size_m btn--not-style btn--size_28 icon-more"></button>
        </div>

    </div>

    <!-- item-->
    <div class="inbox-message inbox-message--checked">

        <!-- Блок селекта и аватарки -->
        <div class="inbox-message__left">

            <div class="inbox-message__avatar">
                <div class="avatar avatar--settings avatar--size42 avatar--second-style mrg__auto">
                    <img class="avatar__image" src="/images/avatar-personal.svg">
                    <div class="inbox-message__check-message"></div>
                </div>
            </div>

            <div class="inbox-message__round">
                <div class="round round--border"></div>
            </div>
        </div>

        <!-- Основйной блок -->
        <div class="inbox-message__center">

            <div class="inbox-message__head">
                <!---->
                <div class="inbox-message__importance">
                    <span class="important-tags important-tags--active"></span>
                </div>
                <!---->
                <div class="inbox-message__name">John Doe</div>
                <!---->
                <div class="inbox-message__data">
                    30 мар
                </div>
            </div>

            <div class="inbox-message__text">
                <div class="inbox-message__subject">Subject</div>
                <div class="inbox-message__message">
                    Lorem ipsum dolor sit amet, timeam appellantur nec te, et agam quot conclusionemque pri, mea eu propriae oportere interpretaris. In nec quidam eleifend partiendo.
                </div>
            </div>

            <div class="inbox-message__labels">

                <div class="inbox-message__label letter-tags letter-tags--red">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--orange">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--space-gray">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--green">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--purpure">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

            </div>

        </div>

        <!-- блок меню -->
        <div class="inbox-message__right">
            <button class="inbox-message__right__btn btn  btn--size_m btn--not-style btn--size_28 icon-more"></button>
        </div>

    </div>
    <!-- item-->

    <div class="inbox-message inbox-message--new">

        <!-- Блок селекта и аватарки -->
        <div class="inbox-message__left">

            <div class="inbox-message__avatar">
                <div class="avatar avatar--settings avatar--size42 avatar--second-style mrg__auto">
                    <img class="avatar__image" src="/images/avatar-personal.svg">
                    <div class="inbox-message__check-message"></div>
                </div>
            </div>

            <div class="inbox-message__round">
                <div class="round round--border"></div>
            </div>
        </div>

        <!-- Основйной блок -->
        <div class="inbox-message__center">

            <div class="inbox-message__head">
                <!---->
                <div class="inbox-message__importance">
                    <span class="important-tags important-tags--active"></span>
                </div>
                <!---->
                <div class="inbox-message__name">John Doe</div>
                <!---->
                <div class="inbox-message__data">
                    30 мар
                </div>
            </div>

            <div class="inbox-message__text">
                <div class="inbox-message__subject">Subject</div>
                <div class="inbox-message__message">
                    Lorem ipsum dolor sit amet, timeam appellantur nec te, et agam quot conclusionemque pri, mea eu propriae oportere interpretaris. In nec quidam eleifend partiendo.
                </div>
            </div>

            <div class="inbox-message__labels">

                <div class="inbox-message__label letter-tags letter-tags--red">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--orange">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--space-gray">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--green">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--purpure">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

            </div>

        </div>

        <!-- блок меню -->
        <div class="inbox-message__right">
            <button class="inbox-message__right__btn btn  btn--size_m btn--not-style btn--size_28 icon-more"></button>
        </div>

    </div>
    <!-- item-->
    <div class="inbox-message inbox-message--importmant">

        <!-- Блок селекта и аватарки -->
        <div class="inbox-message__left">

            <div class="inbox-message__avatar">
                <div class="avatar avatar--settings avatar--size42 avatar--second-style mrg__auto">
                    <img class="avatar__image" src="/images/avatar-personal.svg">
                    <div class="inbox-message__check-message"></div>
                </div>

            </div>

            <div class="inbox-message__round">
                <div class="round round--yellow"></div>
            </div>
        </div>

        <!-- Основйной блок -->
        <div class="inbox-message__center">

            <div class="inbox-message__head">
                <!---->
                <div class="inbox-message__importance">
                    <span class="important-tags important-tags--active"></span>
                </div>
                <!---->
                <div class="inbox-message__name">John Doe</div>
                <!---->
                <div class="inbox-message__data">
                    30 мар
                </div>
            </div>

            <div class="inbox-message__text">
                <div class="inbox-message__subject">Subject</div>
                <div class="inbox-message__message">
                    Lorem ipsum dolor sit amet, timeam appellantur nec te, et agam quot conclusionemque pri, mea eu propriae oportere interpretaris. In nec quidam eleifend partiendo.
                </div>
            </div>

            <div class="inbox-message__labels">

                <div class="inbox-message__label letter-tags letter-tags--red">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--orange">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--space-gray">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--green">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--purpure">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

            </div>

        </div>

        <!-- блок меню -->
        <div class="inbox-message__right">
            <button class="inbox-message__right__btn btn  btn--size_m btn--not-style btn--size_28 icon-more"></button>
        </div>

    </div>
    <!-- item-->
    <div class="inbox-message inbox-message--importmant">

        <!-- Блок селекта и аватарки -->
        <div class="inbox-message__left">

            <div class="inbox-message__avatar">
                <div class="avatar avatar--settings avatar--size42 avatar--second-style mrg__auto">
                    <img class="avatar__image" src="/images/avatar-personal.svg">
                    <div class="inbox-message__check-message"></div>
                </div>

            </div>

            <div class="inbox-message__round">
                <div class="round round--yellow"></div>
            </div>
        </div>

        <!-- Основйной блок -->
        <div class="inbox-message__center">

            <div class="inbox-message__head">
                <!---->
                <div class="inbox-message__importance">
                    <span class="important-tags important-tags--active"></span>
                </div>
                <!---->
                <div class="inbox-message__name">John Doe</div>
                <!---->
                <div class="inbox-message__data">
                    30 мар
                </div>
            </div>

            <div class="inbox-message__text">
                <div class="inbox-message__subject">Subject</div>
                <div class="inbox-message__message">
                    Lorem ipsum dolor sit amet, timeam appellantur nec te, et agam quot conclusionemque pri, mea eu propriae oportere interpretaris. In nec quidam eleifend partiendo.
                </div>
            </div>

            <div class="inbox-message__labels">

                <div class="inbox-message__label letter-tags letter-tags--red">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--orange">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--space-gray">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--green">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--purpure">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

            </div>

        </div>

        <!-- блок меню -->
        <div class="inbox-message__right">
            <button class="inbox-message__right__btn btn  btn--size_m btn--not-style btn--size_28 icon-more"></button>
        </div>

    </div>
    <!-- item-->
    <div class="inbox-message inbox-message--importmant">

        <!-- Блок селекта и аватарки -->
        <div class="inbox-message__left">

            <div class="inbox-message__avatar">
                <div class="avatar avatar--settings avatar--size42 avatar--second-style mrg__auto">
                    <img class="avatar__image" src="/images/avatar-personal.svg">
                    <div class="inbox-message__check-message"></div>
                </div>

            </div>

            <div class="inbox-message__round">
                <div class="round round--yellow"></div>
            </div>
        </div>

        <!-- Основйной блок -->
        <div class="inbox-message__center">

            <div class="inbox-message__head">
                <!---->
                <div class="inbox-message__importance">
                    <span class="important-tags important-tags--active"></span>
                </div>
                <!---->
                <div class="inbox-message__name">John Doe</div>
                <!---->
                <div class="inbox-message__data">
                    30 мар
                </div>
            </div>

            <div class="inbox-message__text">
                <div class="inbox-message__subject">Subject</div>
                <div class="inbox-message__message">
                    Lorem ipsum dolor sit amet, timeam appellantur nec te, et agam quot conclusionemque pri, mea eu propriae oportere interpretaris. In nec quidam eleifend partiendo.
                </div>
            </div>

            <div class="inbox-message__labels">

                <div class="inbox-message__label letter-tags letter-tags--red">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--orange">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--space-gray">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--green">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

                <div class="inbox-message__label letter-tags letter-tags--purpure">
                    <span class="letter-tags__name">Метка 1</span>
                    <svg class="letter-tags__icon">
                        <use xlink:href="#ico_label-message"></use>
                    </svg>
                </div>

            </div>

        </div>

        <!-- блок меню -->
        <div class="inbox-message__right">
            <button class="inbox-message__right__btn btn  btn--size_m btn--not-style btn--size_28 icon-more"></button>
        </div>

    </div>
</div>

<div class="inbox-footer ">
    <div class="inbox-footer__content">

        <button class="btn btn--red btn--size_62 btn--radius_3 icon-write"></button>
    </div>

</div>

<div class="layout__footer">
    <!--<footer></footer>-->
</div>

