<inbox-header></inbox-header>

<div class="search-result" ng-if="vm.isNoResult">
    <strong>Результаты поиска «info»</strong>
</div>

<div class="search-result search-result--no-result" ng-if="vm.isNoResult">
    <strong class="font__size18">Не нашлось ни одного письма. Попробуйте сформулировать запрос
        иначе</strong>

    <p class="color--gray mrg__top20">Рекоммендации:</p>

    <ul class="list-dash list-dash--gray">
        <li class="list-dash__item">
            Убедитесь, что в запросе нет ошибок
        </li>
        <li class="list-dash__item">
            Попробуйте уменьшить дилнну запроса
        </li>
        <li class="list-dash__item">
            Если вы помните отправителя, получателя, названия файлов или их тип, попробуйте воспользоваться
            расширеным поиском или языком запросов
        </li>
        <li class="list-dash__item">
            Попробуйте найти нужное письмо вручную
        </li>
    </ul>
</div>

<!---->
<div class="inbox-list">
    <!--<inbox-message-list messages="vm.messages"></inbox-message-list>-->

    <inbox-message-list messages="vm.messages"></inbox-message-list>
</div>

<div class="inbox-footer">
    <div class="inbox-footer__content">
        <button class="inbox-footer__new-btn btn btn--red btn--size_62 btn--radius_3 icon-write" ui-sref="mail.compose"></button>
    </div>

</div>

<div class="layout__footer">
    <!--<footer></footer>-->
</div>

