<div class="settings-menu">
    <div class="settings-menu__body">
        <a class="settings-menu__title" ui-sref="settings.main">
            Все настройки
        </a>
        <div class="settings-menu__row">
            <div class="row row--size15 mrg__top20">
                <div class="col-xs-6">
                    <span class="icon-folder-star color--yellow font__size18"></span>
                    <a class="settings-menu__link" href="">
                        Папки
                    </a>
                </div>
                <div class="col-xs-6">
                    <span class="icon-rules color--green font__size18"></span>
                    <a class="settings-menu__link" href="">
                        Правила обработки
                    </a>
                </div>
            </div>

            <div class="row row--size15 mrg__top20">
                <div class="col-xs-6">
                    <span class="icon-tag-star color--green font__size18"></span>
                    <a class="settings-menu__link" href="">
                        Правила обработки
                    </a>
                </div>
                <div class="col-xs-6">
                    <span class="icon-contacts color--green font__size18"></span>
                    <a class="settings-menu__link" href="">
                        Правила обработки
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>