<tags-input class="tags-input"
            ng-model="vm.addresses"
            type="email"
            name="{{ vm.name }}"
            template="tag-template"
            template-scope="vm"
            display-property="first_name"
            key-property="id"
            replace-spaces-with-dashes="true"
            allow-dblclick-to-edit="true"
            ng-focus="isTagFocus = true"
            ng-blur="isTagFocus = false"
            placeholder="{{ vm.placeholder }}"
            autofocus="vm.isAutofocus">

    <auto-complete source="vm.findContacts($query, isTagFocus)"
                   min-length="0"
                   load-on-focus="true"
                   load-on-empty="true"
                   max-results-to-show="5"
                   template="autocomplete-template"></auto-complete>

</tags-input>

<script type="text/ng-template" id="tag-template">
    <div class="tag-contact font-sizer--bigger-15 tag-contact__autocomplete-item"
         ng-dblclick="$event.stopPropagation();">
        <div class="avatar avatar--size20 mrg__right7">
            <avatar-name name="data.first_name" email="data.emails[0].value"></avatar-name>
        </div>
        <div class="tag-contact__name" ng-if="data.first_name">
            {{ data.first_name }}
            {{ data.last_name }}
        </div>
        <div class="tag-contact__email" ng-if="!data.first_name">
            {{ data.emails[0].value }}
        </div>
        <a class="tag-remove btn btn--not-style icon-cancel"
           href
           ng-click="$removeTag()"></a>
    </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
    <div class="tag-contact">
        <div class="tag-contact__avatar avatar avatar--size28 mrg__right16 avatar--bg-color">
            <avatar-name name="data.first_name" email="data.emails[0].value"></avatar-name>
        </div>

        <div class="tag-contact__info">
            <div class="tag-contact__name">
                {{ data.first_name }}
                {{ data.last_name }}
            </div>
            <div class="tag-contact__email"

                 ng-if="data.emails[0].value">
                {{ data.emails[0].value }}
            </div>
            <!--ng-class="{'mrg__left10': data.first_name}"-->

        </div>

        <div class="tag-contact__phone"
             ng-class="{'mrg__left10': data.first_name || data.emails[0].value}"
             ng-if="data.phone">
            {{ data.phone }}
        </div>
    </div>
</script>