<ui-select class="select-input-line"
           multiple
           ng-model="vm.addresses"
           tagging="vm.makeContact"
           tagging-label="true"
           theme="bootstrap">

    <ui-select-match class="select-input-line__match-tags">
        <div class="select-input-line__match-item tag-contact font-sizer--bigger-15">
            <div class="avatar avatar--size20 mrg__right7">
                <avatar-name name="$item.first_name" email="$item.email"></avatar-name>
            </div>
            <div class="tag-contact__name">
                {{ $item.first_name }}
                {{ $item.last_name }}
            </div>
            <div class="tag-contact__email">
                {{ $item.email }}
            </div>
        </div>
    </ui-select-match>

    <ui-select-choices class="select-input-line__choices-tags font-sizer--bigger-15"
                       refresh="vm.findContacts($select.search)"
                       refresh-delay="500"
                       repeat="contact in (vm.contacts.items | filter: $select.search) track by contact.id">

        <div class="select-input-line__choices-item tag-contact">
            <div class="avatar avatar--size28 mrg__right16 avatar--bg-color">
                <avatar-name name="contact.first_name" email="contact.email"></avatar-name>
            </div>
            <div class="tag-contact__name">
                {{ contact.first_name }}
                {{ contact.last_name }}
            </div>
            <div class="tag-contact__email">
                {{ contact.email }}
            </div>
            <div class="tag-contact__phone">
                {{ contact.phone }}
            </div>
        </div>
    </ui-select-choices>

    <div ui-select-choices-static>
        <div class="ui-select-choices-row pointer" ng-click="vm.openContactToAddPopup()">
            <div class="ui-select-choices-row-inner">
                <div class="select-input-line__choices-item tag-contact tag-contact--more">
                    <div class="avatar avatar--size28 mrg__right16 avatar--bg-color">
                        <avatar-name name="'Contacts'" email="'Contacts'"></avatar-name>
                    </div>
                    <div class="tag-contact__name">
                        <a class="link">
                            Показать все контакты
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ui-select>