<tags-input class="tags-input"
            ng-model="vm.addresses"
            type="email"
            name="{{ vm.name }}"
            template="tag-template"
            template-scope="vm"
            display-property="first_name"
            key-property="id"
            replace-spaces-with-dashes="true"
            allow-dblclick-to-edit="true"
            placeholder="{{ vm.placeholder }}"
            autofocus="vm.isAutofocus">

    <auto-complete source="vm.findContacts($query)"
                   min-length="0"
                   load-on-focus="true"
                   load-on-empty="true"
                   max-results-to-show="5"
                   template="autocomplete-template"></auto-complete>

</tags-input>

<script type="text/ng-template" id="tag-template">
    <div class="tag-contact font-sizer--bigger-15 tag-contact__autocomplete-item"
         ng-dblclick="$event.stopPropagation();">
        <div class="avatar avatar--size20 mrg__right7">
            <avatar-name name="data.first_name" email="data.email"></avatar-name>
        </div>
        <div class="tag-contact__name" ng-if="data.first_name">
            {{ data.first_name }}
            {{ data.last_name }}
        </div>
        <div class="tag-contact__email" ng-if="!data.first_name">
            {{ data.emails[0].value }}
        </div>
        <button class="tag-remove btn btn--not-style icon-cancel" type="button" ng-click="$removeTag()"></button>
    </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
    <div class="tag-contact">
        <div class="avatar avatar--size28 mrg__right16 avatar--bg-color">
            <avatar-name name="data.first_name" email="data.email"></avatar-name>
        </div>
        <div class="tag-contact__name">
            {{ data.first_name }}
            {{ data.last_name }}
        </div>
        <div class="tag-contact__email">
            {{ data.email }}
        </div>
        <div class="tag-contact__phone">
            {{ data.phone }}
        </div>
    </div>
</script>