<div class="inbox-message inbox-message--new"
     ng-class="{'inbox-message--importmant': vm.message.isImportmant,
                'inbox-message--new': vm.message.active,
                'inbox-message--checked': vm.messages.isChecked}"
     ng-mouseover="vm.message.hover = true" ng-mouseleave="vm.message.hover = false"
     inbox-message-hover
     ng-click="vm.goToUrl()">

    <!-- Блок селекта и аватарки -->
    <div class="inbox-message__left">

        <label>
            <div class="inbox-message__avatar">
                <div class="avatar avatar--settings avatar--size42 avatar--second-style mrg__auto">
                    <img class="avatar__image" src="/images/avatar-personal.svg">
                    <div class="inbox-message__check-message"></div>
                    <input type="checkbox" style="display: none;"
                           ng-model="vm.messages.isChecked"
                           data-checklist-model="vm.messages.checked"
                           data-checklist-value="vm.message">
                </div>
            </div>
        </label>

        <div class="inbox-message__round">
            <div class="round round--border"></div>
        </div>
    </div>

    <!-- Основйной блок -->
    <div class="inbox-message__center">

        <div class="inbox-message__head">
            <!---->
            <div class="inbox-message__importance">
                <span class="important-tags important-tags--active"></span>
            </div>
            <!---->
            <div class="inbox-message__name">
                {{ vm.message.from }}
            </div>
            <!---->
            <div class="inbox-message__data">
                {{ vm.getDate(vm.message.date.date) }}
            </div>
        </div>

        <div class="inbox-message__text">
            <div class="inbox-message__subject">{{ vm.message.Subject }}</div>
            <div class="inbox-message__message">
                <div ng-bind-html="vm.message.message"></div>
            </div>
        </div>

        <div class="inbox-message__labels">

            <div class="inbox-message__label letter-tags letter-tags--red">
                <span class="letter-tags__name">Метка 1</span>
                <svg class="letter-tags__icon">
                    <use xlink:href="#ico_label-message"></use>
                </svg>
            </div>

            <div class="inbox-message__label letter-tags letter-tags--orange">
                <span class="letter-tags__name">Метка 1</span>
                <svg class="letter-tags__icon">
                    <use xlink:href="#ico_label-message"></use>
                </svg>
            </div>

            <div class="inbox-message__label letter-tags letter-tags--space-gray">
                <span class="letter-tags__name">Метка 1</span>
                <svg class="letter-tags__icon">
                    <use xlink:href="#ico_label-message"></use>
                </svg>
            </div>

            <div class="inbox-message__label letter-tags letter-tags--green">
                <span class="letter-tags__name">Метка 1</span>
                <svg class="letter-tags__icon">
                    <use xlink:href="#ico_label-message"></use>
                </svg>
            </div>

            <div class="inbox-message__label letter-tags letter-tags--purpure">
                <span class="letter-tags__name">Метка 1</span>
                <svg class="letter-tags__icon">
                    <use xlink:href="#ico_label-message"></use>
                </svg>
            </div>

        </div>

    </div>

    <!-- блок меню -->
    <div class="inbox-message__right">
        <button class="inbox-message__right__btn btn  btn--size_m btn--not-style btn--size_28 icon-more"></button>
    </div>

</div>