<div class="attach-item">
    <div class="attach-item__body">
        <a ng-click="vm.openAttach()">
            <div class="attach-item__image"
                 ng-if="vm.attach.mime === 'image/png' || vm.attach.mime === 'image/jpeg'"
                 style="background-image: url('{{ vm.CONFIG.AttachUrl }}{{ vm.message.number }}?mbox={{ vm.message.mbox }}&part=attach&filename={{ vm.attach.fileName }}&token={{ vm.user.access_token }}&connection_id={{ vm.message.connection_id }}')"></div>

            <div class="attach-item__image"
                 ng-if="vm.attach.mime === 'image/svg+xml'"
                 style="background-image: url('{{ vm.CONFIG.AttachUrl }}{{ vm.message.number }}?mbox={{ vm.message.mbox }}&part=attach&filename={{ vm.attach.fileName }}&token={{ vm.user.access_token }}&connection_id={{ vm.message.connection_id }}&screen=true')"></div>

            <div class="attach-item__image"
                 ng-if="vm.attach.mime === 'application/pdf'"
                 style="background-image: url('{{ vm.CONFIG.AttachUrl }}{{ vm.message.number }}?mbox={{ vm.message.mbox }}&part=attach&filename={{ vm.attach.fileName }}&token={{ vm.user.access_token }}&connection_id={{ vm.message.connection_id }}&preview=1')"></div>

            <div class="attach-item__image attach-item__image--file"
                 style="background-image: url(images/attachments/{{ vm.fileFormat }}.png)"></div>
        </a>
    </div>
    <div class="attach-item__name2">
        {{ vm.attach.title }}
    </div>
</div>