<div class="user-menu">
    <div class="user-menu__body user-menu__body--bg-gray">
        <div class="user-menu__item">
            <a class="user-menu__link user-menu__link--red" href="">
                <div class="avatar avatar--size28">
                    <img class="avatar__image" src="/images/avatar.png">
                </div>
                <div class="user-menu__title">
                    lovealldevelop@gmail.com
                </div>
            </a>
        </div>

        <div class="user-menu__item">
            <a class="user-menu__link" href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" viewBox="0 0 28 28" class="dropdown-user-add-svg"><path d="M13.28,8 L14.72,8 L14.72,13.28 L20,13.28 L20,14.72 L14.72,14.72 L14.72,20 L13.28,20 L13.28,14.72 L8,14.72 L8,13.28 L13.28,13.28 L13.28,8 Z" id="+" fill-opacity="0.5"></path><path d="M28,14 C28,6.2680135 21.7319865,0 14,0 C6.2680135,0 0,6.2680135 0,14 C0,21.7319865 6.2680135,28 14,28 C21.7319865,28 28,21.7319865 28,14 Z M1,14 C1,6.82029825 6.82029825,1 14,1 C21.1797017,1 27,6.82029825 27,14 C27,21.1797017 21.1797017,27 14,27 C6.82029825,27 1,21.1797017 1,14 Z" id="Oval" fill-opacity="0.15"></path></svg>
                <div class="user-menu__title">
                    Добавить пользователя
                </div>
            </a>
        </div>

    </div>

    <div class="user-menu__body user-menu__body--no-mrg">
        <div class="user-menu__item">
            <a class="user-menu__link user-menu__link--hover-gray" href="">
                <div class="user-menu__title">
                    Управление акаунтом
                </div>
            </a>
        </div>
        <div class="user-menu__item">
            <a class="user-menu__link user-menu__link--hover-gray" href="">
                <div class="user-menu__title">
                    Помощь
                </div>
            </a>
        </div>
        <div class="user-menu__item">
            <a class="user-menu__link user-menu__link--hover-gray" href="">
                <div class="user-menu__title">
                    Добавить ящик
                </div>
            </a>
        </div>
        <div class="user-menu__item">
            <a class="user-menu__link user-menu__link--hover-gray" href ng-click="vm.logout()">
                <div class="user-menu__title">
                    Выход
                </div>
            </a>
        </div>
    </div>
</div>