<div class="popup__head">
    <span class="popup__head-title">{{ 'DELETING_FOLDER' | translate }}</span>
    <button class="icon-close btn btn--not-style btn--main-mobile-color btn--size_s"
            type="button"
            ng-click="vm.cancel()"></button>
    <hr class="hr hr--popup">
</div>
<div class="popup__content pdd--20">
    <div class="mrg--b6 font--size16">
        {{ 'DELETING_FOLDER_MSG' | translate: {folder: (vm.folder.name | translate), messageCount:
        vm.folder.messagesCount} }}
    </div>
</div>
<div class="popup__footer">
    <button class="btn btn--yellow btn--no-radius width--all height--min-inh font--size20"
            type="button"
            ng-click="vm.close()">
        {{ 'DELETE_WITH_LETTERS' | translate }}
    </button>
</div>