.color {
  &__white {
    color: #fff;
  }

  &__gray {
    color: #717376;
  }

  &--white {
    color: #fff;
  }

  &--green {
    color: #5c9042;
  }

  &--yellow {
    color: $yellow-yandex!important;
  }

  &--dark-red {
    color: #cc0000!important;
  }
  &--semi-dark-red{
    color: $red!important;
  }

  &--light-red {
    color: $light-red!important;
  }

  &--silver{
    color: $checkbox-auth-color!important;
  }
}