.main {
  &-flex {
    display: flex;

    &-flow {
      &-col {
        flex-flow: column;
      }
      &-row {
        flex-flow: row;
      }
    }
  }
  &-align {
    &-items {
      &-center {
        align-items: center;
      }
    }
  }

  &-text-dots {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}