a {
  text-decoration: none !important;
  cursor: pointer !important;

  transition: all .2s;

  outline: none;

  &:hover, &:focus, &:active {
    color: $textBlack;
    text-decoration: none;

    outline: none;

    cursor: pointer;

    transition: all .3s;
  }
}

button {
  padding: 0;

  outline: none;
  border: none;
  background-color: transparent;

  cursor: pointer;

  transition: all .3s;

  &:focus, &:active, &:hover {
    background: transparent;
    box-shadow: none;
  }
}

a, button, input {
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:focus, &:hover &:active {
    outline: none;
  }
}