/* Colors Variables ********************************************************************/

$black: #000;
$textBlack: #000;

$white-color: #ffffff;
$textWhile: #ffffff;
$light-red: #e76a50;
$red: #d23100;
$blue: #386ac0;
$main-logo-orange: #fb981f;
$main-border-color: #cccccc;

$storage-text-color: #595959;

$inpus-compose-text: #b3b3b8;

$yellow-select-main-menu-color: #e7cb42;

$hr-main-menu-color: #656c7b;
$user-mail-main-menu-color: #a3a7b0;
$user-name-main-menu-color: $white-color;
$bth-add-use-color: #666d7b;

$btn-more-color: #717170;

$inbox-head-text-color: #373737;
$inbox-message-color: #777777;
$inbox-date-message-color: #777777;

$inbox-important-message-color: #ffe6e6;
$inbox-message-round-color: #bcbcbc;
$inbox-message-checked: #f6f5f3;
$inbox-message-avatar-checked: #e4e4e3;

/* Color pallete for mails tags  */
$cp-red: #f44336;
$cp-purpure: #e91e63;
$cp-orange: #ffc107;
$cp-yellow: #ffeb3b;
$cp-green: #4caf50;
$cp-blue: #2196f3;
$cp-blueblack: #3f51b5;
$cp-fiolet: #9c27b0;
$cp-space-gray: #607d8e;
$cp-silver: #9e9e9e;

$important-tags-color: #727272;
$important-tags-active-color: #d23100;

$mail-message-title-color: #282828;
$mail-message-title-bg-color: #f6f5f3;
$mail-message-title--border-color: #ecebea;

$main-btn-color: #808080;

$main-error-bg-color: #ea0006;

$message-replay-btn: #0670c1;

$radiobutton-switch: 0px 3px 6px 0px rgba(0,0,0,0.35);

$select-icon-main-menu-color: #5a8eff;

$header-mein-menu-text-color: #a1a6af;

$header-border-color: #e4e2da;
$header-icon-color: #808080;

$search-border-color: #e6e6e6;

$avatar-bg-symbol-color: #d9d9d9;
$avatar-symbol-color: #ffffff;

$header-color: #e1e5eb;
$menu-main-color: #f3f5f7;      //$menu-main-color: #555d6d;
$menu-text-color: rgba(0, 0, 0, 0.6);
$menu-text-color-active: rgba(0, 0, 0, 1);
$menu-link-bg-active: rgba(0, 0, 0, 0.03);
$crumb-link-color: #1a3dc1;

$silver-notific-color: #999999;
$notific-link-color: #666699;
$notific-auth-color: #808080;
$checkbox-auth-color: #808080;

$link-color: #2052ea;

$link-color-search:#1f73c3;

$hr-auth-color: #d6d6d6;
$hr-main-color: #e5e5e5;
$hr-popup-color: #eeeeee;

//notification
$notification-bg: #f6edb4;

$sillver-input-plsah-color: #9e9e9e;

$validtae-ok-green: #099502;

$active-left-item-menu-color: #8ea4d3;

$silver-avatar-bg-color: #d9d9d9;

$additional-link-color: #666699;
$red-remove-color: #fb0202;
$red-btn-color: #cc0000;
$silver-btn-color: #e6e6e6;

$input-data-valide-test-color:#666666;
$input-data-valide-test-offer-color: #5755d2;
$input-border-color-black-yellow: #ccb764;


$select-input-line-active-item-color: #d8d8d8;
$select-input-line-active-item-hover-color: #cfcfcf;
$select-input-line-avatar-shadow: 0px 0px 0px 2px rgba(255,255,255,1);

$yellow-yandex: #fc0;
$yellow-normal-light: #ffdb4d;
$yellow-lignt: #fee481;
$yellow-hard-light: #ffeba0;


/*
*/

$mail-yellow-color: #f4dd4b;
$mail-yellow-dark-color: #d0b50d;
/*

*/

$signature-pred-publick: f7f6f4;

$auth-footer-color: #352e40;
$auth-sms-bg-color: #ebebeb;

$silver-mail-message-title-color: #7f7f7f;

$message-date-color: #7d7d7d;
$messafe-from-whom-color: #333333;
$massage-content-bg-color: #fff;

$radio-btn-text-label-color: #bcbcbc;
$radio-btn-tag-color: #f8f8f8;
$radio-btn-tag-border-color: #b3b0a7;
$radio-btn-border-color: #bfbaac;


$radibutton-border-color: #c0c2c4;
$radiobutton-border-cheked-color: #c1b275;

$main-switch-border-cheked-color: #ccbd80;


//border
$avatar-border-color: $main-border-color;
$quick-reply-border-color: $main-border-color;

/* Shadow variable *******************************************************************/
$signature-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.35);
$input-insert-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
$form-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
$button-shadow: 0px 0px 2px 0px rgba(255, 219, 77, 0.6);
$input-shadow-yellow: 0px 0px 10px 0px rgba(249,227,139,1);

$menu-shadow: 1px 0px 35px 2px rgba(0,0,0,0.16);

$popup-shadow: 0 0 12px rgba($black,.25);

$input-line-shadow: 0px 1px 0px 0px rgba($yellow-yandex,1);
$select-shadow: 0px 16px 26px -7px rgba(0,0,0,0.32);

$tags-field-border-color: #8e8e8e;


/* Gradient */

$radio-btn-border-gradient: linear-gradient(to bottom, #bfbaac 0%,#e5e1d0 99%);

$radio-btn-gradient: linear-gradient(to bottom, #099502 0%, #d0ffd4 99%);

$btn-gradient: linear-gradient(to bottom, #fefefe 0%,#efefef 100%);

$button-gradient: linear-gradient(to bottom, #fefefe 0%, $mail-yellow-color 100%);

/* Font variable ********************************************************************/
$mainFont: 'HelveticaNeueCyr' , sans-serif;

$mainSecondFont: Verdana, sans-serif;

$mainThreeFont: Arial, sans-serif;

$button-border-color: #c3c4c9;
$button-active-color: #f6f5f3;

$input-hlaceholder-color: #999999;

/* Social Media Brand Colors ********************************************************/

$tw: #00aced;
$fb: #3b5998;
$gp: #dd4b39;
$pn: #cb2027;
$ln: #007bb6;
$yt: #bb0000;
$vm: #1ab7ea;
$tm: #32506d;
$inst: #bc2a8d;
$vk: #45668e;