/* Colors Variables ********************************************************************/

$black: #000;
$textBlack: #000;

$main-border-color: #cccccc;

$header-color: #e1e5eb;
$menu-main-color: #edeff3;
$crumb-link-color: #1a3dc1;

$silver-notific-color: #999999;
$notific-link-color: #666699;
$notific-auth-color: #808080;
$checkbox-auth-color: #808080;

$link-color: #2052ea;

$hr-auth-color: #d6d6d6;
$hr-main-color: #e5e5e5;


$sillver-input-plsah-color: #9e9e9e;

$validtae-ok-green: #099502;

$active-left-item-menu-color: #8ea4d3;

$silver-avatar-bg-color: #d9d9d9;

$additional-link-color: #666699;
$red-remove-color: #fb0202;
$red-btn-color: #cc0000;
$silver-btn-color: #e6e6e6;

$input-data-valide-test-color:#666666;
$input-data-valide-test-offer-color: #5755d2;
$input-border-color-black-yellow: #ccb764;


$yellow-yandex: #fc0;
$yellow-normal-light: #ffdb4d;
$yellow-lignt: #fee481;
$yellow-hard-light: #ffeba0;

$signature-pred-publick: f7f6f4;

$auth-footer-color: #352e40;
$auth-sms-bg-color: #ebebeb;

$silver-mail-message-title-color: #7f7f7f;

$message-date-color: #7f7f8f;
$massage-content-bg-color: #f4f4f4;

//border
$avatar-border-color: $main-border-color;
$quick-reply-border-color: $main-border-color;

/* Shadow variable *******************************************************************/
$signature-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.35);
$input-insert-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
$form-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
$button-shadow: 0px 0px 2px 0px rgba(255, 219, 77, 0.6);
$input-shadow-yellow: 0px 0px 10px 0px rgba(249,227,139,1);



/* Gradient */


$btn-gradient: linear-gradient(to bottom, #fefefe 0%,#efefef 100%);

/* Font variable ********************************************************************/
$mainFont: Arial, sans-serif;

$mainSecondFont: Verdana, sans-serif;

//$mainThreeFont:

$button-border-color: #c3c4c9;
$button-active-color: #f6f5f3;

$input-hlaceholder-color: #999999;

/* Social Media Brand Colors ********************************************************/

$tw: #00aced;
$fb: #3b5998;
$gp: #dd4b39;
$pn: #cb2027;
$ln: #007bb6;
$yt: #bb0000;
$vm: #1ab7ea;
$tm: #32506d;
$inst: #bc2a8d;
$vk: #45668e;