<div class="popup__head">
    <span class="popup__head-title">{{ 'EMPTY_THE_FOLDER' | translate }}</span>
    <button class="icon-close btn btn--not-style btn--main-mobile-color btn--size_s"
            type="button"
            ng-click="vm.cancel()"></button>
    <hr class="hr hr--popup">
</div>

<div class="popup__content pdd--20">
    <div class="font--center">
        {{ 'EMPTY_THE_FOLDER_MSG' | translate: {folder: (vm.folder.name | translate)} }}
    </div>
</div>

<div class="popup__footer">
    <!--<button class="btn btn&#45;&#45;normal btn&#45;&#45;size_l  float&#45;&#45;left"-->
            <!--type="button"-->
            <!--ng-click="vm.cancel(">{{ 'CANCEL' | translate }}-->
    <!--</button>-->

    <button class="btn btn--yellow btn--no-radius width--all height--min-inh font--size20"
            type="button"
            ng-click="vm.close()">
        {{ 'DELETE_WITH_LETTERS' | translate }}
    </button>
</div>